body
  .bx-wrapper .bx-viewport
    section.horizontal-slider#elearning-slide
      article
        p
          color: green
        h3:before
          content: url(images/lcms.png)
  section
    &#web
      article
        a.more
          right: 11%
          top: 79%

      h3
        &.website-title-h3:before
          margin-left: -33px

        &.webdesign-title-h3:before
          margin-left: -33px

        &.elearning-title-h3:before
          margin-left: -33px

        &.questionnary-title-h3:before
          margin-left: -33px

    &#team
      ul
        li
          &:hover, &:focus
            &:before
              background: #242424

    &#libre
      ul
        li a
          &:after
            background: #242424

    &#contact
      article
        h3

          &.phone-h3:before
            left: 55%
            margin-left: -60px

          &.email-h3:before
            left: 55%
            margin-left: -60px

          &.address-h3:before
            left: 55%
            margin-left: -60px
