// CSS reset
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}
// CSS reset done

$font-stack: Inter, sans-serif;
$dark-blue: #000e51;
$medium-blue: #0041C5;
$light-blue: #006fff;
$pale-blue: #ecf4ff;
$gradient-start-blue: $light-blue;
$gradient-stop-blue: #00adff;
$dark-grey: #7f86a8;
$light-grey: #f6f7fb;
$outline-grey: #d7d7ec;
$label-grey: #7f86a8;
$primary-color: $dark-blue;
$text-bright: #fff;
$tablet: 920px;
$phone: 580px;
$laptop: 1200px;

// Universal Box Sizing with Inheritance
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none
}

body {
  & > header, footer {
    background: $dark-blue;
    color: $text-bright;
    position: relative;
  }

  & > header {
    padding: 0 10em;

    @media screen and (max-width: $tablet) {
      padding: 0 2em;
    }

    .logo {
      background: url("/static/images/logo-kozea-white.svg") no-repeat center;
      display: block;
      height: 4em;
      width: 150px;

      @media screen and (max-width: $tablet) {
        height: 3em;
        margin: 0 auto;
      }
    }

    &:not(.hero) {
      background: white;
      border-bottom: 1px solid $outline-grey;
      color: $dark-blue;
      position: sticky;
      top: 0;
      z-index: 10;

      .logo {
        background: url("/static/images/logo-kozea.svg") no-repeat center;
      }

      nav.primary {
        ul li {
          &.active a {
            color: $light-blue;
          }

          &:hover a {
            color: $light-blue;
          }

          a::after {
            background: $light-blue;
          }
        }
      }

      @media screen and (max-width: $tablet) {
        position: initial;
      }
    }
  }

  & > footer {
    padding: 0 10em;

    @media screen and (max-width: $tablet) {
      padding: 0 2em;
    }

    .lower {
      padding: 2em 0;

      @media screen and (max-width: $phone) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 1em 0;

        .left, .right {
          flex: 1 100%;
        }

        .left {
          order: 1;
          text-align: center;
        }

        .right {
          order: 0;

          ul {
            justify-content: center;
          }
        }
      }
    }

    .upper {
      padding: 2em 0;

      @media screen and (max-width: $laptop) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 1em 0;

        .left,
        .center,
        .right {
          flex: 1 100%;
        }

        .left img {
          margin: 0 auto;
        }

        .center ul {
          justify-content: center;
        }
      }

      @media screen and (max-width: $phone) {
        .center ul {
          flex-wrap: wrap;
          text-align: center;

          li {
            flex: 1 100%;
          }
        }
      }
    }

    .logo {
      display: block;
      height: 4em;
    }

    hr {
      border: none;
      background: white;
      height: 1px;
      margin: 0;
    }
  }
}

.columns3-middle-expanded {
  align-items: center;
  display: flex;

  .left, .right {
    flex-basis: 0px; // Make side elements' width equal whatever their content
    flex-grow: 1; // Make both side elements grow centering the middle one
  }

  .center {
    margin: 0 2em;

    @media screen and (max-width: $tablet) {
      margin: 0;
    }
  }

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
  }
}

.columns2-right-expanded {
  align-items: center;
  display: flex;

  .right {
    flex-grow: 1; // expand right column

    ul {
      justify-content: flex-end;
    }
  }
}

nav.primary {
  padding: 1em 0;

  ul {
    display: flex;
    justify-content: center;

    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
      justify-content: left;
    }

    li {
      a {
        display: inline-block;
        margin: 1em;
        position: relative;

        &::after {
          background: white;
          content: '';
          display: block;
          height: 2px;
          left: 0;
          transform: scaleX(0);
          transition: transform .3s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1),-moz-transform .3s cubic-bezier(.4,0,.2,1);
          transform-origin: left;
          position: absolute;
          right: 0;
          width: 100%;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }

      &.active {
        font-weight: bold;

        a::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

nav.alternative {

  ul {
    display: flex;

    li {
      padding: 1em;

      a {
        display: inline-block;
        position: relative;

        &:hover::after {
          transform: scaleX(1);
        }

        &::after {
          background: white;
          bottom: -10px;
          content: '';
          display: block;
          height: 2px;
          left: 0;
          transform: scaleX(0);
          transition: transform .3s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1),-moz-transform .3s cubic-bezier(.4,0,.2,1);
          transform-origin: left;
          right: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}

nav.social-media {
  ul {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: $laptop) {
      justify-content: center;
    }

    li {
      transform: translateZ(0);
      transition-duration: .1s;
      transition-property: transform;
      transition-timing-function: ease-out;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }

  img {
    height: 2.5em;
  }
}

.page-banner {
  background: $dark-blue;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  padding: 5em 0;
  text-align: center;

  @media screen and (max-width: $tablet) {
    padding: 2em;
  }

  .container {
    margin: auto;
    max-width: 30em;

    h1 {
      font-weight: 400;
      margin-bottom: 2em;
    }

    h2 {
    }
  }
}

nav.secondary {
  background: #f1f0f5
}

.small-text {
  font-size: 0.8em;
}

.medium-text {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.light-text {
  color: white;
}

.grey-text {
  color: $dark-grey;
}

.narrow-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}

.medium-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 90%
}

.wide-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  width: 90%;
}

.small-p {
  font-size: 1em;
}

.large-p {
  font-size: 1.5em;
  font-weight: 600;
  margin: 3rem auto;
}

.big-text {
  font-size: 2.5em;
  font-weight: 600;
}

.h-centered {
 text-align: center;
}

.video-container {
  height: 0;
  margin: 0 auto;
  max-width: 1400px;
  overflow: hidden;
  padding-bottom: 33%;
  position: relative;
  width: 100%;

  iframe {
    border: 1px solid $outline-grey;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    // border: 0;
    width: 100%;
  }

  @media screen and (max-width: $laptop) {
    padding-bottom: 56.25%;
  }
}


.big-link {
  color: $light-blue;
  font-size: 3em;
  font-weight: bold;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    background-image: url("/static/images/arrow-blue.svg");
    height: 1em;
    margin-right: 0.5em;
    vertical-align: middle;
    width: 1em;
    transform: translateX(0);
    transition-duration: .1s;
    transition-property: transform;
    transition-timing-function: ease-out;
  }

  &::after {
    background: $medium-blue;
    bottom: 0;
    content: '';
    display: block;
    height: 5px;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1),-moz-transform .3s cubic-bezier(.4,0,.2,1);
    transform-origin: left;
    right: 0;
    position: absolute;
    width: 100%;
  }

  &:hover {
    color: $medium-blue;

    &::before {
      transform: translateX(5px);
    }

    &::after {
      transform: scaleX(1);
    }
  }
}

.rounded-corner {
  border-radius: 15px;
}

.stacking-block {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $tablet) {
    margin: 2rem 0;
  }

  .big-text {
    font-size: 2em;
  }

  h1 {
    font-weight: 600;
  }
}

.gradient-filled {
  background: linear-gradient(to right bottom, $gradient-start-blue, $gradient-stop-blue);
}

.dark-filled {
  background: $dark-blue;
}

.light-filled {
  background: $light-grey;
  margin-top: -3em;
  padding: 2em 0;
}

section {
  margin: 3em 0;

  header {
    margin-bottom: 3em;
  }

  p {
    line-height: 1.5;
    margin: 1rem 0;
  }
}

.grid-wrapper {
  column-gap: 1em;
  display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 1em;

  @at-root #{&}--testimonials {
    border-radius: 3px;
    margin: 0 auto 0;
    max-width: 1400px;
    padding: 2em;
    width: 90%;
  }

  @at-root #{&}--services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      @media screen and (min-width: $laptop) {
        flex-basis: 45%;
        max-width: 45%;
        padding: 2em 3em;
      }

      &__title {
        font-size: 2em;
      }

      .cta-button {
        margin-top: 1em;
      }
    }
  }
}


// BEM components:

.hero {
    background-image: url("/static/images/accueil-header.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;

    @at-root #{&}__hero-text {
      bottom: 5em;
      position: absolute;
      width: 50%;

      @media screen and (max-width: $tablet) {
        padding-top: 3em;
        position: initial;
        text-align: center;
        width: 100%;
      }
    }

    @media screen and (max-width: $tablet) {
      height: initial;
      padding-bottom: 2em;
    }
}

.hero-text {
  @at-root #{&}__title {
    font-size: 4em;
    font-weight: 600;

    @media screen and (max-width: $tablet) {
      font-size: 3em;
    }
  }

  @at-root #{&}__catchphrase {
    font-size: 1.2em;

    @media screen and (max-width: $tablet) {
      font-size: 1em;
    }
  }

  p:not(:last-child) {
    margin-bottom: 2rem;

    @media screen and (max-width: $tablet) {
      margin-bottom: 1rem;
    }
  }
}

.card {
  border-color: $outline-grey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;

  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1em 2em;
  }
}

.card__headline {
  color: $dark-grey;
  font-size: .9em;
}

.card__title {
  font-size: 1.35em;
  font-weight: 600;
  letter-spacing: -.5px;
  margin: 0;
}

.card__body {
}

.card__list {
  list-style: none;

  li {
    display: flex;
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: 1em;

    &::before {
      content: url("/static/images/check.svg");
      display: inline-block;
      margin-right: .8em;
      min-height: 15px;
      min-width: 15px;
      height: 15px;
      width: 15px;
    }
  }
}

.card__cta {
  color: white;
  margin-top: auto;

  a {
    font-size: .9em;
    padding: 1.5em;
  }
}

.card2 {
  border-color: $outline-grey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  text-align: left;
  transition: background 250ms;

  &:hover {
    background: $light-grey;
  }

  @at-root #{&}__title {
    color: $primary-color;
    font-size: 1.2em;
    font-weight: 600;
  }

  @at-root #{&}__body {
  }

  @at-root #{&}__cta {
    color: $light-blue;
    font-weight: 600;
    margin-top: auto;
    transition: color .35s;

    a {
      display: inline-block;
      position: relative;

      &:hover {
        &::before {
          transform: translateX(5px);
        }

        &::after {
          transform: scaleX(1);
        }
      }

      &::before {
        content: "";
        display: inline-block;
        background-image: url("/static/images/arrow-blue.svg");
        height: 1em;
        margin-right: 0.5em;
        vertical-align: middle;
        width: 1em;
        transform: translateX(0);
        transition-duration: .1s;
        transition-property: transform;
        transition-timing-function: ease-out;
      }

      &::after {
        background: $medium-blue;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        transform: scaleX(0);
        transition: transform .3s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1),-moz-transform .3s cubic-bezier(.4,0,.2,1);
        transform-origin: left;
        right: 0;
        position: absolute;
        width: 100%;
      }
    }

    &__to-left{
      a{
        &::before {
        transform: scaleX(-1)
        }

        &:hover {
          &::before {
            transform: scaleX(-1)
          }
        }
      }
    }

    &__to-right{
      a{
        float: right;
        @media screen and (max-width: $phone) {
          float: unset;
        }
        &:hover {
          &::before {
            transform: translateX(0)
          }
        }
      }
    }
  }

  @at-root #{&}__icon {
    width: 50px;
  }

  @at-root #{&}--filled {
    background: $light-grey;
    border-style: none;
    transition: background 250ms;

    .card2__cta a {
      position: relative;

      &:hover::after {
        transform: scaleX(1);
      }

      &::after {
        background: white;
        bottom: 0;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        transform: scaleX(0);
        transition: transform .3s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1),-moz-transform .3s cubic-bezier(.4,0,.2,1);
        transform-origin: left;
        right: 0;
        position: absolute;
        width: 100%;
      }
    }

    &:hover {
      background: $light-blue;
      color: white;

      .card2 {
        &__title, &__cta {
          color: white;
        }

        &__cta a {
          &::before {
            background-image: url("/static/images/arrow-white.svg");
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

.big-card {
  padding: 2em;

  .big-text {
    font-size: 2em;
  }
}

.big-cta-card {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 5em 5em;

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    text-align: center;
  }

  & > * {
    padding-left: 1em;
    padding-right: 1em;
  }

  .cta-button {
    margin-left: auto;

    @media screen and (max-width: $tablet) {
      margin: 0 auto;
    }
  }
}

.big-cta-card__cta {
  flex-shrink: 0; // Never shrink to always keep button label on a single line
  margin-left: auto;

  @media screen and (max-width: $tablet) {
    margin: 0 auto;
  }
}

.cta-button {
  background-color: $light-blue;
  border-radius: 4px;
  color: $text-bright;
  display: inline-block;
  font-weight: 600;
  transition-duration: .3s;
  transition-property: color, background-color;

  &:hover {
    background-color: $medium-blue;
  }

  @at-root #{&}__inner {
    align-items: center;
    display: flex;
    padding: 2em;

    &::before {
      background-image: url("/static/images/arrow-white.svg");
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: 1em;
      margin-right: 0.5em;
      transform: translateX(0);
      transition-duration: .1s;
      transition-property: transform;
      transition-timing-function: ease-out;
      width: 1em;
    }

    &:hover {
      &::before {
        transform: translateX(5px);
      }
    }
  }
}

// BEM mix to round blocks
.rounded-block {
  border-radius: 15px;
  overflow: hidden; // Crop overflowing child images corners
}

.product-banner {
  display: flex;

  @media screen and (max-width: $laptop) {
    flex-wrap: wrap;
  }

  // Section's name

  &__name {
    color: $dark-grey;

    @media screen and (max-width: $tablet) {
      font-size: 1em;
    }
  }

  // Section's title

  &__catchphrase {
    font-size: 2.5em;
    font-weight: 600;
  }

  // Common style on description text

  &__descriptive {
    align-items: flex-start;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    padding: 0 3em 0 0;

    .cta-button {
      margin-top: 1rem;

      @media screen and (max-width: $laptop) {
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width: $laptop) {
      align-items: center;
      flex-basis: 100%;
      padding-right: 0;
      text-align: center;
    }

    & > * {
      @media screen and (max-width: $tablet) {
        margin: .5rem 0;
      }
    }

    &--solo {
      align-items: center;
      flex-basis: auto;
      margin: 0 auto;
      max-width: 70%;
      text-align: center;
    }
  }

  // Common style on illustration

  &__illustrative {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-shrink: 0;

    @media screen and (max-width: $laptop) {
      flex-basis: 100%;
    }
  }

  &__image {
    width: 100%;

    &--portrait {
      padding: 0 10rem;

      @media screen and (max-width: $laptop) {
        margin: 0 auto;
        padding: 0;
        width: 50%;
      }
    }
  }

  // Product banner blue background

  &--dark {
    background: $dark-blue;
    color: $text-bright;

    // Service name product banner hero section

    .product-banner__name {
      color: $text-bright;
    }
  }

  // Product banner white background

  &--light {
    background: white;
    color: $dark-blue;
  }

  // Service advantages list on service page

  &--flipped {
    flex-direction: row-reverse;

    .product-banner__descriptive {
      margin-right: 0;
      padding-left: 3em;

      @media screen and (max-width: $laptop) {
        align-items: flex-start;
        padding: 0;
        text-align: left;
      }
    }
  }

  // Download white paper

  &--padded {
    padding: 2em 5em;

    @media screen and (max-width: $tablet) {
      padding: 2em;
    }
  }

  // Product banner hero section

  &--head {
    padding: 5em;

    @media screen and (max-width: $tablet) {
      padding: 2em;
    }

    .product-banner__catchphrase {
      font-size: 3em;
      margin: .5em 0;

      @media screen and (max-width: $tablet) {
        font-size: 2em;
      }
    }

    // Service description product banner hero section

    .product-banner__description {
      font-size: 1.25em;

      @media screen and (max-width: $tablet) {
        font-size: 1em;
      }
    }

    .product-banner__dark-container {
      display: flex;
      max-width: 1400px;
      margin: 0 auto;

      @media screen and (max-width: $laptop) {
        flex-wrap: wrap;

        .product-banner__descriptive {
          order: 1;
        }

        .product-banner__illustrative {
          order: 0;
        }
      }
    }
  }
}


.key-figures {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 5em;
  padding-top: 5em;

  @media screen and (max-width: $laptop) {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2em;
  }

  @at-root #{&}__figure {
    margin-left: 5em;
    margin-right: 5em;

    @media screen and (max-width: $laptop) {
      flex-basis: 33%;
      margin: .5em 0;
    }

    @media screen and (max-width: $phone) {
      flex-basis: 50%;
      text-align: center;
    }
  }
}

.key-figure {
  @at-root #{&}__number {
    display: block;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.3em;
  }
}

.fact {
  margin-bottom: 15em;
  position: relative;

  @media screen and (max-width: $tablet) {
    margin-bottom: 0;
  }

  @at-root #{&}__illustration {
    background-position: center;
    background-size: cover;
    height: 600px;

    @media screen and (max-width: $tablet) {
      height: 200px;
    }
  }

  @at-root #{&}__illustration--pharminfo {
    background-image: url("../images/pharminfo-presentation.jpg");
  }

  @at-root #{&}__illustration--kozea-media {
    background-image: url("../images/kozea-media-presentation.jpg");
  }

  @at-root #{&}__illustration--backoffice {
    background-image: url("../images/backoffice-presentation.jpg");
  }

  @at-root #{&}__illustration--promomaker {
    background-image: url("../images/promomaker-presentation.jpg");
  }

  @at-root #{&}__illustration--groupement {
    background-image: url("../images/groupement-presentation.jpg");
  }

  @at-root #{&}__illustration--a-propos {
    background-image: url("../images/a-propos-equipe.jpg");
  }

  @at-root #{&}__content {
    border-radius: 5px;
    bottom: 0;
    background: $dark-blue;
    color: $text-bright;
    line-height: 1.5;
    font-size: 1.5em;
    font-weight: 500;
    padding: 3em;
    position: absolute;
    transform: translate(3em, 50%);
    width: 25em;

    @media screen and (max-width: $tablet) {
      font-size: 1em;
      position: initial;
      transform: none;
      width: auto;
    }
  }

  @at-root #{&}__figure {
    display: block;
    font-size: 2em;
    font-weight: 600;
  }

  @at-root #{&}__content--story {
    font-size: 1rem;
    line-height: 2;
    width: 35em;
    .fact__header {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  @at-root #{&}--story {
    margin-bottom: 20em;

    @media screen and (max-width: $tablet) {
      margin-bottom: 0;
    }
    .fact__content {
      font-size: 1rem;
      line-height: 2;
      width: 35em;

      @media screen and (max-width: $tablet) {
        width: 100%;
      }
    }
    .fact__header {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
}

  // Feature list description advantages

.feature-list {
  line-height: 2;
  list-style: none;

  li {
    align-items: center;
    display: flex;
    margin: 1em 0;

    &:before {
      content: '';
      display: inline-block;
      margin-right: .5em;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      min-width: 35px;
      min-height: 35px;
      height: 35px;
      width: 35px;
    }
  }

  &__pharminfo {
    &--disponibility::before {
      background: url("/static/images/pharminfo-disponibility.svg");
    }

    &--turnover::before {
      background: url("/static/images/pharminfo-turnover.svg");
    }

    &--clients::before {
      background: url("/static/images/pharminfo-clients.svg");
    }

    &--listen::before {
      background: url("/static/images/pharminfo-listen.svg");
    }

    &--rules::before {
      background: url("/static/images/pharminfo-rules.svg");
    }
  }

  &__kozea-media {
    &--visibility::before {
      background: url("/static/images/kozea-media-visibility.svg");
    }

    &--rules::before {
      background: url("/static/images/kozea-media-rules.svg");
    }

    &--results::before {
      background: url("/static/images/kozea-media-results.svg");
    }

    &--support::before {
      background: url("/static/images/kozea-media-support.svg");
    }

    &--satisfaction::before {
      background: url("/static/images/kozea-media-satisfaction.svg");
    }
  }

  &__backoffice {

    &--time::before {
      background: url("/static/images/backoffice-time.svg");
    }

    &--money::before {
      background: url("/static/images/backoffice-money.svg");
    }

    &--accelerate::before {
      background: url("/static/images/backoffice-accelerate.svg");
    }

    &--simplification::before {
      background: url("/static/images/backoffice-simplification.svg");
    }

    &--statistics::before {
      background: url("/static/images/backoffice-statistics.svg");
    }
  }

  &__promomaker {
    &--simplicity::before {
      background: url("/static/images/promomaker-simplicity.svg");
    }

    &--automation::before {
      background: url("/static/images/promomaker-automation.svg");
    }

    &--tool::before {
      background: url("/static/images/promomaker-tool.svg");
    }

    &--access::before {
      background: url("/static/images/promomaker-access.svg");
    }

    &--security::before {
      background: url("/static/images/promomaker-security.svg");
    }
  }

  &__groupement {
    &--offers::before {
      background: url("/static/images/groupement-offers.svg");
    }

    &--actions::before {
      background: url("/static/images/groupement-actions.svg");
    }

    &--reporting::before {
      background: url("/static/images/groupement-reporting.svg");
    }

    &--contact::before {
      background: url("/static/images/groupement-contact.svg");
    }
  }
}

.map {
  @at-root #{&}__map {
    height: 500px;
    z-index: 9;
  }

  @at-root #{&}__address {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 35em;

    @media screen and (max-width: $tablet) {
      width: 100%;
    }
  }
}

.address {
  background: $dark-blue;
  border-radius: 5px;
  color: $text-bright;
  display: flex;
  line-height: 2;
  justify-content: space-around;
  padding: 3em;

  @at-root #{&}__heading {
    font-weight: bold;
  }
}

.testimony {
  background: $text-bright;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em 3em;
  position: relative;
  text-align: left;

  &::before {
    content: url("/static/images/quote.svg");
    display: block;
    left: 3em;
    height: 3em;
    position: absolute;
    top: -1.5em;
    width: 3em;
  }

  @at-root #{&}__content {
    margin-bottom: 3em;
  }

  @at-root #{&}__author {
    align-items: center;
    display: flex;
    font-size: .9em;
    height: 100px;
    line-height: 1.5em;
    margin-top: auto;
  }

  @at-root #{&}__author-name {
    font-weight: bold;
  }

  @at-root #{&}__label {
    padding-left: 1em;
  }

  @at-root #{&}__pp {
    background: $light-grey url("/static/images/testimony-avatar.svg") no-repeat center;
    background-size: 50%;
    border-radius: 100%;
    flex-shrink: 0;
    height: 100px;
    width: 100px;
  }
}

.carousel {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  li {
    align-items: center;
    display: flex;
  }

  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
  }

  @at-root #{&}__item {
    max-height: 3.5rem;

    @media screen and (max-width: $tablet) {
      height: 50px;
    }
  }
}

.article-tag-list {
}

.article-tag {
  background: $pale-blue;
  border-radius: 3px;
  color: $light-blue;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  list-style :none;
  padding: 0.5em 1em;
  margin-top: 0.5rem;
}



.article-info {
  width: 100%;
  font-size: 0.9rem;

  @at-root #{&}__main {
    align-items: center;
    color: $label-grey;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $phone) {
      margin-block: -1rem ;
    }

    img{
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }
  }

  hr {
    border: 1px solid $light-grey;
    @media screen and (max-width: $phone) {
      border: unset;
    }
  }
}

.article-list{
  display: flex;
  gap: 2rem;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }

  p{
    line-height: 1.15;
  }

  &__filter{
    flex:1;

    .card{
      position: sticky;
      top: 6em;
    }

    ul{
      max-height: 280px;
      overflow-y: auto;

      @media screen and (max-width: $tablet) {
        max-height: 160px;
      }
    }

    li {
      display: flex;
      list-style :none;
      margin-bottom: 1em;

      &::before {
        content: url("/static/images/bullet-point.svg");
        display: inline-block;
        margin-right: .8em;
        min-height: 10px;
        min-width: 10px;
        height: 10px;
        width: 10px;
      }

      &:hover {
        color: $light-blue;
      }

      &.active {
        color: $light-blue;
        font-weight: bold;
        &::before {
          content: url("/static/images/bullet-point-active.svg");
        }
      }
    }

    p{
      margin-bottom: 1em;
    }
  }

  &__list{
    flex: 3;

    .card {
      border-width: 0;

      figcaption{
        padding: 0em;

        ul{
          padding: 1em 0
        }

        .card__title {
          padding-bottom: 1em
        }

      }
    }

    .big-link {
      font-size: 1.5em;

      &::before{
        margin-right: 0;
      }

      &::after {
        height: 2px;
      }
    }

    .grid-wrapper{
      grid-template-columns: repeat(auto-fit, minmax(300px, 32%));

      @media screen and (max-width: $laptop) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 45%));
      }

      @media screen and (max-width: $phone) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }

      .card {
        width: 100%;
      }
    }

    .grid-wrapper--services{
      .card {
        padding: 0;
        width: 100%;
      }
    }


    &__similar{
      .grid-wrapper{
        @media screen and (max-width: $tablet) {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .card{
        @media screen and (max-width: $tablet) {
          flex-direction: row;
          gap: 1rem;
          padding: 1rem 0;
          align-items: center;

          &__title{
            font-size: 1.5em;
            padding: 1rem 0;
          }
        }

        @media screen and (max-width: $phone) {
          &__title{
            font-size: 1em;
            padding: 0.5rem 0 0;
          }
        }

        .article-img{
          @media screen and (max-width: $tablet) {
            img{
              width: unset;
            }
          }

          @media screen and (max-width: $phone) {
            img{
              height: 100px;
            }
          }
        }
      }
    }
  }
}

.article-header{
  margin-bottom: 20em;

  @media screen and (max-width: $tablet) {
    margin-bottom: 0;
  }

  .medium-content{
    text-align: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: $tablet) {
      flex-direction: column-reverse;
      background-color: $text-bright;
      gap: 0
    }
  }

  &__title{
    font-size: 2.4em;
    font-weight: 600;
    text-align: center;

    @media screen and (max-width: $tablet) {
      font-size: 1.5em ;
      color: $dark-blue;
      margin: 1rem;
    }
  }

  &__image{
    img{
      @media screen and (max-width: $tablet) {
        width: 100%;
      }
    }
  }

  .page-banner {
    height: 500px;

    @media screen and (max-width: $tablet) {
      height: unset;
    }
  }
}

.article-detail{
  display: flex;
  justify-content: space-around;
  gap: 2rem;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }

  &__left-container{
    flex: 1;
    @media screen and (min-width: $tablet) {
      position: sticky;
      top: 6em;
      height: 100%;
    }

    &__toc-container{
      @media screen and (max-width: $tablet) {
        background-color: $light-grey;
        padding: 2rem 3rem 0;
        border-left: 2px solid $light-blue;
      }

      .toc{
        color: $label-grey;

        @media screen and (max-width: $tablet) {
          color: $dark-blue;
        }

        ul{
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem 0;
        }

        li{
          &:hover {
            color: $light-blue;
          }
        }
      }

      hr {
        border: 1px solid $light-grey;

        @media screen and (max-width: $tablet) {
          border: unset;
        }
      }
    }

    &__share{
      ul{
        display: flex;
        flex-direction: column;
        padding-right: 4rem;

        @media screen and (max-width: $tablet) {
          flex-direction: row;
          gap: 0.5rem;
          padding-right: 0;
        }
      }

      a{
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $tablet) {
          flex-direction: row;
        }
      }
    }
  }

  &__content{
    flex: 2.5;
  }
}

.article-text{
  p{
    line-height: 1.75;
  }

  h2{
    font-size: 1.3rem;
    position: relative;

    &::before {
      display: block;
      content: " ";
      margin-top: -5em;
      height: 5em;
      visibility: hidden;
    }
  }

  blockquote, q {
    color: $dark-grey;
    margin: 1.5rem;
  }

  li{
    margin: 1rem;
  }

  a{
    font-weight: bold;
  }

  img{
    width: 100%;
  }
}

.share-button {
  background: $light-blue;
  border-radius: 3px;
  color: $text-bright;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5em 1em;
  margin-top: 1em;

  @media screen and (max-width: $phone) {
    font-size: 0.7rem;
  }

  &:hover {
    background-color: $medium-blue;
  }

  @at-root #{&}__facebook {
    &::before {
      background-image: url("/static/images/social/facebook.svg");
      content: "";
      display: inline-block;
      height: 2em;
      margin-right: 0.5em;
      width: 2em;
      vertical-align: middle;
    }
  }

  @at-root #{&}__twitter{
    &::before {
      background-image: url("/static/images/social/twitter.svg");
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: 2em;
      margin-right: 0.5em;
      width: 2em;
      vertical-align: middle;
    }
  }

  @at-root #{&}__linkedin{
    &::before {
      background-image: url("/static/images/social/linkedin.svg");
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: 2em;
      margin-right: 0.5em;
      width: 2em;
      vertical-align: middle;
    }
  }
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;

  a{
    margin: 10px;
    font-weight: 400;
    &:active a {
      color: $light-blue;
    }
  }

  .active {
    background: $light-blue;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.5em 1em;
  }

  .arrow{
    font-size: 0;

    &::before {
      content: "";
      display: inline-block;
      font-size: 1.5rem;
      background-image: url("/static/images/arrow-blue.svg");
      height: 1em;
      margin-right: 0.5em;
      vertical-align: middle;
      width: 1em;
      transform: translateX(0);
      transition-duration: .1s;
      transition-property: transform;
      transition-timing-function: ease-out;
    }
  }

  .arrow:first-child{
    &::before {
      transform: scaleX(-1)
    }
  }

  .disabled{
    opacity: 0.5;
  }
}

.pinned-article{
  .product-banner__catchphrase{
    line-height: 1.15;
  }

  .big-link {
    font-size: 1.5em;
    &::before{
      margin-right: 0;
    }

    &::after {
      height: 2px;
    }
  }

  .product-banner--flipped{
    @media screen and (max-width: $laptop) {
      flex-direction: column-reverse;
    }
  }

  .product-banner__descriptive {
    padding: 3em;
    @media screen and (max-width: $laptop) {
      padding: 6rem 3rem 0;
    }

    @media screen and (max-width: $tablet) {
      padding: 0 1.5rem;
    }
  }

  .product-banner__catchphrase{
    @media screen and (max-width: $phone) {
      font-size: 1.5rem;
    }
  }
}

