// CSS reset
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}
// CSS reset done

$font-stack: Inter, sans-serif;
$dark-blue: #000e51;
$medium-blue: #0041C5;
$light-blue: #006fff;
$gradient-start-blue: $light-blue;
$gradient-stop-blue: #00adff;
$dark-grey: #7f86a8;
$light-grey: #f6f7fb;
$outline-grey: #d7d7ec;
$label-grey: #7f86a8;
$primary-color: $dark-blue;
$text-bright: #fff;
$tablet: (max-width: 920px);

// Universal Box Sizing with Inheritance
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

a {
  color: inherit;
  text-decoration: none
}

body {
  & > header, footer {
    background: $dark-blue;
    color: $text-bright;
    position: relative;

  }

  & > header {
    padding: 0 10em;

    @media #{$tablet} {
      padding: 0 2em;
    }

    .logo {
      display: block;
      height: 4em;

      @media #{$tablet} {
        height: 3em;
        margin: 0 auto;
      }
    }
  }

  & > footer {
    padding: 0 10em;

    .lower {
      padding: 2em 0;
    }
    .upper {
      padding: 2em 0;
    }
    .logo {
      display: block;
      height: 4em;
    }
    hr {
      border: none;
      background: white;
      height: 1px;
      margin: 0;
    }
  }
}

.columns3-middle-expanded {
  align-items: center;
  display: flex;
  .left, .right {
    flex-basis: 0px; // Make side elements' width equal whatever their content
    flex-grow: 1; // Make both side elements grow centering the middle one
  }
  .center {
    margin: 0 2em;

    @media #{$tablet} {
      margin: 0;
    }
  }

  @media #{$tablet} {
    flex-wrap: wrap;
    margin-bottom: 3em;
  }
}

.columns2-right-expanded {
  align-items: center;
  display: flex;
  .right {
    flex-grow: 1; // expand right column
    ul {
      justify-content: flex-end;
    }
  }
}

.lower {
  .right {
    ul {
      justify-content: flex-end;
    }
  }
}

nav.primary {
  padding: 1em 0;

  @media #{$tablet} {
    padding: 0;
  }

  ul {
    display: flex;
    justify-content: center;

    @media #{$tablet} {
      flex-wrap: wrap;
      justify-content: left;
    }

    li {
      a {
        display: inline-block;
        padding: 1em 1em;
      }

      &.active {
        font-weight: bold;
        a {
          text-decoration: underline;
          text-decoration-thickness: 0.1em;
        }
      }
    }
  }
}

nav.alternative {
  ul {
    display: flex;
    li {
      a {
        display: inline-block;
        padding: 1em 1em;
      }
    }
  }
}

nav.social-media {
  ul {
    display: flex;
    justify-content: flex-end;
  }

  img {
    height: 2.5em;
  }
}

.page-banner {
  background: $dark-blue;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  padding: 5em 0;
  text-align: center;

  .container {
    margin: auto;
    max-width: 30em;

    h1 {
      margin-bottom: 2em;
    }

    h2 {
    }
  }
}

nav.secondary {
  background: #f1f0f5
}

.small-text {
  font-size: 0.8em;
}

.light-text {
  color: white;
}

.grey-text {
  color: $dark-grey;
}

.narrow-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}

.wide-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  width: 90%;
}

.small-p {
  font-size: 1em;
}

.large-p {
  font-size: 1.2em;
  font-weight: bold;
}

.big-text {
  font-size: 2em;
  font-weight: bold;
}

.h-centered {
 text-align: center;
}

.justified {
  text-align: justify;
}

.big-link {
  color: $light-blue;
  font-size: 3em;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}

.rounded-corner {
  border-radius: 5px;
}

.stacking-block {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  & > * {
    margin: 0.5rem 0;
  }
}

.gradient-filled {
  background: linear-gradient(to right bottom, $gradient-start-blue, $gradient-stop-blue);
}

.dark-filled {
  background: $dark-blue;
}

section {
  header {
    margin-bottom: 3em;
  }

  p {
    line-height: 1.5;
    margin: 1rem 0;
  }

  margin-bottom: 3em;
  margin-top: 3em;
}

.grid-wrapper {
  column-gap: 1em;
  display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 1em;
}


// BEM components:

.hero {
    background-image: url("/static/images/accueil-header.png");
    background-position: center;
    background-size: cover;
    height: 100vh;

    @at-root #{&}__hero-text {
      bottom: 5em;
      position: absolute;
      width: 50%;

      @media #{$tablet} {
        position: initial;
        width: 100%;
      }
    }

    @media #{$tablet} {
      height: initial;
      padding-bottom: 2em;
    }
}

.hero-text {
  @at-root #{&}__title {
    font-size: 4em;
    font-weight: bold;

    @media #{$tablet} {
      font-size: 3em;
    }
  }

  @at-root #{&}__catchphrase {
    font-size: 1.2em;

    @media #{$tablet} {
      font-size: 1em;
    }
  }

  p:not(:last-child) {
    margin-bottom: 3rem;

    @media #{$tablet} {
      margin-bottom: 1rem;
    }
  }
}

.card {
  border-color: $outline-grey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;

  img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }

  figcaption {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1em;
    p, div {
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }

}

.card__headline {
  color: $dark-grey;
  font-size: 0.7em;
}

.card__title {
  color: $primary-color;
  font-size: 1.2em;
  font-weight: 600;
}

.card__body {
}

.card__list {
  list-style: inside "✓";
  li {
    margin-bottom: 1em;
  }
}

.card__cta {
  color: white;
  a {
    font-weight: normal;
    padding: 1em;
  }
}

.card2 {
  border-color: $outline-grey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  text-align: left;

  @at-root #{&}__title {
    color: $primary-color;
    font-size: 1.2em;
    font-weight: 600;
  }

  @at-root #{&}__body {
  }

  @at-root #{&}__cta {
    color: $light-blue;
    font-weight: bold;
  }

  @at-root #{&}__icon {
    width: 75px;
  }

  @at-root #{&}--filled {
    background: $light-grey;
    border-style: none;
  }
}

.big-card {
  padding: 5em 5em;
}

.big-cta-card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5em 5em;

  & > * {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.big-cta-card__cta {
  flex-shrink: 0; // Never shrink to always keep button label on a single line
}

.cta-button {
  background-color: $light-blue;
  border-radius: 4px;
  color: $text-bright;
  display: inline-block;
  font-weight: bold;
  transition: background-color 150ms;

  &:hover {
    background-color: $medium-blue;
  }

  @at-root #{&}__inner {
    align-items: center;
    display: flex;
    padding: 2em;

    &::before {
      content: "";
      display: inline-block;
      background-image: url("/static/images/arrow-white.svg");
      height: 1em;
      margin-right: 0.5em;
      width: 1em;
    }
  }
}

.product-banner {
  display: flex;
}

.product-banner--dark {
  background: $dark-blue;
  color: $text-bright;
}

.product-banner--head {
  padding: 5em;

  .product-banner__catchphrase {
    font-size: 3em;
  }

  .product-banner__description {
    font-size: 1.5em;
  }

  .product-banner__name {
    font-size: 1.5em;
  }
}

.product-banner--padded {
  padding: 0 5em;
}

.product-banner--flipped {
  flex-direction: row-reverse;
  .product-banner__descriptive {
    margin-left: 2em;
    margin-right: 0;
  }
}

.product-banner__descriptive {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  justify-content: center;
  margin-right: 2em;

  & > * {
    margin: 2rem 0;
  }
}

.product-banner__illustrative {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  flex-shrink: 0;
}

.product-banner__name {
}

.product-banner__catchphrase {
  font-size: 2em;
  font-weight: bold;
}

.product-banner__description {
}

.product-banner__image {
  width: 100%;
}

.product-banner__image--portrait {
  margin: 0 8em;
}

.key-figures {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 5em;
  padding-top: 5em;

  @at-root #{&}__figure {
    margin-left: 5em;
    margin-right: 5em;
  }
}

.key-figure {
  @at-root #{&}__number {
    display: block;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.3em;
  }
}

.fact {
  margin-bottom: 15em;
  position: relative;

  @at-root #{&}__illustration {
    background-position: center;
    background-size: cover;
    height: 600px;
  }

  @at-root #{&}__illustration--pharminfo {
    background-image: url("../images/pharminfo-presentation.jpg");
  }

  @at-root #{&}__illustration--kozea-media {
    background-image: url("../images/kozea-media-presentation.png");
  }

  @at-root #{&}__illustration--backoffice {
    background-image: url("../images/backoffice-presentation.png");
  }

  @at-root #{&}__illustration--promomaker {
    background-image: url("../images/promomaker-presentation.png");
  }

  @at-root #{&}__illustration--groupement {
    background-image: url("../images/groupement-presentation.jpg");
  }

  @at-root #{&}__illustration--a-propos {
    background-image: url("../images/a-propos-equipe.png");
  }

  @at-root #{&}__content {
    border-radius: 5px;
    bottom: 0;
    background: $dark-blue;
    color: $text-bright;
    line-height: 1.5;
    font-size: 1.5em;
    font-weight: 500;
    padding: 3em;
    position: absolute;
    transform: translate(3em, 50%);
    width: 25em;
  }

  @at-root #{&}__figure {
    display: block;
    font-size: 2em;
    font-weight: bold;
  }

  @at-root #{&}__content--story {
    font-size: 1rem;
    line-height: 2;
    width: 35em;
    .fact__header {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  @at-root #{&}--story {
    margin-bottom: 20em;
    .fact__content {
      font-size: 1rem;
      line-height: 2;
      width: 35em;
    }
    .fact__header {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.feature-list {
  line-height: 2;
  list-style-position: inside;
}

.map {
  @at-root #{&}__map {
    height: 500px;
  }

  @at-root #{&}__address {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 35em;
  }
}

.address {
  background: $dark-blue;
  border-radius: 5px;
  color: $text-bright;
  display: flex;
  line-height: 2;
  justify-content: space-around;
  padding: 3em;

  @at-root #{&}__heading {
    font-weight: bold;
  }
}

.testimony {
  text-align: left;

  @at-root #{&}__content {
    margin-bottom: 3em;
  }

  @at-root #{&}__author {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-around;
  }

  @at-root #{&}__author-name {
    font-weight: bold;
  }
}

.carousel {
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  @at-root #{&}__item {
    height: 75px;
  }
}
