$primary: rgba(26,37,48,1);
$secondary: #f9f9f9;
$text: #1c1c1c;
$a: #69737c;
$h1: $text;
$h2: $primary;
$platform: #007bb8;
$link:#f49a2f;
$media: #e53c4c;
$community: #6e5f84;
$border: darken($secondary,5%);
$footer_titles: #C1C8D0;