$primary: rgba(90,73,52,66);
$secondary: #f9f9f9;
$text: #1c1c1c;
$a: #36597c;
$h1: $text;
$h2: $primary;
$platform: #017ab9;
$link:#f79b2d;
$media: #e53d4c;
$community: #6e6086;
$border: darken($secondary,2.5%);
$footer_titles: #C1C8D0;