@media screen and (max-width: 1024px) {
  html body {
    &#index #news ul li {
      padding: 15px;
    }

    &#references section ul li {
      padding: 40px 0;
    }

    &#contact section > dl {
      margin-right: 50%;
      width: 50%;
    }

    footer {
      dl dd:last-of-type ul {
        flex-direction: column;

        li:last-child {
          margin-left: 9px;

          &:before {
            content: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  html body#about #story ul li {
    &:first-child, &:last-child {
      margin: 0 ;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
  html body {
    &#about #story ul li:nth-child(2) {
      margin-right: 0;
    }

    &#activity section {
      &#platform, &#link, &#media, &#community {
        > section {
          width: 50%;

          &#digital, &#advice, &#work, &#free, &#projects {
            margin-left: 0;
          }

          &#professionnals, &#project {
            margin-right: 0;
          }

          &#digital:after {
            height: 130%;
            left: 55%;
            top: -160px;
            width: 120%;
          }

          &#work {
            align-self: flex-end;
          }

          &#projects {
            width: 100%;
          }
        }
      }

      &#platform :before {
        left: 5%;
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
  html body {
     &#about {
      #story ul li {
        width: 50%;

        &:first-child, &:last-child {
          margin-left: 0;
        }
      }

      #team #members section {
        width: 50%;
      }
    }

    &#index #follow .insta li, .insta:after {
      height: 230px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  html body {
    &#index {
      header h1:before {
        top: calc(50% - 200px);
      }

      #about p {
        left: calc(50% - 35%);
        width: 70%;
      }

      #activity dl dd {
        height: 200px;
      }
    }

    &#about #team #tools ul {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  html body {
    &#index {
      #about p {
        font-size: 1.5em;
      }

      #partners ul li {
        box-sizing: border-box;
        padding: 20px 0;
        width: 50%;
      }

      #follow {
        .insta li, .insta:after {
          width: 50%;
        }
      }
    }

    &#references section ul li {
      width: 50%;
    }

    &#contact section {
      > dl {
        margin-right: 25%;
        width: 75%;
      }

      form {
        margin-top: -2px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  html {
    body {
      > section p.intro {
        box-sizing: border-box;
        font-size: 1.2em;
        padding: 0 30px;
        width: 100%;
      }

      &#index {
        header h1:before {
          left: calc(50% - 55px);
          top: calc(50% - 210px);
          width: 110px;
        }

        #about p {
          left: initial;
        }

        #activity dl {
          flex-direction: column;
          width: 100%;

          dd {
            width: 100%;

            a {
              transform: none;
            }
          }
        }
        
        #news ul {
          flex-direction: column;

          > li {
            width: 100% !important;

            &:first-child {
              height: 200px;
            }
          }
        }

        #follow {
          .insta li, .insta:after {
           height: 230px;
          }
        }
      }

      &#about {
        #story {
          blockquote {
            display: none;

            & + p + p, & + p {
              width: 100%;
            }
          }

          #numbers li {
            margin: 0;
            width: 100%;
          }
        }

        #team section {
          justify-content: center;
          width: 100%;

          &#members {
            section, h3 {
              height: 100%;
              width: 100%;
            }

            section {
              img {
                position: initial;
                width: 100%;
              }

              h4, p {
                display: none;
              }

              &:after {
                content: none;
              }
            }
          }

          &#tools {
            ul, ul li {
              width: 100%;
            }
          }
        }
      }

      &#activity {
        section {
          &#platform, &#link, &#media, &#community {
            flex-direction: column;
            margin-top: 20%;

            > * {
              margin: 0 !important;
              width: 100%;
            }

            h2 {
              display: none;
            }

            &:before {
              left: 0;
              order: -2;
              position: relative;
              top: 0;
            }

            section:first-of-type:after {
              content: none;
            }
          }

          &#community {
            align-items: center;

            section#free:after {
              content: none;
            }

             section#projects ul {
              li, li a {
                width: 100%;
              }
            }
          }
        }
      }

      &#expertise {
        #missions {
          #backoffice, #satisfaction, #develop, #big-data {
            margin: 0;
            width: 100%;
          }

          #develop:after {
            content: none;
          }

          section:first-of-type {
            &:after {
              content: none;
            }

            img {
              position: initial;
            }
          }
        }

        #skills {
          background: none;

          ul {
            height: initial;

            li {
              width: 100%;

              &:nth-of-type(3) {
                margin: 0;
              }
            }
          }
        }

        #goals ul {
          flex-direction: column;

          li {
            margin-bottom: 50px;
            width: 100%;
          }
        }
      }

      &#references section ul li {
        padding: 20px 0;
        width: 100%;
      }

      &#contact section {
        dl, form, #map {
          width: 100%;
          margin: 0;
        }
      }

      &#legal section {
        box-sizing: border-box;
        padding: 10px;
      }

      span#background-line {
        display: none;
      }

      footer dl {
        padding: 0 10px;

        dt, dd {
          border-left: none;
          order: initial;
          width: 100%;
        }

        dd {
          &:first-of-type, &:last-of-type li:last-child {
            margin-left: 9px;
          }
        }
      }
    }
  }
}