/*== burger menu when navigation is to short */
html .collapsible {
  .collapsible-icon {
    background: white;
    cursor: pointer;
    display: block;
    height: 3px;
    margin: 30px auto;
    position: relative;
    transition: all .2s ease-in-out;
    width: 25px;

    &:before, &:after {
      background: white;
      content: '';
      height: 3px;
      position: absolute;
      transition: all .2s ease-in-out;
      width: 25px;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }
  }

  span.clicked {
    background: transparent;

    &:before {
      transform: rotate(45deg) translate(5px, 6px);
    }

    &:after {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }

  .menu {
    text-align: center;

    li:first-child a:before {
      content: none;
    }
  }
}



@media screen and (max-width: 1024px) {
  html body {
    &#index #news ul li {
      padding: 15px;
    }

    &#activity {
      section#media section#solutions {
        margin-top: -387px;
      }

      section#link section#backflip {
        margin-top: -268px;
      }
    }

    &#references section ul li {
      padding: 40px 0;
    }

    &#contact section > dl {
      margin-right: 17%;
      width: 50%;
    }

    footer {
      dl dd:last-of-type ul {
        flex-direction: column;

        li:last-child {
          margin-left: 9px;

          &:before {
            content: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  html body#about #story ul li {
    &:first-child, &:last-child {
      margin: 0 ;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  html body {
    &#index #news ul li {
      &:after {
        height:  calc(100% - 30px);
        left: 15px;
        top: 15px;
        width: calc(100% - 30px);
      }

      &#newsletter, &#download-brochure {
        margin-left: 0;
        width: 50%;
      }

      &#press-release {
        height: 100%;

        &:before {
          top: calc(50% - 15px);
        }
      }
    }

    &#about { 
      #story ul li:nth-child(2) {
        margin-right: 0;
      }

      #team #members {
        justify-content: center;
      }
    }


    &#activity section {
      &#platform, &#link, &#media, &#community {
        > section {
          width: 50%;

          &#digital, &#advice, &#work, &#free, &#projects {
            margin-left: 0;
          }

          &#professionnals, &#project {
            margin-right: 0;
          }

          &#advice:after {
            left: 70%;
            width: 100%;
          }

          &#work {
            align-self: flex-end;
          }

          &#projects {
            width: 100%;
          }
        }
      }

      &#platform {
        &:before {
          left: 2%;
        }

        #digital:after {
          height: 130%;
          left: 50%;
          top: -110px;
          width: 120%;
        }
      }

      &#community section#free:after {
        left: 70%;
      }
    }

    &#contact {
      section form {
        margin-top: -402px;

        textarea {
          min-height: 130px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html body {
    header #go-to-about {
      display: none;
    }

    &#index {
      header h1:before {
        width: 100px;
        left: calc(50% - 50px);
        top: calc(50% - 130px);
      }

      #about p {
        font-size: 1.9em;
        margin-top: 30px;
      }

      #partners ul li {
        box-sizing: border-box;
        padding: 20px 0;
        width: 50%;
      }

      #follow {
        .insta li, .insta:after {
          width: 50%;
        }
      }
    }

    &#about {
      img {
        width: 100%;
      }
    }

    &#references section ul li {
      width: 50%;
    }

    &#contact section {
      > dl {
        width: 75%;
      }

      #map {
        margin-top: 0;
      }
    }

    span#background-line:after {
      content: none;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  html body {
    &#index {
      #about p {
        left: calc(50% - 35%);
        width: 70%;
      }

      #activity dl dd {
        height: 200px;
      }
    }

    &#about #team {
      #tools ul {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 461px) and (max-width:640px) {
  html body {
    &#activity section {
      &#community {
        margin-top: 15%;

        section#free:after  {   
          left: 40%;
        }
      }

      &#media section#solutions {
        margin-top: -490px;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  html body {
    &#about {
      #story ul li {
        width: 50%;

        &:first-child, &:last-child {
          margin-left: 0;
        }
      }

      #team #members {
        justify-content: flex-start;

        section {
          width: 50%;
        }
      }
    }

    &#index #follow .insta li, .insta:after {
      height: 230px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width:568px) {
  html body#activity {
    section#link section#backflip {
       margin-top: -328px; 
    }

    section#media section#solutions {
      margin-top: -530px;
    }
  }
}

@media screen and (max-width: 481px) {
  html {
    body {
      > section p.intro {
        box-sizing: border-box;
        font-size: 1.2em;
        padding: 0 30px;
        width: 100%;
      }

      &#index {
        header h1:before {
          top: calc(50% - 138px);
        }

        #about p {
          display: none;
        }

        #activity dl {
          flex-direction: column;
          width: 100%;

          dd {
            width: 100%;

            a {
              transform: none;
            }
          }
        }

        #news ul {
          flex-direction: column;

          > li {
            &#newsletter, &#download-brochure, &#press-release {
              width: 100%;
              margin-left: 0;
            }
          }
        }

        #follow {
          .insta li, .insta:after {
           height: 230px;
          }
        }
      }

      &#about {
        #story {
          img {
            & + p + p, & + p {
              width: 100%;
            }
          }

          #numbers li {
            margin: 0;
            width: 100%;
          }
        }

        #team section {
          justify-content: center;
          width: 100%;

          &#members {
            h3 {
              width: 100%;
            }

            section {
              display: none;
            }
          }

          &#tools {
            ul, ul li {
              width: 100%;
            }
          }
        }
      }

      &#activity {
        section {
          &#platform, &#link, &#media, &#community {
            flex-direction: column;
            margin-top: 20%;

            > * {
              margin: 0 !important;
              width: 100%;
            }

            h2 {
              display: none;
            }

            &:before {
              left: 0;
              order: -2;
              position: relative;
              top: 0;
            }

            section:first-of-type:after {
              content: none;
            }
          }

          &#community {
            align-items: center;

            section#free:after {
              content: none;
            }

             section#projects ul {
              li, li a {
                width: 100%;
              }
            }
          }
        }
      }

      &#expertise {
        #missions {
          #gestion-backoffice, #satisfaction, #develop, #big-data {
            margin: 0;
            width: 100%;
          }

          #develop:after {
            content: none;
          }

          section:first-of-type {
            &:after {
              content: none;
            }

            img {
              position: initial;
            }
          }
        }

        #skills {
          background: none;

          ul {
            height: initial;

            li {
              width: 100%;

              &:nth-of-type(3) {
                margin: 0;
              }
            }
          }
        }

        #goals ul {
          flex-direction: column;

          li {
            margin-bottom: 50px;
            width: 100%;
          }
        }
      }

      &#references section ul li {
        padding: 20px 0;
        width: 100%;
      }

      &#references section, &#index #partners {
        ul li a {
          opacity: 1;
        }
      }

      &#contact section {
        dl, form, #map {
          width: 100%;
          margin: 0;
        }

        form {
          order: 0;
        }

        dl, #map {
          order: 1;
        }
      }

      &#legal section {
        box-sizing: border-box;
        padding: 10px;
      }

      span#background-line {
        display: none;
      }

      footer dl {
        padding: 0 10px;

        dt, dd {
          border-left: none;
          order: initial;
          width: 100%;
        }

        dd {
          &:first-of-type, &:last-of-type li:last-child {
            margin-left: 9px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 351px) {
  html body {
    &#index {
      #partners ul, #follow .insta {
        li {
          width: 100%;
        }
      }
    }

    &#expertise #missions section:first-of-type img {
      width: initial;
    }
  }
}

