@import "https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700)";

* {
  color: $text;
  font-family: 'Hind', sans-serif;
  outline: none;
}

h1 {
  color: $h1;
  font-size: 1em;
  font-weight: 300;

  &:before {
    content: '[ ';
  }

  &:after {
    content: ' ]';
  }
}

h2 {
  color: $h2;
  font-size: 2.5em;
  margin: 0;
  text-align: center;
}

h3 {
  font-weight: 500;
}

p strong {
  font-weight: 500;
}

a {
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
}

ul {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

/* colors and backgrounds */
nav ul li, #satisfaction, #big-data, #skills ul, #digital,
#professionnals, #advice, #project, #advertisement,
#work, #free, #projects dl, #projects dd,
#numbers, #members > *, {
  > * {
    color: #fff;
  }
}

nav, #satisfaction, #digital, #advice, #advertisement, #free, #group, #members h3 {
  background: $primary;
}

#about ul ~ p, #gestion-backoffice, #develop, #skills,
#story > p:not(.intro), #pharminfo, #medsite,
#backflip, #solutions, #projects + #expert, #contact-us form {
  background: $secondary;
}

#work, #numbers #media, #targets,  #structures #media + dd a {
  background: $media;
}

#project, #numbers #link, #reactivity,  #structures #link + dd a {
  background: $link;
}

#professionnals, #numbers #platform, #innovation , #structures #platform + dd a{
  background: $platform;
}

#radicale,#numbers #community, #r-and-d, #structures #community + dd a {
  background: $community;
}

#pygal {
  background: lighten($community, 10%);
}

#weasyprint {
  background: darken($community, 10%);
}

#backoffice, #share {
  background: darken($secondary,3%);
}

#missions, #platform, #link, #media, #community {
  section {
    padding: 30px;
  }
}


/* HTML */
html {
  background: url(images/kozea-line.jpg)no-repeat bottom;
  background-size: contain;

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    //align-items: stretch;

    /*animation lien*/
    .links li a {
      &:before, &:after {
        display: inline-block;
        opacity: 0;
        transition: transform 0.35s, opacity 0.2s;
      }

      &:before {
        content: '[ ';
        margin-right: 5px;
        transform: translateX(20px);
      }

      &:after {
        content: ' ]';
        margin-left: 5px;
        transform: translateX(-20px);
      }

      &:hover, &:focus {
        color: $a;

        &:before, &:after {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }

    header {
      display: flex;
      justify-content: center;

      /* en savoir plus home page*/
      #go-to-about {
        color: #fff;
        display: flex;
        justify-content: center;
        margin: -30px auto;
        padding: 10px;
        font-size: 0;
        z-index: 3;

        &:after {
          content: url(images/icones/more.svg);
          width: 15px;
          animation: bounce 1.5s ease-in-out;
        }

        @keyframes bounce {
          0%  { transform:translateY(-20px);opacity:0;}
          50% { transform:translateY(10px);}
          100% { transform:translateY(0);}
        }
      }
    }

    nav {
      order: -1;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: auto;
        max-width: 1200px;
        position: relative;

        li {
          font-size: 1em;
          padding: 22px 10px;

          &:first-child {
            a:before {
              background: url(images/logos/logo-kozeagroup.svg)no-repeat left;
              content: '';
              height: 58px;
              left: 0;
              position: absolute;
              top: 6px;
              width: 130px;
            }

            &:hover a:before {
              opacity: 0.8;
            }
          }

          &:hover, &:focus {
            opacity: 0.85;
          }
        }
      }

      & + section {
        margin-top: 0;
      }
    }

    > section {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 50px auto;
      max-width: 1200px;
      width: 100%;

      p, li {
        font-size: 1.2em;
        font-weight: 300;

        &.intro {
          font-size: 1.6em;
          margin: 0 auto 30px;
          text-align: center;
          width: 70%
        }

        &.message { /*pop up message contact form*/
          align-self: center;
          border: 2px solid lighten($primary,10%);
          color: $primary;
          font-size: 1em;
          padding: 10px;
          text-align: center;
          width: 50%;
        }
      }

      .links a  {
        color: $a;
        font-size: 0.85em;
      }
    }

    &:not(#index) {
      header {
        margin-top: 5%;
      }
    }

    &#index {/* Accueil */
      header {
        background: $primary;
        height: 94.5vh;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        &:after {
          background: url(images/kozea-line.jpg) no-repeat bottom;
          background-size: cover;
          content: '';
          height: 3px;
          width: 100%;
        }

        h1 {
          &:before {
            content: url(images/logos/logo-icon.svg);
            left: calc(50% - 65px);
            position: absolute;
            top: calc(50% - 200px);
            width: 130px;
          }
        }
      }

      #about {
        margin-bottom: 0;

        h2 {
          display: none;
        }

        p {
          color: #fff;
          font-size: 2em;
          left: 14vw;
          position: absolute;
          top: 53vh;
        }
      }

      #activity {
        dl {
          display: flex;
          flex-wrap: wrap;

          dt {
            display: none;

            &#platform + dd {
              background: url(images/photos/platform-nb.jpg);

              a:before {
                content: url(images/logos/kozea-platform-white.svg);
              }
            }

            &#link + dd {
              background: url(images/photos/link-nb.jpg);

              a:before {
                content: url(images/logos/kozea-link-white.svg);
              }
            }

            &#media + dd {
              background: url(images/photos/media-nb.jpg);

              a:before {
                content: url(images/logos/kozea-media-white.svg);
              }
            }

            &#community + dd {
              background: url(images/photos/community-nb.jpg);

              a:before {
                content: url(images/logos/kozea-community-white.svg);
              }
            }
          }

          dd {
            align-items: center;
            display: flex;
            height: 400px;
            justify-content: center;
            margin: 0;
            width: 50%;

            a {
              color: #fff;
              font-weight: 600;
              padding: 25px;
              transform: scale(0);
              transition: opacity 0.35s, transform 0.35s;
              width: 250px;

              &:before {
                display: block;
                width: 125px;
              }
            }

            &:hover a {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
      }

      #news ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        li {
          box-sizing: border-box;
          flex-direction: column;
          display: flex;
          justify-content: flex-end;
          padding: 30px;
          position: relative;

          &:after {
            background: rgba($primary,0.6);
            content: '';
            height: calc(100% - 50px);
            left: 25px;
            opacity: 0;
            position: absolute;
            top: 25px;
            transform: scale(0);
            transition: opacity 0.35s, transform 0.35s;
            width: calc(100% - 50px);
          }

          &:hover:after {
            opacity: 1;
            transform: scale(1);
          }

          a {
            align-items: center;
            color: #fff;
            display: flex;
            flex-direction: column;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            z-index: 1;

            &:before {
              order: -2;
            }

            &:after  {
              background: #fff;
              content: '';
              height: 3px;
              margin: 10px 0 20px;
              order: -1;
              width: 20px;
            }
          }

          &#newsletter {
            background: $primary;
            height: 200px;
            margin-left: 17%;
            width: 33%;

            &:after {
              background: lighten(rgba(26,37,48,0.1),25%);
            }

            a:before {
              content: url(images/icones/newsletter.svg);
              width: 70px;
            }
          }

          &#download-brochure {
            background: url(images/photos/brochure-bkgd.jpg)no-repeat;
            background-size: cover;
            height: 200px;
            width: 33%;

            a:before {
              content: url(images/icones/brochure.svg);
              width: 40px;
            }
          }

          &#press-release {
            background: url(images/photos/press-bkgd.jpg)no-repeat;
            background-size: cover;
            height: 400px;
            margin-left: 50%;
            width: 50%;

            a:before {
              content: url(images/icones/press.svg);
              width: 100px;
            }
          }
        }
      }

      #partners ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        li {
          width: 25%;

          a {
            display: block;
            font-size: 0;
            height: 100px;
          }

          &#france-ehealth-tech a {
            background: url(images/marques/france-ehealth.jpg)no-repeat center center;
          }

          &#la-cuisine-du-web a {
            background: url(images/marques/cuisineduweb.jpg)no-repeat center center;
          }

          &#minalogic a {
            background: url(images/marques/minalogic.jpg)no-repeat center center;
          }

          &#i-care a {
            background: url(images/marques/i-care.jpg)no-repeat center center;
          }
        }
      }

      #follow {
        .insta {
          display: flex;
          flex-wrap: wrap;
          position:relative;
          width: 100%;

          li {
            height: 300px;
            position: relative;
            width: 300px;

            &:before {
              background: url(images/icones/instagram.svg);
              content: '';
              height: 25px;
              position: absolute;
              right: 10px;
              top: 10px;
              width: 25px;
            }

            img {
              display: block;
              height: 100%;
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
    }

    &#about {/* À propos */
      #numbers, #members, #tools {
        display: flex;
        flex-wrap: wrap;
      }

      #numbers li, #members h3, #tools li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;

        strong {
          position: relative;

          span {
            color: #fff;
            display: flex;
            font-size: 6em;
            justify-content: center;
          }

          &:before {
            content: '';
            background: #fff;
            bottom: 50px;
            display: block;
            height: 3px;
            left: calc(50% - 10px);
            position: absolute;
            width: 20px;
          }
        }
      }

      #numbers li, #members h3 {
        strong {
          color: #fff;
        }
      }

      #numbers li {
        height: 300px;
        width: 300px;
      }

      #story {
        blockquote {
          align-self: flex-end;
          background: red;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          height: 450px;
          justify-content: flex-end;
          margin: 0;
          padding: 30px;
          width: 75%;

          & + p, & + p + p {
            align-self: flex-end;
            box-sizing: border-box;
            padding: 30px;
            margin: 0;
            width: 50%;

            & + p {
              padding-top: 0;
            }
          }
        }

        ul {
          margin: 0;

          li {
            &:first-child, &:last-child {
              margin-left: 25%;
            }

            &:nth-child(2) {
              margin-right: 25%;
            }
          }
        }
      }

      #team {
        #members {
          h3 {
            color: #fff;
          }

          > * {
            height: 300px;
            margin: 0;
            width: 300px;
          }

          section {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;

            &:after {
              background: rgba($primary,0.6);
              content: '';
              height: 250px;
              left: 25px;
              opacity: 0;
              position: absolute;
              top: 25px;
              transform: scale(0);
              transition: opacity 0.35s, transform 0.35s;
              width: 250px;
              z-index: -1;
            }

            h4, p {
              opacity: 0;
              padding: 0 12%;
              transform: scale(0);
              transition: opacity 0.35s, transform 0.35s;
            }

            h4 {
              font-size: 1.2em;
              font-weight: 400;
              line-height: 2.2em;
              margin: 0;

              &:after {
                background: #fff;
                content: '';
                display: block;
                height: 2px;
                width: 25px;
              }
            }

            p {
              font-size: 1em;
              font-style: italic;
              line-height: 1.2em;
              padding-bottom: 20px;
            }

            img {
              left: 0;
              position: absolute;
              top: 0;
              width: 300px;
              z-index: -1;
            }

            &:hover, &:focus {
              &:after,h4,p {
                opacity: 1;
                transform: scale(1);
              }
            }

            @media screen and (min-width: 1200px) {
              &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(14), {
                padding-right: 300px;
              }

              &:nth-of-type(10), &:nth-of-type(11) {
                margin-left: 300px;
              }

              &:nth-of-type(10),&:nth-of-type(3), &:nth-of-type(14) {
                &:before {
                  content: '';
                  height: 300px;
                  position: absolute;
                  width: 300px;
                }
              }

              &:nth-of-type(10):before {
                background: $primary;
                left: -300px;
                top: 0;
              }

              &:nth-of-type(3), &:nth-of-type(14) {
                &:before {
                  background: lighten($primary,25%);
                  right: 0;
                  top: 0;
                }
              }

              &:nth-of-type(14):before {
                background: $primary;
              }
            }
          }
        }

        #tools {
          justify-content: flex-end;
          width: 100%;

          h3 {
            display: none;
          }

          ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            width: 50%;

            li {
              background-size: 30% !important;
              border-left: 1px solid $border;
              box-shadow: 1px 1px 0px $border;
              box-sizing: border-box;
              height: 300px;
              width: 50%;

              &:nth-child(-n+2) {
                border-top: 1px solid $border;
              }

              &#soda {
                background: url(images/icones/soda.svg)no-repeat center 40px;
              }

              &#sport {
                background: url(images/icones/sport.svg)no-repeat center 40px;
              }

              &#babyfoot {
                background: url(images/icones/babyfoot.svg)no-repeat center 40px;
              }

              &#popcorn {
                background: url(images/icones/popcorn.svg)no-repeat center 40px;
              }

              strong {
                margin-top: 120px;

                &:before {
                  background: $text;
                }
              }
            }
          }
        }
      }
    }

    &#activity {/* Activité */
      section:not(:first-of-type) {
        position: relative;

        &:before {
          display: block;
          position: absolute;
          width: 150px;
        }

        h2 {
          font-size: 8em;
          opacity: 0.08;
          position: absolute;
          z-index: -1;
        }

        h3 {
          font-size: 0;

          &:before {
            content: '';
            display: block;
          }
        }
      }

      section {
        box-sizing: border-box;

        #digital, #pharminfo, #medsite, #backflip, #advertisement, #solutions, #expert {
          width: 50%;
        }

        #digital, #professionnals, #advice, #project, #work, #free, #share {
          width: 33%;
        }

        #backoffice {
          width: 25%;
        }

        > section:first-of-type {
          position: relative;

          &:after {
            position: absolute;
            z-index: -2;
          }
        }

        &#platform {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 0;

          &:before {
            content: url(images/logos/kozea-platform.svg);
            left: 10%;
            top: 4%;
          }

          h2 {
            right: 4%;
            top: 150px;
          }

          section {
            &:first-of-type {
              margin-left: 17%;
              margin-top: 150px;
              order: -2;


              &:after {
                content: '';
                background : url(images/photos/platform.jpg);
                left: 25%;
                top: -190px;
                width: 150%;
                height: 130%;
              }
            }

            &#pharminfo {
              margin-top: -150px;
              margin-left: 50%;

              h3:before {
                background: url(images/logos/logo-pharminfo.svg)no-repeat;
                height: 50px;
              }
            }

            &#medsite h3:before {
              background: url(images/logos/medsite.svg)no-repeat;
              height: 30px;
            }

            &#professionnals {
              align-self: flex-start;
              margin-right: 17%;
            }

            &#backoffice {
              margin-left: 25%;

              h3:before {
                background: url(images/logos/logo-backoffice.svg)no-repeat;
                height: 50px;
              }
            }
          }
        }

        &#link {
          margin-top: 180px;

          &:before {
            content: url(images/logos/kozea-link.svg);
            right: 35%;
            top: -150px;
          }

          h2 {
            left: 8%;
            top: -120px;
          }

          section {
            &:first-of-type {
              align-self: flex-start;
              margin-left: 17%;

              &:after {
                content: '';
                background: url(images/photos/link.jpg);
                height: 183%;
                left: 100%;
                top: -70px;
                width: 150%;
              }
            }

            &#project {
              align-self: flex-end;
              margin-right: 17%;
            }

            &#backflip {
              align-self: flex-start;
              margin-top: -218px;

              h3:before {
                background: url(images/logos/logo-backflip.svg)no-repeat;
                height: 80px;
              }
            }
          }
        }

        &#media {
          margin-top: 230px;

          &:before {
            content: url(images/logos/kozea-media.svg);
            left: 35%;
            top: -200px;
          }

          h2 {
            right: 4%;
            top: -130px;
          }

          section {
            &:first-of-type {
              align-self: flex-end;
              position: relative;

              &:after {
                content: '';
                background: url(images/photos/media.jpg);
                left: -67%;
                position: absolute;
                top: -120px;
                height: 150%;
                width: 100%;
                z-index: -2;
              }
            }

            &#work {
              margin-left: 33%;

              p strong {
                color: #fff;
              }
            }

            &#solutions {
              align-self: flex-start;
              margin-top: -315px;
            }
          }
        }

        &#community {
          align-items: flex-start;
          margin-top: 8%;

          &:before {
            content: url(images/logos/kozea-community.svg);
            left: 17%;
            top: -80px;
          }

          h2 {
            right: 1%;
            top: -90px;
          }

          section {
            &#free {
              margin-left: 17%;
              position: relative;

              &:after {
                content: url(images/photos/community.jpg);
                left: 87%;
                position: absolute;
                top: 30px;
                z-index: -1;
              }
            }

            &#projects {
              margin-left: 25%;
              padding: 0;

              h3 {
                display: none;
              }

              ul {
                display: flex;
                flex-wrap: wrap;
                margin: 0;

                li {
                  a {
                    align-items: center;
                    box-sizing: border-box;
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    height: 300px;
                    justify-content: center;
                    padding: 5%;
                    text-align: center;
                    width: 300px;

                    strong {
                      color: #fff;
                      text-transform: uppercase;
                    }

                    &:before {
                      order: -2;
                      width: 90px;
                    }

                    &:after {
                      background: #fff;
                      content: '';
                      display: block;
                      height: 3px;
                      margin: 10px;
                      order: -1;
                      width: 20px;
                    }
                  }

                  &#radicale a:before {
                    content: url(images/icones/radicale.svg);
                  }

                  &#pygal a:before {
                    content: url(images/icones/pygal.svg);
                  }

                  &#weasyprint a:before {
                    content: url(images/icones/weasyprint.svg);
                  }
                }
              }
            }

            &#share {
              margin-top: -15%;
              margin-left: 50%;
            }
          }
        }
      }
    }

    &#expertise {/* Expertise */
      #missions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        section {
          box-sizing: border-box;
          width: 50%;

          &:first-of-type {
            margin-right: 50%;
            position: relative;

            &:after {
              background: $primary;
              content: '';
              display: block;
              height: 3px;
              position: absolute;
              right: -30px;
              top: 60px;
              width: 60px;
            }

            img {
              position: absolute;
              right: -300px;
              top: 0;
              width: 250px;
            }
          }

          &:nth-of-type(2) {
            margin-top: -90px;
            margin-left: 50%;
          }

          &:nth-of-type(3){
            margin-right: 50%;
            position: relative;

            &:after {
              background: url(images/photos/brainstorm.jpg)no-repeat;
              content: '';
              height: 100%;
              position: absolute;
              right: -100%;
              top: 0;
              width: 100%;
            }
          }

          &#big-data {
            background: url(images/photos/big-data.jpg)no-repeat;
            background-size: cover;
            text-align: center;
          }
        }
      }

      #skills {
        margin: 13% auto 0;
        max-width: inherit;
        padding-bottom: 5%;

        h2 {
          margin-top: -10%;
        }

        ul {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 600px;

          li {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            height: 270px;
            padding: 20px 10px;
            text-align: center;
            width: 50%;

            &:after {
              background: #fff;
              content: '';
              height: 3px;
              margin: 10px 0 20px;
              order: -1;
              width: 20px;
            }

            &:nth-of-type(3) {
              margin-top: 60px;
            }

            &:before {
              order: -2;
              width: 90px;
            }

            &#targets:before {
              content: url(images/icones/target.svg);
            }

            &#reactivity:before {
              content: url(images/icones/reactivity.svg);
            }

            &#innovation:before{
              content: url(images/icones/idea.svg);
            }

            &#r-and-d:before{
              content: url(images/icones/search.svg);
            }
          }
        }
      }

      #goals ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        li {
          align-items: center;
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 33%;

          &:after {
            background: $primary;
            content: '';
            display: block;
            height: 3px;
            order: -1;
            margin: 10px;
            width: 20px;
          }

          &:before {
            order: -2;
            width: 90px;
          }

          &#specialist:before {
            content: url(images/icones/specialist.svg);
          }

          &#web-expert:before {
            content: url(images/icones/webexpert.svg);
          }

          &#create-solutions:before {
            content: url(images/icones/solutions.svg);
          }
        }
      }
    }

    &#references {
      section:not(:first-of-type) h2 {
        font-size: 8em;
        opacity: 0.08;
      }

      section ul {/* Références */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        li {
          border-left: 1px solid $border;
          box-shadow: 1px 0px 0px $border;
          box-sizing: border-box;
          padding: 40px 20px;
          width: 25%;

          a {
            display: block;
            font-size: 0;
            height: 100px;
          }

          &#arrow a {
            background: url(images/marques/arrow.jpg)no-repeat center center;
          }

          &#novartis a {
            background: url(images/marques/novartis.jpg)no-repeat center center;
          }

          &#bailly a {
            background: url(images/marques/bailly-creat.jpg)no-repeat center center;
          }

          &#septodont a {
            background: url(images/marques/septodont.jpg)no-repeat center center;
          }

          &#sanofi a {
            background: url(images/marques/sanofi.jpg)no-repeat center center;
          }

          &#mylan a {
            background: url(images/marques/mylan.jpg)no-repeat center center;
          }

          &#safran a {
            background: url(images/marques/safran.jpg)no-repeat center center;
          }

          &#lafarge a {
            background: url(images/marques/lafarge.jpg)no-repeat center center;
          }

          &#airbus-helicopters a {
            background: url(images/marques/airbus.jpg)no-repeat center center;
          }

          &#safetynetwork a {
            background: url(images/marques/safety-network.jpg)no-repeat center center;
          }
        }
      }
    }

    &#contact section {/* Contact */
      > dl {
        background: $primary;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 20px;
        margin-right: 33%;
        box-sizing: border-box;
        width: 33%;
        z-index: 1;

        > *{
          color: #fff;
        }

        dt:first-child, dt:first-child + dd {
          width: 60%;
        }

        dt:nth-of-type(2),dt:nth-of-type(2) + dd {
          width: 40%;
        }

        ul {
          margin: 0;

          li {
          font-size: 1em;

            a {
              color: #fff;
            }
          }
        }

        dd {
          margin-left: 0;
          font-weight: 100;
        }

        dt {
          font-weight: 400;
          order: -1;
          padding-top: 10px;
        }
      }

      form, #map {
        width: 50%;
      }

      #map {
        align-self: flex-start;
        height: 500px;
        margin-top: -100px;
      }

      form {
        align-self: flex-end;
        border-top: 2px solid $primary;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        order: 2;
        padding: 30px;
        margin-top: -402px;

        input:not(:last-child), textarea {
          background: none;
          border-top: none;
          border-right: none;
          border-bottom: 1px solid $border;
          border-left: none;
          margin-bottom: 20px;
          padding: 5px 10px;

          &[placeholder] {
            color: $text;
            font-size: 1em;
            font-weight: 100;
          }
        }

        textarea {
          height: 120px;
        }

        input[type="submit"] {
          background: $primary;
          border: none;
          box-shadow: none;
          color: #fff;
          cursor: pointer;
          font-size: 1em;
          padding: 7px;
          width: 90px;

          &:hover {
            background: lighten($primary,10%);
          }
        }
      }
    }

    &#legal {/* Mentions légales */
      h1 {
        &:before {
          content: '[ Mentions légales ]';
        }

        &:after {
          content: none;
        }
      }

      dl {
        dt, dd {
          display: inline;
        }

        dt {
          font-weight: 700;

          &:after {
            content: ':';
            display: inline;
          }
        }

        dd {
          margin-left: 0;

          &:after {
            content: '';
            display: block;
          }
        }
      }
    }

    &#references section, &#index #partners {
      ul li a {
        opacity: 0.75;

        &:hover {
          opacity: 1;
        }
      }
    }

    span#back-to-top {
      background: none;
      bottom: 35px;
      color: $primary;
      display: block;
      font-size: 1.3em;
      opacity: 0.6;
      right: 45px;

      &:hover {
        background: none;
        color: $a;
      }
    }

    span#background-line {
      height: 100%;
      left: 50%;
      position: fixed;
      top: 0;
      z-index: -20;


      &:after {
        content: '';
        background: $border;
        height: calc(100% - 4px);
        position: absolute;
        top: 0;
        width: 1px;
      }
    }

    .black-overlay {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index:1001;
      -moz-opacity: 0.8;
      opacity:.80;
      filter: alpha(opacity=80);
    }

    .popup {
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      padding: 16px;
      background-color: white;
      z-index:1002;
      overflow: auto;
    }

    footer {
      margin-top: 25px;

      dl {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding-bottom: 15px;

        > * {
          border-left: 1px solid $border;
          box-sizing: border-box;
          font-size: 0.8em;
          padding-left: 1.5%;
          width: 25%;

          &:first-child, &:first-child + dd {
            border-left: none;
          }
        }

        dt {
          color: $footer_titles;
          order: -1;
          padding-top: 10px;
        }

        dd {
          margin-left: 0;

          &:nth-of-type(3) ul {
            display: flex;
            flex-wrap: wrap;

            li {
              width: 50%;
            }
          }

          &:last-of-type ul {
            display: flex;
            li:last-child:before {
              content: ' - ';
            }
          }

          ul {
            margin-top: 0;
          }
        }
      }
    }
  }
}
