@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

body {
  background: url(img/background.jpg) 50% 0 no-repeat;
  color: #1c1c1c;
  font-family: "Open Sans";
  font-size: 12pt;
  margin: auto;
  width: 960px;
}

ul {
  list-style-type: square;
}


/* Header */

header {
  box-sizing: border-box;
  height: 12em;
  margin: 5px;
  padding: 5px;
  font-size: 2.2em;
  font-weight: 300;
  padding-top: 3em;
}

header h1 {
  background: url("img/logo.svg");
  font-size: 0;
  height: 94px;
  margin: 0 0 0 -10px;
  width: 220px;
}

header p {
  width: 50%;
}



/* Main */

main {
  margin: auto;
  overflow: auto;
}

main > * {
  margin: 5px;
}

main h2, main h3 {
  display: none;
}

main article, main section {
  box-sizing: border-box;
  float: left;
  padding: 1em;
}


#who {
  background: #499fc6;
  color: white;
  font-size: 0.85em;
  height: 470px;
  width: 470px;
}

#who p:first-of-type {
  font-size: 1.25em;
  font-weight: 600;
}


#contact {
  margin: 0;
  padding: 0;
  width: 480px;
}

#contact section {
  background: #cfdce2;
  height: 230px;
  float: left;
  margin: 5px;
  width: 230px;
}


#founders {
  height: 230px;
  margin: 5px 0;
  padding: 0;
}

#founders > * {
  height: 230px;
  margin: 0 5px;
}

#founders > p {
  background: #f9d975;
  box-sizing: border-box;
  float: right;
  padding: 1em;
  width: 470px;
}

#founders > section {
  margin: 0 5px;
  padding: 0;
  width: 230px;
}

#founders > section * {
  display: none;
}

#founders > section img {
  display: block;
  height: 230px;
  width: 230px;
}


#team {
  float: right;
  margin: 5px 0;
  padding: 0;
  width: 720px
}

#team > * {
  height: 230px;
  margin: 0 5px;
}

#team > p {
  background: #cfdce2;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 230px;
}

#team > ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 480px;
}

#team > ul li {
  background: #499fc6;
  box-sizing: border-box;
  color: white;
  float: left;
  font-size: 0.8em;
  height: 230px;
  margin: 0 5px;
  padding: 1em;
  width: 110px;
}


#health {
  margin: 5px 0;
  padding: 0;
}

#health > * {
  height: 230px;
  float: left;
  margin: 0 5px;
}

#health > p {
  background: #f9d975;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 470px;
}

#health > section {
  border: 1px solid #cfdce2;
  width: 230px;
}


#references {
  margin: 0;
  padding: 0;
  width: 480px;
}

#references > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#references > ul li {
  border: 1px solid #cfdce2;
  box-sizing: border-box;
  height: 230px;
  float: left;
  margin: 5px;
  width: 230px;
}



/* Footer */

footer {
  background: #1c1c1c;
  clear: both;
  color: white;
  margin: 5px;
  padding: 0.5em 1em;
}
