/* line 5, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#elearning-slide article p {
  color: green;
}
/* line 7, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#elearning-slide article h3:before {
  content: url(images/lcms.png);
}
/* line 12, ../sass/ie.sass */
body section#web article a.more {
  right: 11%;
  top: 79%;
}
/* line 17, ../sass/ie.sass */
body section#web h3.website-title-h3:before {
  margin-left: -33px;
}
/* line 20, ../sass/ie.sass */
body section#web h3.webdesign-title-h3:before {
  margin-left: -33px;
}
/* line 23, ../sass/ie.sass */
body section#web h3.elearning-title-h3:before {
  margin-left: -33px;
}
/* line 26, ../sass/ie.sass */
body section#web h3.questionnary-title-h3:before {
  margin-left: -33px;
}
/* line 33, ../sass/ie.sass */
body section#team ul li:hover:before, body section#team ul li:focus:before {
  background: #242424;
}
/* line 39, ../sass/ie.sass */
body section#libre ul li a:after {
  background: #242424;
}
/* line 46, ../sass/ie.sass */
body section#contact article h3.phone-h3:before {
  left: 55%;
  margin-left: -60px;
}
/* line 50, ../sass/ie.sass */
body section#contact article h3.email-h3:before {
  left: 55%;
  margin-left: -60px;
}
/* line 54, ../sass/ie.sass */
body section#contact article h3.address-h3:before {
  left: 55%;
  margin-left: -60px;
}
