/* line 4, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#elearning-slide h3 {
  position: relative;
}
/* line 7, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#elearning-slide h3.lcms-title:before {
  content: url(bootstrap/images/lcms.png);
  left: -190px;
  position: absolute;
}
/* line 12, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#elearning-slide h3.gestion-title:before {
  content: url(bootstrap/images/gears.png);
  left: -190px;
  position: absolute;
}
/* line 17, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#elearning-slide h3.evaluation-title:before {
  content: url(bootstrap/images/evaluation.png);
  left: -190px;
  position: absolute;
}
/* line 23, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#website-slide h3 {
  position: relative;
}
/* line 26, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#website-slide h3.pharmacy:before {
  content: url(bootstrap/images/logo-pharminfo.png);
  left: -230px;
  position: absolute;
}
/* line 31, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#website-slide h3.doctor:before {
  content: url(bootstrap/images/logo-medsite.png);
  left: -230px;
  position: absolute;
}
/* line 37, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#stat-slide h3 {
  position: relative;
}
/* line 40, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#stat-slide h3.questionnary-title-h3:before {
  content: url(bootstrap/images/360.png);
  left: -230px;
  position: absolute;
}
/* line 45, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#stat-slide h3.labsharing-title-h3:before {
  content: url(bootstrap/images/labsharing.png);
  left: -230px;
  position: absolute;
}
/* line 50, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#stat-slide h3.questions-title-h3:before {
  content: url(bootstrap/images/questions.png);
  left: -230px;
  position: absolute;
}
/* line 55, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#stat-slide h3.stats-title-h3:before {
  content: url(bootstrap/images/graph.png);
  left: -230px;
  position: absolute;
}
/* line 60, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#stat-slide h3.extraction-title-h3:before {
  content: url(bootstrap/images/extraction.png);
  left: -230px;
  position: absolute;
}
/* line 66, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#art-slide h3 {
  position: relative;
}
/* line 69, ../sass/ie.sass */
body .bx-wrapper .bx-viewport section.horizontal-slider#art-slide h3.html5-title-h3:before {
  content: url(bootstrap/images/website-gris.png);
  left: -230px;
  position: absolute;
}
/* line 77, ../sass/ie.sass */
body section#web article a.more {
  right: 11%;
  top: 79%;
}
/* line 82, ../sass/ie.sass */
body section#web h3.website-title-h3:before {
  margin-left: -33px;
}
/* line 85, ../sass/ie.sass */
body section#web h3.webdesign-title-h3:before {
  margin-left: -33px;
}
/* line 88, ../sass/ie.sass */
body section#web h3.elearning-title-h3:before {
  margin-left: -33px;
}
/* line 91, ../sass/ie.sass */
body section#web h3.questionnary-title-h3:before {
  margin-left: -33px;
}
/* line 98, ../sass/ie.sass */
body section#team ul li:hover:before, body section#team ul li:focus:before {
  background: #242424;
}
/* line 104, ../sass/ie.sass */
body section#libre ul li a:after {
  background: #242424;
}
/* line 111, ../sass/ie.sass */
body section#contact article h3.phone-h3:before {
  left: 55%;
  margin-left: -60px;
}
/* line 115, ../sass/ie.sass */
body section#contact article h3.email-h3:before {
  left: 55%;
  margin-left: -60px;
}
/* line 119, ../sass/ie.sass */
body section#contact article h3.address-h3:before {
  left: 55%;
  margin-left: -60px;
}
