<!DOCTYPE html>
{% set titles = [
  ['index', 'Accueil'],
  ['about', 'À propos'],
  ['activity', 'Notre activité'],
  ['expertise', 'Notre expertise'],
  ['references', 'Nos références'],
  ['contact', 'Contact'],
] %}
{% set sr_top = "enter top, move 200px, wait 0.5s" %}
{% set sr_right = "enter right, move 200px, wait 0.5s" %}
{% set sr_bottom = "enter bottom, move 200px, wait 0.5s" %}
{% set sr_left = "enter left, move 200px, wait 0.5s" %}
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kozea -{% if page in dict(titles) or page == 'legal' %} {{ dict(titles)[page] or 'Mentions légales' }} -{% endif %} L’innovation digitale au service des acteurs de la santé</title>
    <link type="image/png" rel="icon" href="static/favicon.png" />
    <link type="text/css" rel="stylesheet" href="static/style.scss.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="static/js/kozea.js"></script>
  </head>

  <body id="{{ page }}">
    <header>
      {% if page == 'index' %}
        <a id="go-to-about" href="#about">En savoir plus</a>
      {% endif %}
      {% if (page in dict(titles) or page == 'legal') %}
        {% if page == 'index' %}
          <h1>{{ dict(titles)[page] }}</h1>
        {% else %}
          <h1 data-sr="{{ sr_bottom }}">{{ dict(titles)[page] }}</h1>
        {% endif %}
      {% else %}
        <h1>404</h1>
      {% endif %}
    </header>

    <nav>
      <ul class="menu">
        {% for id, title in titles %}
          <li{% if id == page %} class="active"{% endif %}>
            <a data-hover="{{ title }}" href="{{ url_for('page', page=id) }}">{{ title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    {% block body %}{% endblock body %}

    <span id='back-to-top'>&uarr;</span>
    <span id="background-line"></span>
    <footer>
      <dl>
        <dt>Adresse</dt>
        <dd>
          107, boulevard de Stalingrad<br/>
          69100<br/>
          Villeurbanne
        </dd>
        <dt>Contact</dt>
        <dd>
          <ul class="links">
            <li><a href="tel://+33478841928">+33 4 78 84 19 28</a></li>
            <li><a href="mailto://contact@kozea.fr">contact@kozea.fr</a></li>
          </ul>
        </dd>
        <dt>Suivez-nous</dt>
        <dd>
          <ul class="links">
            <li id="instagram"><a href="https://www.instagram.com/kozea/">Instagram</a></li>
            <li id="linkedin"><a href="https://www.linkedin.com/company/kozeagroup">LinkedIn</a></li>
            <li id="youtube"><a href="https://www.youtube.com/channel/UCx5VGRSsjpRWhc55EpI_gEw">Youtube</a></li>
            <li id="github"><a href="https://github.com/Kozea">GitHub</a></li>
          </ul>
        </dd>
        <dt>Crédits</dt>
        <dd>
          <ul class="links">
            <li><a href="{{ url_for('page', page='legal') }}">Mentions légales</a></li>
            <li>Made by Kozea with ♥</li>
          </ul>
        </dd>
      </dl>
    </footer>
    <script type="text/javascript" src="static/js/scrollReveal.min.js"></script>
  </body>
</html>
