<!DOCTYPE html>

{% macro sr(side="bottom", move="150px", wait=0.5) %}
  enter {{ side }}, move {{ move }}, wait {{ wait }}s
{% endmacro %}

<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kozea - {{ current_title }} - L’innovation digitale au service des acteurs de la santé</title>
    <link type="image/png" rel="icon" href="static/favicon.png" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.sass.css') }}" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.2.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/kozea.js') }}"></script>
    {% block more_js %}{% endblock more_js %}
  </head>

  <body id="{{ page }}">
    <header>
      <h1 {% if page != 'index' %}data-sr="{{ sr() }}"{% endif %}>{{ current_title }}</h1>
      {% if page == 'index' %}
        <a id="go-to-about" href="#about">En savoir plus</a>
      {% endif %}
    </header>

    <nav>
      <ul class="menu">
        {% for id, title in titles.items() %}
          {% if id != 'legal' %}
            <li{% if id == page %} class="active"{% endif %}>
              <a data-hover="{{ title }}" href="{{ url_for('page', page=id) }}">{{ title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    {% block body %}{% endblock body %}

    <span id="back-to-top">&uarr;</span>
    <span id="background-line"></span>
    <footer>
      <dl>
        <dt>Adresse</dt>
        <dd>
          107, boulevard de Stalingrad<br/>
          69100<br/>
          Villeurbanne
        </dd>
        <dt>Contact</dt>
        <dd>
          <ul class="links">
            <li><a href="tel://+33478841928">+33 4 78 84 19 28</a></li>
            <li><a href="mailto://contact@kozea.fr">contact@kozea.fr</a></li>
          </ul>
        </dd>
        <dt>Suivez-nous</dt>
        <dd>
          <ul class="links">
            <li id="instagram"><a href="https://www.instagram.com/kozea/">Instagram</a></li>
            <li id="linkedin"><a href="https://www.linkedin.com/company/kozeagroup">LinkedIn</a></li>
            <li id="youtube"><a href="https://www.youtube.com/channel/UCx5VGRSsjpRWhc55EpI_gEw">Youtube</a></li>
            <li id="github"><a href="https://github.com/Kozea">GitHub</a></li>
          </ul>
        </dd>
        <dt>Crédits</dt>
        <dd>
          <ul class="links">
            <li><a href="{{ url_for('page', page='legal') }}">Mentions légales</a></li>
            <li>Made by Kozea with ♥</li>
          </ul>
        </dd>
      </dl>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scrollReveal.min.js') }}"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-62616971-6']);
      _gaq.push(['_setDomainName', 'kozea.fr']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
