{% extends '_layout.html' %}

{% block body %}
  <section id="story">
    <h2 data-sr="enter bottom, move 100px, wait 0.6s">La petite histoire</h2>
    <p  data-sr="enter bottom, move 100px, wait 0.7s" class="intro">
      Kozea group a été fondée en 2007 avec la volonté de se positionner comme
      un <strong>expert du web pour les acteurs de santé</strong> (pharmaciens,
      médecins généralistes et spécialistes, cliniques, hôpitaux, laboratoires
      pharmaceutiques…).
    </p>
    <p data-sr="enter bottom, move 100px, wait 0.8s" class="intro">
      À l’origine, <strong><a href="#ayoub">Guillaume Ayoub</a></strong> (ingénieur INSA)
      et <strong><a href="#donadieu">Philippe Donadieu</a></strong> (docteur en pharmacie) ont associé
      leurs compétences pour créer les premiers sites Internet pour les
      pharmaciens d’officine.
    </p>
    <blockquote data-sr="enter bottom, move 100px, wait 0.9s">
      <!--<p>
        Nous avons toujours eu la volonté de proposer à nos clients des services toujours plus performants et simples d’utilisation tout en respectant les contraintes réglementaires de chacun.
      </p>
      <cite>Philippe D. &amp; Guillaume A., Directeurs associés</cite>-->
    </blockquote>
    <p data-sr="enter bottom, move 100px, wait 0.8s">
      Kozea group a réussi à faire évoluer des offres spécifiques pour répondre
      au plus près aux besoins de leurs clients.
    </p>
    <p data-sr="enter bottom, move 100px, wait 0.6s">
      Elle a su proposer des services adaptés et des nouveaux leviers de
      croissance à une population exigeante avec des contraintes réglementaires
     poussées.
    </p >
    <ul id="numbers">
      <li data-sr="enter bottom, move 100px, wait 0.6s" id="group"><strong><span>3025</span> clients</strong> sur Kozea group</li>
      <li data-sr="enter bottom, move 100px, wait 0.7s" id="platform"><strong><span>11</span> millions</strong> de CA sur Kozea platform</li>
      <li data-sr="enter bottom, move 100px, wait 0.8s" id="link"><strong><span>7</span> millions</strong> de CA  sur Kozea link</li>
      <li data-sr="enter bottom, move 100px, wait 0.9s" id="media"><strong><span>6</span> millions</strong> de CA sur Kozea media</li>
      <li data-sr="enter bottom, move 100px, wait 1s"id="community"><strong><span>2,3</span> millions</strong> de téléchargements sur Kozea community</li>
    </ul>
  </section>

  <section id="team">
    <h2 data-sr="{{ sr_bottom }}">L’équipe</h2>
    <section id="members">
      <h3 data-sr="enter bottom, move 100px, wait 0.6s"><strong><span>15</span>collaborateurs</strong>dévoués</h3>
      <section data-sr="enter bottom, move 100px, wait 0.7s" id="donadieu">
        <h4>Philippe Donadieu</h4>
        <p>Directeur associé, Docteur en pharmacie</p>
        <img src="/static/images/team/donadieu.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 0.8s" id="ayoub">
        <h4>Guillaume Ayoub</h4>
        <p>Directeur associé, Responsable Technique.</p>
        <img src="/static/images/team/ayoub.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 0.9s" id="annabelle">
        <h4>Annabelle</h4>
        <p>Web designer</p>
        <img src="/static/images/team/annabelle.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 1s" id="clemence">
        <h4>Clémence</h4>
        <p>Responsable marketing</p>
        <img src="/static/images/team/clemence.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 1.1s"id="clement">
        <h4>Clément</h4>
        <p>Développeur web</p>
        <img src="/static/images/team/clement.jpg" alt="">
      </section>
      <section  data-sr="enter bottom, move 100px, wait 1.2s"id="dorothee">
        <h4>Dorothée</h4>
        <p>Formation Tiers-payant</p>
        <img src="/static/images/team/dorothee.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 1.3s"id="florian">
        <h4>Florian</h4>
        <p>Ingénieur chef de projet</p>
        <img src="/static/images/team/florian.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 1.4s"id="huriye">
        <h4>Huriye</h4>
        <p>Animatrice de réseau junior</p>
        <img src="/static/images/team/huriye.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 1.5s" id="isabelle">
        <h4>Isabelle</h4>
        <p>Responsable service clientèle</p>
        <img src="/static/images/team/isabelle.jpg" alt="">
      </section>
      <section  data-sr="enter bottom, move 100px, wait 1.6s"id="jean-marc">
        <h4>Jean-Marc</h4>
        <p>Développeur web</p>
        <img src="/static/images/team/jean-marc.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 1.7s"id="jean-pierre">
        <h4>Jean-Pierre</h4>
        <p>Responsable développement commercial</p>
        <img src="/static/images/team/jean-pierre.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 1.8s"id="maxime">
        <h4>Maxime</h4>
        <p>Chef de projet marketing digital</p>
        <img src="/static/images/team/maxime.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 1.9s"id="olivia">
        <h4>Olivia</h4>
        <p>Digital account manager</p>
        <img src="/static/images/team/olivia.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 2s" id="pauline">
        <h4>Pauline</h4>
        <p>Web designer</p>
        <img src="/static/images/team/pauline.jpg" alt="">
      </section>
      <section data-sr="enter bottom, move 100px, wait 2.1s" id="yohann">
        <h4>Yohann</h4>
        <p>Développeur web</p>
        <img src="/static/images/team/yohann.jpg" alt="">
      </section>
    </section>

    <section id="tools">
      <h3><strong>4</strong> ustensiles indispensables</h3>
      <ul>
        <li data-sr="enter bottom, move 100px, wait 0.5s"id="soda"><strong>1 machine à soda</strong> pour des journées pétillantes</li>
        <li data-sr="enter bottom, move 100px, wait 0.6s" id="sport"><strong>1 coach sportif</strong> pour rester au top</li>
        <li data-sr="enter bottom, move 100px, wait 0.7s" id="babyfoot"><strong>1 babyfoot</strong> pour des midis sportifs</li>
        <li data-sr="enter bottom, move 100px, wait 0.8s" id="popcorn"><strong>1 machine à popcorn</strong> pour les petits creux</li>
      </ul>
    </section>
  </section>
{% endblock body %}
