{% extends '_layout.html' %}

{% block head_title %}
  <title>Kozea group a été fondée en 2007 par Guillaume Ayoub et Philippe Donadieu</title>
{% endblock head_title %}

{% block body %}
  <section id="story">
    <h2 data-sr="{{ sr(wait=0.6) }}">La petite histoire</h2>
    <p  data-sr="{{ sr(wait=0.7) }}" class="intro">
      Kozea group a été fondée en 2007 avec la volonté de se positionner comme
      un <strong>expert du web pour les acteurs de santé</strong> (pharmaciens,
      médecins généralistes et spécialistes, cliniques, hôpitaux, laboratoires
      pharmaceutiques…).
    </p>
    <p data-sr="{{ sr(wait=0.8) }}" class="intro">
      À l’origine, <strong><a href="#guillaume">Guillaume Ayoub</a></strong> (ingénieur INSA)
      et <strong><a href="#philippe">Philippe Donadieu</a></strong> (docteur en pharmacie) ont associé
      leurs compétences pour créer les premiers sites Internet pour les
      pharmaciens d’officine.
    </p>
    <img data-sr="{{ sr(wait=0.9) }}" src="/static/images/photos/fondateurs-kozea.jpg" alt="fondateurs Kozea">
    <p data-sr="{{ sr(wait=0.8) }}">
      Kozea group a réussi à faire évoluer des offres spécifiques pour répondre
      au plus près aux besoins de leurs clients.
    </p>
    <p data-sr="{{ sr(wait=0.6) }}">
      Elle a su proposer des services adaptés et des nouveaux leviers de
      croissance à une population exigeante avec des contraintes réglementaires
     poussées.
    </p >
    <ul id="numbers">
      <!--<li data-sr="{{ sr(wait=0.6) }}" id="group"><strong><span>3025</span> clients</strong> sur Kozea group</li>-->
      <li data-sr="{{ sr(wait=0.7) }}" id="platform"><strong><span>4</span> services</strong> à haute valeur ajoutée</li>
      <li data-sr="{{ sr(wait=0.8) }}" id="link"><strong><span>2500</span> clients</strong></li>
      <li data-sr="{{ sr(wait=0.9) }}" id="media"><strong><span>11.4</span> millions</strong> de CA sur l'ensemble des structures</li>
      <!--<li data-sr="{{ sr(wait=1) }}" id="community"><strong><span>22</span> millions</strong> de téléchargements sur Kozea community</li>-->
    </ul>
  </section>

  <section id="team">
    <h2 data-sr="{{ sr() }}">L’équipe</h2>
    <section id="members">
      <h3 data-sr="{{ sr(wait=0.6) }}"><strong><span>20</span> collaborateurs</strong> dévoués</h3>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="guillaume">
        <h4>Guillaume Ayoub</h4>
        <p>Directeur associé, Responsable Technique</p>
        <img src="/static/images/team/guillaume.jpg" alt="Guillaume, Directeur associé">
      </section>
      <section data-sr="{{ sr(wait=0.7) }}" id="philippe">
        <h4>Philippe Donadieu</h4>
        <p>Directeur associé, Docteur en pharmacie</p>
        <img src="/static/images/team/philippe.jpg" alt="Philippe, Directeur associé">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="annabelle">
        <h4>Alexis</h4>
        <p>Comptable</p>
        <img src="/static/images/team/alexis.jpg" alt="Alexis, Comptable">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="annabelle">
        <h4>Annabelle</h4>
        <p>Web designer</p>
        <img src="/static/images/team/annabelle.jpg" alt="Annabelle, Web designer">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="Céline, gestionnaire Tiers-payant">
        <h4>Céline</h4>
        <p>Gestionnaire Tiers-payant</p>
        <img src="/static/images/team/céline.jpg" alt="Céline, Manager Tiers-payant">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="clemence">
        <h4>Clémence</h4>
        <p>Responsable marketing</p>
        <img src="/static/images/team/clemence.jpg" alt="Clémence, Responsable marketing">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="clement">
        <h4>Clément</h4>
        <p>Développeur web</p>
        <img src="/static/images/team/clement.jpg" alt="Clément, Développeur Web">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="dorothee">
        <h4>Dorothée</h4>
        <p>Formatrice Tiers-payant</p>
        <img src="/static/images/team/dorothee.jpg" alt="Dorothée, Formatrice Tiers-payant">
      </section>
            <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="fabien, Manager Tiers-payant">
        <h4>Fabien</h4>
        <p>Manager Tiers-payant</p>
        <img src="/static/images/team/fabien.jpg" alt="Fabien, Développeur web">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="florian">
        <h4>Florian</h4>
        <p>Ingénieur chef de projet</p>
        <img src="/static/images/team/florian.jpg" alt="Florian, Ingénieur">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="hugo">
        <h4>Hugo</h4>
        <p>Web designer</p>
        <img src="/static/images/team/hugo.jpg" alt="Hugo, Web designer">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="huriye">
        <h4>Huriye</h4>
        <p>Animatrice de réseau junior</p>
        <img src="/static/images/team/huriye.jpg" alt="Huriye, Animatrice de réseau">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="isabelle">
        <h4>Isabelle</h4>
        <p>Responsable service clientèle</p>
        <img src="/static/images/team/isabelle.jpg" alt="Isabelle, Responsable service clientèle">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="jean-pierre">
        <h4>Jean-Pierre</h4>
        <p>Responsable développement commercial</p>
        <img src="/static/images/team/jean-pierre.jpg" alt="Jean-Pierre, Responsable développement commercial">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="laurène, chargée projets web">
        <h4>Laurène</h4>
        <p>Chargée projets web</p>
        <img src="/static/images/team/laurène.jpg" alt="Laurène, Chargée de projet">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="lucie">
        <h4>Lucie</h4>
        <p>Responsable qualité logicielle</p>
        <img src="/static/images/team/lucie.jpg" alt="Lucie, Responsable qualité logicielle">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="maxime">
        <h4>Maxime</h4>
        <p>Chef de projet marketing digital</p>
        <img src="/static/images/team/maxime.jpg" alt="Maxime, Chef de projet marketing digital">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="nathalie">
        <h4>Nathalie</h4>
        <p>Chargée relation client</p>
        <img src="/static/images/team/nathalie.jpg" alt="Natahlie, Chargée relation client">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="olivia">
        <h4>Olivia</h4>
        <p>Digital account manager</p>
        <img src="/static/images/team/olivia.jpg" alt="Olivia, Digital account manager">
      </section>
      <section data-sr="{{ sr(wait=(range(10)|random)/10) }}" id="samira">
        <h4>Samira</h4>
        <p>Chef de projet &amp; Développeur web</p>
        <img src="/static/images/team/samira.jpg" alt="Samira, Chef de projet &amp; Développeur web">
      </section>
    </section>

    <section id="tools">
      <h3><strong>4</strong> ustensiles indispensables</h3>
      <ul>
        <li data-sr="{{ sr(wait=0.5) }}" id="soda"><strong>1 machine à soda</strong> pour des journées pétillantes</li>
        <li data-sr="{{ sr(wait=0.7) }}" id="babyfoot"><strong>1 babyfoot</strong> pour des midis sportifs</li>
        <li data-sr="{{ sr(wait=0.8) }}" id="popcorn"><strong>1 machine à popcorn</strong> pour les petits creux</li>
      </ul>
    </section>
  </section>
{% endblock body %}
