{% extends '_layout.html' %}

{% block body %}
  <section id="story">
    <h2 data-sr="{{ sr(wait=0.6) }}">La petite histoire</h2>
    <p  data-sr="{{ sr(wait=0.7) }}" class="intro">
      Kozea group a été fondée en 2007 avec la volonté de se positionner comme
      un <strong>expert du web pour les acteurs de santé</strong> (pharmaciens,
      médecins généralistes et spécialistes, cliniques, hôpitaux, laboratoires
      pharmaceutiques…).
    </p>
    <p data-sr="{{ sr(wait=0.8) }}" class="intro">
      À l’origine, <strong><a href="#ayoub">Guillaume Ayoub</a></strong> (ingénieur INSA)
      et <strong><a href="#donadieu">Philippe Donadieu</a></strong> (docteur en pharmacie) ont associé
      leurs compétences pour créer les premiers sites Internet pour les
      pharmaciens d’officine.
    </p>
    <img data-sr="{{ sr(wait=0.9) }}" src="/static/images/photos/boss.jpg" alt="fondateurs">
    <p data-sr="{{ sr(wait=0.8) }}">
      Kozea group a réussi à faire évoluer des offres spécifiques pour répondre
      au plus près aux besoins de leurs clients.
    </p>
    <p data-sr="{{ sr(wait=0.6) }}">
      Elle a su proposer des services adaptés et des nouveaux leviers de
      croissance à une population exigeante avec des contraintes réglementaires
     poussées.
    </p >
    <ul id="numbers">
      <li data-sr="{{ sr(wait=0.6) }}" id="group"><strong><span>3025</span> clients</strong> sur Kozea group</li>
      <li data-sr="{{ sr(wait=0.7) }}" id="platform"><strong><span>11</span> millions</strong> de CA sur Kozea platform</li>
      <li data-sr="{{ sr(wait=0.8) }}" id="link"><strong><span>7</span> millions</strong> de CA  sur Kozea link</li>
      <li data-sr="{{ sr(wait=0.9) }}" id="media"><strong><span>6</span> millions</strong> de CA sur Kozea media</li>
      <li data-sr="{{ sr(wait=1) }}" id="community"><strong><span>2,3</span> millions</strong> de téléchargements sur Kozea community</li>
    </ul>
  </section>

  <section id="team">
    <h2 data-sr="{{ sr() }}">L’équipe</h2>
    <section id="members">
      <h3 data-sr="{{ sr(wait=0.6) }}"><strong><span>15</span> collaborateurs</strong> dévoués</h3>
      <section data-sr="{{ sr(wait=0.7) }}" id="donadieu">
        <h4>Philippe Donadieu</h4>
        <p>Directeur associé, Docteur en pharmacie</p>
        <img src="/static/images/team/donadieu.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=0.8) }}" id="ayoub">
        <h4>Guillaume Ayoub</h4>
        <p>Directeur associé, Responsable Technique.</p>
        <img src="/static/images/team/ayoub.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=0.9) }}" id="annabelle">
        <h4>Annabelle</h4>
        <p>Web designer</p>
        <img src="/static/images/team/annabelle.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=1) }}" id="clemence">
        <h4>Clémence</h4>
        <p>Responsable marketing</p>
        <img src="/static/images/team/clemence.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=1.1) }}" id="clement">
        <h4>Clément</h4>
        <p>Développeur web</p>
        <img src="/static/images/team/clement.jpg" alt="">
      </section>
      <section  data-sr="{{ sr(wait=1.2) }}" id="dorothee">
        <h4>Dorothée</h4>
        <p>Formation Tiers-payant</p>
        <img src="/static/images/team/dorothee.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=1.3) }}"id="florian">
        <h4>Florian</h4>
        <p>Ingénieur chef de projet</p>
        <img src="/static/images/team/florian.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=1.4) }}" id="huriye">
        <h4>Huriye</h4>
        <p>Animatrice de réseau junior</p>
        <img src="/static/images/team/huriye.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=1.5) }}" id="isabelle">
        <h4>Isabelle</h4>
        <p>Responsable service clientèle</p>
        <img src="/static/images/team/isabelle.jpg" alt="">
      </section>
      <section  data-sr="{{ sr(wait=1.6) }}" id="jean-marc">
        <h4>Jean-Marc</h4>
        <p>Développeur web</p>
        <img src="/static/images/team/jean-marc.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=1.7) }}" id="jean-pierre">
        <h4>Jean-Pierre</h4>
        <p>Responsable développement commercial</p>
        <img src="/static/images/team/jean-pierre.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=1.8) }}" id="maxime">
        <h4>Maxime</h4>
        <p>Chef de projet marketing digital</p>
        <img src="/static/images/team/maxime.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=1.9) }}"id="olivia">
        <h4>Olivia</h4>
        <p>Digital account manager</p>
        <img src="/static/images/team/olivia.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=2) }}" id="pauline">
        <h4>Pauline</h4>
        <p>Web designer</p>
        <img src="/static/images/team/pauline.jpg" alt="">
      </section>
      <section data-sr="{{ sr(wait=2.1) }}" id="yohann">
        <h4>Yohann</h4>
        <p>Développeur web</p>
        <img src="/static/images/team/yohann.jpg" alt="">
      </section>
    </section>

    <section id="tools">
      <h3><strong>4</strong> ustensiles indispensables</h3>
      <ul>
        <li data-sr="{{ sr(wait=0.5) }}"id="soda"><strong>1 machine à soda</strong> pour des journées pétillantes</li>
        <li data-sr="{{ sr(wait=0.6) }}" id="sport"><strong>1 coach sportif</strong> pour rester au top</li>
        <li data-sr="{{ sr(wait=0.7) }}" id="babyfoot"><strong>1 babyfoot</strong> pour des midis sportifs</li>
        <li data-sr="{{ sr(wait=0.8) }}" id="popcorn"><strong>1 machine à popcorn</strong> pour les petits creux</li>
      </ul>
    </section>
  </section>
{% endblock body %}
