{% extends '_layout.html' %}

{% block body %}
  <section id="trust">
    <h2>Titre{# Titre #}</h2>
    <p class="intro">
      Pour ameliorer ses services, Kozea group est composé de quatre
      structures, toutes au service de la santé.
    </p>
  </section>

  <section id="platform">
    <h2>Platform</h2>

    <section id="digital">
      <h3>Plateformes digitales pour les acteurs de santé</h3>
      <p>
        Kozea platform repose principalement sur la création et l’hébergement
        de sites Internet pour les acteurs de santé. Ces sites Internet offrent
        des services et du contenu adaptés aux professionnels de santé.
      </p>
    </section>

    <section id="pharminfo">
      <h3>Pharminfo.fr</h3>
      <p>
        Pharminfo.fr propose des sites Internet pour répondre à une demande
        spécifique des pharmaciens d’officine : améliorer la relation avec les
        patients en prolongeant la pharmacie sur le web.
      </p>
      <p>
        À l’écoute de tous nos clients, nous avons su faire évoluer les sites
        Internet à leur demande pour arriver à des plateformes digitales
        performantes. Aujourd’hui leader des sites Internet pour les pharmacies
        d’officine, plus de 2300 pharmacies nous font confiance !
      </p>
      <ul class="links">
        <li><a href="http://pharminfo.fr">En savoir plus</a></li>
      </ul>
    </section>

    <section id="medsite">
      <h3>Medsite.fr</h3>
      <p>
        Medsite.fr offre des sites Internet pour les médecins avec gestion des
        agendas en ligne complexes, et rappels de rendez-vous par SMS.
      </p>
      <p>
        La solution d’agenda en ligne est personnalisale selon l’activité du
        professionnel de santé (laboratoire d’analyse, chirurgien…).
      </p>
      <ul class="links">
        <li><a href="http://medsite.fr">En savoir plus</a></li>
      </ul>
    </section>

    <section id="monprosante">
      <h3>Monprosante.fr</h3>
      <p>
        {# TODO #}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        sodales consequat arcu vel consequat. Nulla auctor, lorem nec luctus
        ultricies, ante tellus eleifend quam.Nulla auctor, lorem nec luctus
        ultricies, ante tellus eleifend quam. Ipsum dolor sit amet, consectetur
        adipiscing elit.
      </p>
      <ul class="links">
        <li><a href="{# TODO #}">En savoir plus</a></li>
      </ul>
    </section>

    <section id="teepy">
      <h3>Teepy</h3>
      <p>
        Teepy est la plateforme qui aide les professionnels de santé à gérer
        leurs rejets du tiers-payant.
      </p>
      <ul class="links">
        <li><a href="{# TODO #}">En savoir plus</a></li>
      </ul>
    </section>
  </section>

  <section id="link">
    <h2>Link</h2>

    <section id="advice">
      <h3>Conseil et services aux acteurs de santé</h3>
      <p>
        Kozea link regroupe des activités de conseil et de services
        additionnels pour les acteurs de santé.
      </p>
    </section>

    <section id="project">
      <h3>Vous avez un projet digital ?</h3>
      <p>
        Kozea Link vous apporte son expertise et son savoir-faire. Nous vous
        accompagnons pour trouver la solution digitale adaptée à vos
        besoins.
      </p>
    </section>

    <section id="backflip">
      <h3>Backflip</h3>
      <p>
        Backflip est une plateforme d’enquêtes en ligne accessible pour le
        grand public et en B to B. Backflip peut être utilisé pour un service
        Commercial, Marketing ou de Ressources Humaines (possibilité de créer
        des questionnaires 360°).
      </p>
      <p>
        Backflip est également utilisé dans le cadre de formations pour
        accroitre les compétences des utilisateurs.
      </p>
      <ul class="links">
        <li><a href="{# TODO #}">En savoir plus</a></li>
      </ul>
    </section>
  </section>

  <section id="media">
    <h2>Media</h2>

    <section id="advertisement">
      <h3>Régie publicitaire pour Kozea platform</h3>
      <p>
        Kozea media est une régie média qui diffuse de la publicité ou de
        l’information promotionnelle sur les sites Internet des professionnels
        de santé.
      </p>
    </section>

    <section id="work">
      <h3>Intégrez le digital dans votre espace de travail</h3>
      <p>
        Kozea média propose la gestion et la mise en place de bornes tactiles,
        d’écrans dans l’espace garnd public pour tous les professionnels de
        santé. Kozea média vous offre la prossibilité de <strong>communiquer
        autrement !</strong>
      </p>
    </section>

    <section id="solutions">
      <h3>Solutions alternatives</h3>
      <p>
        Kozea media vous aide à développer des solutions alternatives à vos
        annonces publicitaires et vous accompagne dans votre problématique de
        communication digitale pour les professionnels de santé.
      </p>
      <p>
        La publicité ou le contenu diffusé peut être adapté au grand public et
        aux professionnels de santé (pharmaciens, médecins) tout en respectant
        la législation en vigueur. Le message est donc modulable en fonction de
        la cible visée.
      </p>
      <p>
        Kozea média propose des statistiques, des campagnes publicitaires à
        suivre en ligne et en temps réel.
      </p>
      <p>
        Vous pouvez gérer de manière continue l’ensemble de voter
        communicatiuon digitale et ajuster votre stratégie en fonction des
        resultats obtenus.
      </p>
    </section>
  </section>

  <section id="community">
    <h2>Community</h2>

    <section id="free">
      <h3>Logiciels libres de l'équipe de Kozea</h3>
      <p>
        Kozea community est l’association de l’équipe de développeurs et de
        webdesigners qui propulsent de l’innovation avec une expertise en
        logiciels libres.
      </p>
    </section>

    <section id="projects">
      <h3>Projets</h3>
      <dl>
        <dt id="radicale">Radicale</dt>
        <dd><a href="http://radicale.org">Serveur de calendriers et carnet d'adresses</a></dd>
        <dt id="pygal">Pygal</dt>
        <dd><a href="http://pygal.org">Générateur de graphiques</a></dd>
        <dt id="weasyprint">WeasyPrint</dt>
        <dd><a href="http://weasyprint.org">Convertisseur de ressources web en PDF</a></dd>
      </dl>
    </section>

    <section id="expert">
      <h3>Expertise en développement libre en Python</h3>
      <p>
        Les projets de Kozea community sont principalement développés en
        utilisant le langage de programmation informatique Python.
      </p>
      <p>
        L’expertise en logiciels libres offre de nombreux avantages techniques
        en terme de rapidité de développement, sécurité, stabilité et pérennité
        des technologies utilisées.
      </p>
      <p>
        L’équipe de Kozea community travaille activement afin de proposer un
        service de qualité. L’objectif étant de détecter les défauts du code au
        plus tot pour éviter les bigs lors de la mise en production.
      </p>
      <p>
        La force de Kozea community repose sur le partage et l’évolution du
        code existant. Le but étant de ne pas rester sur un code figé mais
        d’améliorer celui-ci perpetuellement.
      </p>
      <p>
        Kozea community a été membre du CSS Working Group au sein du W3C.
      </p>
    </section>
  </section>
{% endblock body %}
