{% extends '_layout.html' %}

{% block body %}
  <section id="structures">
    <h2 data-sr="{{ sr(wait=0.6) }}">4 structures au service de la santé</h2>
  </section>

  <section id="platform">
    <h2 >Platform</h2>

    <section data-sr="{{ sr(wait=0.7) }}" id="digital">
      <h3>Plateformes digitales pour les acteurs de santé</h3>
      <p>
        Kozea platform repose principalement sur la création et l’hébergement
        de sites Internet pour les acteurs de santé. Ces sites Internet offrent
        des services et du contenu adaptés aux professionnels de santé.
      </p>
    </section>

    <section data-sr="{{ sr(wait=0.8) }}" id="pharminfo">
      <h3>Pharminfo.fr</h3>
      <p>
        Pharminfo.fr propose des sites Internet pour répondre à une demande
        spécifique des pharmaciens d’officine : améliorer la relation avec les
        patients en prolongeant la pharmacie sur le web.
      </p>
      <p>
        À l’écoute de tous nos clients, nous avons su faire évoluer les sites
        Internet à leur demande pour arriver à des plateformes digitales
        performantes. Aujourd’hui leader des sites Internet pour les pharmacies
        d’officine, plus de 2300 pharmacies nous font confiance !
      </p>
      <ul class="links">
        <li><a href="http://pharminfo.fr">En savoir plus</a></li>
      </ul>
    </section>

    <section data-sr="{{ sr(wait=0.9) }}" id="backoffice">
      <h3>Backoffice</h3>
      <p>
        Fort de son expérience passée dans le tiers-payant, Kozea group a
        développé Backoffice un ensemble de services dédiés à la gestion du
        tiers-payant.
      </p>
      <p>
        Backoffice regroupe 3 offres :
      </p>
      <dl>
        <dt>
          <a href="https://www.lagestiondutierspayant.fr/outsourcing">Externalisation</a>
        </dt>
        <dd>
          Le professionnel de santé délègue l’ensemble des tâches liées au
          tiers-payant à un gestionnaire expert Backoffice.
        </dd>
        <dt>
          <a href="https://www.lagestiondutierspayant.fr/formation">Formation</a>
        </dt>
        <dd>
          Backoffice propose des formations aux professionnels de santé pour
          connaître ou approfondir les rouages de la gestion du tiers-payant.
        </dd>
        <dt>
          <a href="https://www.lagestiondutierspayant.fr/intern">Gestion en interne</a>
        </dt>
        <dd>
          Un outil web est à disposition du professionnel de santé pour gérer
          en toute autonomie son tiers-payant. Il a été développé par l’équipe
          de développeurs de Kozea group en collaboration avec des pharmaciens.
        </dd>
      </dl>
      <ul class="links">
        <li><a href="https://www.lagestiondutierspayant.fr/">En savoir plus</a></li>
      </ul>
    </section>

    <section data-sr="{{ sr(wait=1.1) }}" id="promomaker">
      <h3>Promomaker</h3>
      <p>
        Promomaker est un outil innovant qui permet de gérer facilement
        sa <abbr title="Publicité sur le lieu de vente">PLV</abbr> en créant
        des affiches promotionnelles automatiquement.
      </p>
      <p>
        Kozea group a développé Promomaker à l’aide
        d'un <a href="http://www.gv.com/sprint/">design sprint</a> en seulement
        une semaine.
      </p>
      <p>
        Ce concepteur de
        <abbr title="Publicité sur le lieu de vente">PLV</abbr>
        est un outil simple d’utilisation pour tous les
        groupements et les pharmacies d’officine individuelles.
      </p>
      <ul class="links">
        <li><a href="https://www.promomaker.fr/">En savoir plus</a></li>
      </ul>
    </section>
    <section data-sr="{{ sr(wait=1.2) }}" id="professionnals">
      <h3>Et pour tout autre professionnel de santé</h3>
      <p>Kozea Platform propose ses services de site Internet à tous les professionnels de santé (kinésithérapeute, dentiste, infirmier, podologue...). Le contenu est adapté en fonction de la spécialité.
      </p>
    </section>
  </section>

  <section id="media">
    <h2>Media</h2>

    <section data-sr="{{ sr() }}" id="agency">
      <h3>L’agence digitale des professionnels de santé</h3>
      <p>
        Kozea media est une agence e-marketing qui conseille depuis 10 ans les
        différents acteurs de santé dans leur transformation digitale.
      </p>
    </section>

    <section data-sr="{{ sr(wait=0.6) }}" id="marketing">
      <h3>Marketing digital</h3>
      <p>
        Grâce à son équipe experte en marketing digital, Kozea media accompagne
        les professionnels de santé pour développer une stratégie digitale
        performante tout en respectant les contraintes définies par ce secteur.
      </p>
    </section>

    <section data-sr="{{ sr(wait=0.6) }}" id="services">
      <h3>Services sur mesure</h3>
      <p>
        Du social media (community management) à la publicité on line, Kozea
        media propose des services sur mesure pour réussir une campagne de
        communication avec succès.
      </p>
      <ul class="links">
        <li><a href="https://www.media.kozea.fr/">En savoir plus</a></li>
      </ul>
    </section>
  </section>

  <section id="link">
    <h2>Link</h2>

    <section data-sr="{{ sr() }}" id="advice">
      <h3>Conseil et services aux acteurs de santé</h3>
      <p>
        Kozea link regroupe des activités de conseil et de services
        additionnels pour les acteurs de santé.
      </p>
    </section>

    <section data-sr="{{ sr(wait=0.8) }}" id="project">
      <h3>Vous avez un projet digital ?</h3>
      <p>
        Kozea Link vous apporte son expertise et son savoir-faire pour trouver la solution digitale adaptée à vos besoins.
      </p>
    </section>

    <section data-sr="{{ sr(wait=0.6) }}" id="backflip">
      <h3>Backflip</h3>
      <p>
        Backflip est une plateforme de création de questionnaires en ligne complexe. Elle permet par exemple de gérer l’envoi de plusieurs enquêtes en parallèle, de faire des enquêtes en 360° mais également de poser la même question à plusieurs personnes de manière différente.
      </p>
      <p>
        Backflip compte déjà de nombreux clients à son actif dont de grands groupes industriels.
      </p>
      <!--<ul class="links">
        <li><a href="{# TODO #}">En savoir plus</a></li>
      </ul>-->
    </section>
  </section>

  <section id="community">
    <h2>Community</h2>

    <section data-sr="{{ sr(wait=0.6) }}" id="free">
      <h3>Logiciels libres de l'équipe de Kozea</h3>
      <p>
        Kozea community est l’association de l’équipe de développeurs et de
        webdesigners qui propulsent de l’innovation avec une expertise en
        logiciels libres.
      </p>
    </section>

    <section id="projects">
      <h3>Projets</h3>
      <ul>
        <li data-sr="{{ sr(wait=0.7) }}" id="radicale">
          <a href="http://radicale.org"><strong>Radicale</strong>Serveur de calendriers et carnet d'adresses</a>
        </li>
        <li data-sr="{{ sr(wait=0.8) }}" id="pygal">
          <a href="http://pygal.org"><strong>Pygal</strong>Générateur de graphiques</a>
        </li>
        <li data-sr="{{ sr(wait=0.9) }}" id="weasyprint">
          <a href="http://weasyprint.org"><strong>WeasyPrint</strong>Convertisseur de ressources web en PDF</a>
        </li>
      </ul>
    </section>

    <section data-sr="{{ sr(wait=1) }}" id="expert">
      <h3>Expertise en développement libre en Python</h3>
      <p>
        Les projets de Kozea community sont principalement développés en
        utilisant le langage de programmation informatique Python.
      </p>
      <p>
        L’expertise en logiciels libres offre de nombreux avantages techniques
        en terme de rapidité de développement, sécurité, stabilité et pérennité
        des technologies utilisées.
      </p>
      <p>
        L’équipe de Kozea community travaille activement afin de proposer un
        service de qualité. L’objectif étant de détecter les défauts du code au
        plus tôt pour éviter les bugs lors de la mise en production.
      </p>
    </section>

    <section data-sr="{{ sr(wait=1.1) }}" id="share">
        <p>
        La force de Kozea community repose sur le partage et l’évolution du
        code existant. Le but étant de ne pas rester sur un code figé mais
        d’améliorer celui-ci perpétuellement.
      </p>
      <p>
        Kozea community a été membre du <strong>CSS Working Group</strong> au sein du W3C.
      </p>
    </section>
  </section>
{% endblock body %}
