{% extends '_layout.html' %}

{% block more_js %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&language=fr"></script>
  <script type="text/javascript" src="static/js/googleMap.js"></script>
{% endblock more_js %}

{% block body %}
  <section id="contact-us">
      <h2 data-sr="enter bottom, move 100px, wait 0.6s">Contactez-nous</h2>
    <p data-sr="enter bottom, move 100px, wait 0.7s" class="intro">
      Un projet ? Une collaboration ? Des questions ? Écrivez-nous ! Nous serons ravis de vous répondre.
    </p>

    <dl data-sr="enter bottom, move 100px, wait 0.8s">
      <dt >Adresse</dt>
      <dd>
        107, boulevard de Stalingrad<br/>
        69100<br/>
        Villeurbanne
      </dd>
      <dt>Contact</dt>
      <dd>
        <ul>
          <li><a href="tel://+33478841928">+33 4 78 84 19 28</a></li>
          <li><a href="mailto://contact@kozea.fr">contact@kozea.fr</a></li>
        </ul>
      </dd>
    </dl>
    <form class="contact-form" action="/send_mail/contact" method="POST" data-sr="enter bottom, move 100px, wait 0.9s">
      <input id="email" type="email" placeholder="[ Email ]" name="email" required/>
      <input id="name" placeholder="[ Nom / Société ]" name="name" required/>
      <textarea id="question" placeholder="[ Demande ]" name="question" required></textarea>
      <input type="submit" value="Valider"/>
    </form>
    <section id ="map"></section>
  </section>
{% endblock body %}
