{% extends '_layout.html' %}

{% block body %}
  <section id="missions">
    <h2 data-sr="enter bottom, move 100px, wait 0.6s">Nos missions</h2>

    <section data-sr="enter bottom, move 100px, wait 0.7s" id="gestion-backoffice">
      <h3>Gestion du back office</h3>
      <p>
        Notre but est de simplifier et améliorer la gestion du back office des
        professionnels de santé avec des solutions digitales performantes.
      </p>
      <p>
        Il s’agit de réorienter l’activité des professionnels de santé en
        valorisant leur métier et en se substituant à leur gestion
        administrative pour dégager plus de temps en front office.
      </p>
      <img src="/static/images/icones/backoffice.svg" alt="">
    </section>

    <section data-sr="enter bottom, move 100px, wait 0.8s" id="satisfaction">
      <h3>Satisfaction client</h3>
      <p>
        Nous avons un objectif de fidélisation de la clientèle par la
        satisfaction de service. Kozea group dispose d’un service client
        performant pour répondre à toute demande technique, commerciale ou de
        formation.
      </p>
    </section>

    <section data-sr="enter bottom, move 100px, wait 0.9s" id="develop">
      <h3>Développer de nouveaux projets innovants</h3>
      <p>
        Le renouvellement perpétuel du secteur du Web oblige Kozea group à
        développer constamment de nouveaux projets. L’activité de Kozea
        community constitue cette force majeure. L’équipe de Kozea group vous
        accompagne à l’élaboration et la mise en oeuvre de votre projet.
      </p>
    </section>

    <section data-sr="enter bottom, move 100px, wait 1s" id="big-data">
      <h3>Kozea group souhaite associer le big data à l’univers de la santé</h3>
      <p>
        L’objectif est d’anticiper et d’appréhender au mieux la qualité de vie
        et la santé des personnes, en partageant de l’information médicale pour
        avoir un meilleur suivi du parcours de soin du patient.
      </p>
    </section>
  </section>

  <section id="skills">
    <h2 data-sr="enter bottom, move 100px, wait 1.1s">Nos compétences</h2>
    <ul>
      <li data-sr="enter bottom, move 100px, wait 1.2s" id="targets">
        Améliorer l’accessibilité de vos informations aux cibles B to B et
        B to C en passant par nos plateformes digitales.
      </li>
      <li data-sr="enter bottom, move 100px, wait 1.3s" id="reactivity">
        Accompagner vos projets dans leur réalisation avec rigueur et
        réactivité.
      </li>
      <li data-sr="enter bottom, move 100px, wait 1.4s" id="innovation">
        Faire de votre entreprise un acteur incontournable du digital. Osez le
        changement et l’innovation !
      </li>
      <li data-sr="enter bottom, move 100px, wait 1.5s" id="r-and-d">
        Un pôle Recherche et Développement créatif et performant.
      </li>
    </ul>
  </section>

  <section id="goals">
    <h2 data-sr="enter bottom, move 100px, wait 1.6s">Répondre à vos objectifs</h2>
    <p data-sr="enter bottom, move 100px, wait 1.7s" class="intro">
      Nous vous proposons des outils innovants, du conseil et de
      l’accompagnement personnalisé pour que vous restiez leader sur votre
      marché.
    </p>
    <ul>
      <li data-sr="enter bottom, move 100px, wait 1.8s" id="specialist">Spécialiste de tous les acteurs de santé</li>
      <li data-sr="enter bottom, move 100px, wait 1.9s" id="web-expert">Expert du web</li>
      <li data-sr="enter bottom, move 100px, wait 2s" id="create-solutions">Création de solutions adaptées à vos besoins</li>
    </ul>
  </section>
{% endblock body %}
