{% extends '_layout.html' %}

{% block more_js %}
  <meta name="p:domain_verify" content="f2b1b8fac45895b228119fb3df0adca1"/>
{% endblock more_js %}

{% block body %}
  <section id="about">
    <h2>Kozea</h2>
    <p data-sr="{{ sr(wait=0.5) }}, over 1.5s" class="intro">
      Expert du web pour les acteurs de santé.
    </p>
  </section>

  <section id="activity">
    <h2 data-sr="{{ sr(wait=0.6) }}">Notre activité</h2>
    <p data-sr="{{ sr(wait=0.7) }}" class="intro">
      Kozea group se compose de quatre structures au service de la santé.
    </p>
    <dl id="structures">
      <dt id="platform">Kozea Platform</dt>
      <dd data-sr="{{ sr(wait=0.8) }}"><a href="{{ url_for('page', page='activity') }}#platform">Plateformes digitales pour les acteurs de santé</a></dd>
      <dt id="link">Kozea Link</dt>
      <dd data-sr="{{ sr(wait=0.9) }}"><a href="{{ url_for('page', page='activity') }}#link">Conseil et services aux acteurs de santé</a></dd>
      <dt id="media">Kozea Media</dt>
      <dd data-sr="{{ sr(wait=1) }}"><a href="{{ url_for('page', page='activity') }}#media">L’agence digitale des professionnels de santé</a></dd>
      <dt id="community">Kozea Community</dt>
      <dd data-sr="{{ sr(wait=1.1) }}"><a href="{{ url_for('page', page='activity') }}#community">Projets en logiciels libres de l'équipe de Kozea</a></dd>
    </dl>
  </section>

  <section id="news">
    <h2 data-sr="{{ sr(wait=0.5) }}">Nos actualités</h2>
    <ul>
      <li id="newsletter" data-sr="{{ sr(wait=0.6) }}"><a href="http://eepurl.com/cUojF5">S'abonner à la newsletter</a></li>
      <li id="download-whitepaper" data-sr="{{ sr(wait=0.7) }}">
        <a href="{{ url_for('static', filename='documents/livre-blanc-kozeagroup.pdf')}}">Télécharger notre livre blanc</a>
      </li>
      <li data-sr="{{ sr(wait=0.8) }}" id="latest-news">
        <a>Les dernières actualités</a>
        <a href="{{ render_wordpress[0].link }}">{{ render_wordpress[0].title }}</a>
      </li>
    </ul>
  </section>

  <section id="partners">
    <h2 data-sr="{{ sr(wait=0.5) }}">Nos partenariats</h2>
    <p data-sr="{{ sr(wait=0.6) }}" class="intro">
      Kozea group collabore au sein de plusieurs associations spécialisées dans le web et dans la e-santé.
    </p>
    <ul>
      <li data-sr="{{ sr(wait=0.7) }}" id="france-ehealth-tech"><a href="http://www.france-ehealthtech.org/">France eHealth Tech</a></li>
      <li data-sr="{{ sr(wait=0.8) }}" id="la-cuisine-du-web"><a href="http://www.lacuisineduweb.com">La cuisine du Web</a></li>
      <li data-sr="{{ sr(wait=0.9) }}" id="minalogic"><a href="http://www.minalogic.com/">Minalogic</a></li>
      <li data-sr="{{ sr(wait=1) }}" id="i-care"><a href="http://i-carecluster.org/">i-Care</a></li>
    </ul>
  </section>

  <section id="follow">
    <h2 data-sr="{{ sr(wait=0.5) }}">Suivez-nous</h2>
    <ul class="links">
      <li data-sr="{{ sr(wait=0.6) }}"><a href="{{ url_for('page', page='about') }} ">En savoir plus</a></li>
    </ul>
    <ul class="insta">
      {% set wait = 0.5 %}
      {% for media in render_insta %}
      <li data-sr="{{ sr(wait=wait) }}"><a href="{{ media.link }}" target="_blank"><img src="{{ media.src }}" alt="{{ media.title }}" title="{{ media.title }}"/></a></li>
        {% set wait = wait + 0.1 %}
      {% endfor %}
    </ul>
  </section>
{% endblock body %}
