{% extends '_layout.html' %}

{% block body %}
  <section id="about">
    <h2 data-sr="enter bottom, move 100px, wait 0.5s">Kozea</h2>
    <p data-sr="enter bottom, move 200px, over 1.5s, wait 0.5s" class="intro">
      Expert du web pour les acteurs de santé.
    </p>
  </section>

  <section id="activity">
    <h2 data-sr="enter bottom, move 100px, wait 0.6s">Notre activité</h2>
    <p data-sr="enter bottom, move 200px, wait 0.7s" class="intro">
      Kozea group se compose de quatre structures au service de la santé.
    </p>
    <dl id="structures">
      <dt id="platform">Kozea Platform</dt>
      <dd data-sr="enter bottom, move 200px, wait 0.8s"><a href="{{ url_for('page', page='activity') }}#platform">Plateformes digitales pour les acteurs de santé</a></dd>
      <dt id="link">Kozea Link</dt>
      <dd data-sr="enter bottom, move 200px, wait 0.9s"><a href="{{ url_for('page', page='activity') }}#link">Conseil et services aux acteurs de santé</a></dd>
      <dt id="media">Kozea Media</dt>
      <dd data-sr="enter bottom, move 200px, wait 1s"><a href="{{ url_for('page', page='activity') }}#media">Régie publicitaire pour Kozea platform</a></dd>
      <dt id="community">Kozea Community</dt>
      <dd data-sr="enter bottom, move 200px, wait 1.1s"><a href="{{ url_for('page', page='activity') }}#community">Projets en logiciels libres de l'équipe de Kozea</a></dd>
    </dl>
  </section>

  <section id="news">
    <h2 data-sr="enter bottom, move 100px, wait 0.5s">Nos actualités</h2>
    <ul>
      <li id="newsletter" data-sr="enter bottom, move 150px, wait 0.6s"><a>S'abonner à la newsletter</a></li>
      <li id="download-brochure" data-sr="enter bottom, move 150px, wait 0.7s">
        <a href="{{ url_for('static', filename='documents/brochure-kozeagroup.pdf')}}">Télécharger notre brochure</a>
      </li>
      <li data-sr="enter bottom, move 200px, wait 0.8s" id="press-release">
        <a>Communiqués de presse</a>
      </li>
    </ul>
    <div class="hidden popup">
      <span class="close-popup">X</span>
      <p class="sent hidden">Vous avez été ajouté à la liste d'envoi de la newsletter</p>
      <div>
        <p>Entrez votre adresse mail pour recevoir la newsletter</p>
        <form class="newsletter-form" action="/send_mail/newsletter" method="POST">
          <input type="email" name="email" placeholder="[ Email ]" required />
          <input type="submit" value="Valider" />
        </form>
      </div>
    </div>
  </section>

  <section id="partners">
    <h2 data-sr="enter bottom, move 100px, wait 0.5s">Nos partenariats</h2>
    <p data-sr="enter bottom, move 100px, wait 0.6s" class="intro">
      Kozea group collabore au sein de plusieurs associations spécialisées dans le web et dans la e-santé.
    </p>
    <ul>
      <li data-sr="enter bottom, move 200px, wait 0.7s" id="france-ehealth-tech"><a href="http://www.france-ehealthtech.org/">France eHealth Tech</a></li>
      <li data-sr="enter bottom, move 200px, wait 0.8s" id="la-cuisine-du-web"><a href="http://www.lacuisineduweb.com">La cuisine du Web</a></li>
      <li data-sr="enter bottom, move 200px, wait 0.9s" id="minalogic"><a href="http://www.minalogic.com/">Minalogic</a></li>
      <li data-sr="enter bottom, move 200px, wait 1s" id="i-care"><a href="http://i-carecluster.org/">i-Care</a></li>
    </ul>
  </section>

  <section id="follow">
    <h2 data-sr="enter bottom, move 100px, wait 0.5s">Suivez-nous</h2>
    <ul class="links">
      <li data-sr="enter bottom, move 100px, wait 0.6s"><a href="{{ url_for('page', page='about') }} ">En savoir plus</a></li>
    </ul>
    <ul class="insta">
      {% set wait = 0.5 %}
      {% for media in render_insta %}
        <li data-sr="enter bottom, move 100px, wait {{ wait }}s"><a href="{{ media.link }}" target="_blank"><img src="{{ media.src }}" title="{{ media.title }}"/></a></li>
        {% set wait = wait + 0.1 %}
      {% endfor %}
    </ul>
  </section>
{% endblock body %}
