{% extends '_layout.html' %}

{% block head_title %}
  <title>Kozea - Mentions légales - L’innovation digitale au service des acteurs de la santé</title>
{% endblock head_title %}

{% block body %}
  <section id="legal">
    <h2 data-sr="{{ sr(wait=0.6) }}">Informations sur ce site Internet</h2>

    <dl data-sr="{{ sr(wait=0.7) }}">
      <dt>Hébergeur</dt>
      <dd>Online, BP 438, 75366 Paris CEDEX 08, 01 84 13 00 00</dd>
      <dt>Responsable de la publication</dt>
      <dd>Philippe Donadieu</dd>
    </dl>

    <h3 data-sr="{{ sr(wait=0.8) }}">Kozea group</h3>
    <dl data-sr="{{ sr(wait=0.9) }}">
      <dt>Raison sociale</dt>
      <dd>Pegasus Network</dd>
      <dt>Forme juridique</dt>
      <dd>S.A.S.</dd>
      <dt>SIREN</dt>
      <dd>813 145 455</dd>
      <dt>Adresse</dt>
      <dd>107 boulevard Stalingrad, 69100 Villeurbanne</dd>
      <dt>Capital social</dt>
      <dd>972 400 €</dd>
      <dt>Numéro de TVA intracommunautaire</dt>
      <dd>FR61 813145455</dd>
    </dl>

    <h3 data-sr="{{ sr(wait=1) }}">Kozea platform</h3>
    <dl data-sr="{{ sr(wait=1.1) }}">
      <dt>Raison sociale</dt>
      <dd>Kozea</dd>
      <dt>Forme juridique</dt>
      <dd>S.À.R.L. unipersonnelle</dd>
      <dt>SIREN</dt>
      <dd>508 023 694</dd>
      <dt>Adresse</dt>
      <dd>107 boulevard Stalingrad, 69100 Villeurbanne</dd>
      <dt>Capital social</dt>
      <dd>33 000 €</dd>
      <dt>Numéro de TVA intracommunautaire</dt>
      <dd>FR13 508023694</dd>
    </dl>

    <h3 data-sr="{{ sr(wait=1.2) }}">Kozea link</h3>
    <dl data-sr="{{ sr(wait=1.3) }}">
      <dt>Raison sociale</dt>
      <dd>Keleos</dd>
      <dt>Forme juridique</dt>
      <dd>S.À.R.L. unipersonnelle</dd>
      <dt>SIREN</dt>
      <dd>493 146 864</dd>
      <dt>Adresse</dt>
      <dd>107 boulevard Stalingrad, 69100 Villeurbanne</dd>
      <dt>Capital social</dt>
      <dd>7 500 €</dd>
      <dt>Numéro de TVA intracommunautaire</dt>
      <dd>FR96 493146864</dd>
    </dl>

    <h3 data-sr="{{ sr(wait=1.4) }}">Kozea media</h3>
    <dl data-sr="{{ sr(wait=1.5) }}">
      <dt>Raison sociale</dt>
      <dd>Kubitus</dd>
      <dt>Forme juridique</dt>
      <dd>S.À.R.L. unipersonnelle</dd>
      <dt>SIREN</dt>
      <dd>531 274 744</dd>
      <dt>Adresse</dt>
      <dd>107 boulevard Stalingrad, 69100 Villeurbanne</dd>
      <dt>Capital social</dt>
      <dd>500 €</dd>
      <dt>Numéro de TVA intracommunautaire</dt>
      <dd>FR75 531274744</dd>
    </dl>
  </section>
{% endblock body %}
