{% extends '_layout.html' %}

{% block head_title %}
  <title>Gestion des options</title>
{% endblock head_title %}

{% block body %}
  <section id="options">
    <h2 data-sr="{{ sr(wait=0.6) }}">Options de confidentialité</h2>
    <p data-sr="{{ sr(wait=0.7) }}">
      Kozea utilise des cookies pour mieux connaître vos habitudes de
      navigation. Sur cette page, vous pouvez choisir quels types de cookies
      vous souhaitez nous permettre d'utiliser.
    </p>
    <form action="{{ url_for('cookies') }}", method="POST">
      <label>
        <input type="checkbox" name="analytics" {{ 'checked' if session.get('analytics') }} />
        Google Analytics
      </label>
      <label>
        <input type="checkbox" name="facebook" {{ 'checked' if session.get('facebook') }} />
        Facebook
      </label>
      <input type="submit" value="Valider" />
    </form>
  </section>
{% endblock body %}
