{% extends '_layout.html' %}

{% block body %}
  <section id="trust">
    <h2>Ils nous ont fait confiance</h2>
    <ul>
      <li id="arrow"><a href="http://www.arrow-generiques.com/">Arrow Génériques</a></li>
      <li id="novartis"><a href="http://www.novartis.fr/">Novartis</a></li>
      <li id="bailly"><a href="http://www.baillycreat.com/">Bailly-Creat</a></li>
      <li id="septodont"><a href="http://www.septodont.fr/">Septodont</a></li>
      <li id="sanofi"><a href="http://www.sanofi.com/">Sanofi</a></li>
      <li id="mylan"><a href="http://www.mylan.fr/">Mylan</a></li>
    </ul>
  </section>

  <section id="link">
    <h2>Link</h2>
    {# TODO #}
    <ul>
      <li id="safran"><a href="http://www.safran-group.com/fr">Safran</a></li>
      <li id="lafarge"><a href="http://www.lafarge.com/fr">Lafarge</a></li>
      <li id="novartis"><a href="http://www.novartis.fr/">Novartis</a></li>
      <li id="safetynetwork"><a href="http://www.safetynetwork.fr/">Safety Network</a></li>
    </ul>
  </section>
{% endblock body %}
