<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Kozea group est un expert du web qui vous apporte des solutions digitales performantes pour simplifier la gestion de votre back office.">
    <title>Kozea - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link type="image/png" rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>

