<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Kozea group est un expert du web qui vous apporte des solutions digitales performantes pour simplifier la gestion de votre back office.">
    <title>Kozea - {% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.scss.css') }}">
    <link type="image/png" rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body class="{{ page }}">
    <header>
      <div class="columns3-middle-expanded">
        <div class="left">
          <img class="logo" src="{{ url_for('static', filename='images/logo-kozea-white.svg') }}">
        </div>
        <nav class="primary center">
          <ul>
            <li class="{% if page == 'home' %}active{% endif %}"><a href="{{ url_for('home') }}">Accueil</a></li>
            {% for key, label in menu_list.items() %}
              <li class="{% if page == key %}active{% endif %}"><a href="{{ url_for(key) }}">{{ label }}</a></li>
            {% endfor %}
            <li class="{% if page == 'blog' %}active{% endif %}"><a href="https://kozeagroup.wordpress.com/">Blog</a></li>
          </ul>
        </nav>
        <div class="right"></div>
      </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <div class="upper columns3-middle-expanded">
        <div class="left">
          <img class="logo" src="{{ url_for('static', filename='images/logo-kozea-white.svg') }}">
        </div>
        <nav class="alternative center">
          <ul>
            <li><a href="#">Mon diagnostic</a></li>
            <li><a href="#">Nous rejoindre</a></li>
            <li><a href="https://3a99a3e5.sibforms.com/serve/MUIEAMliWFdHXgDn1V8zASAK2tVyNzu3IMDoYlFSpsGCXf84ZgTIV0iO2nCOMEU77n_8CYFLsHCGR0dhsAz0CMLSkHbtMW9MBe22nVkPhqyzAN5LVR6jrmBjEmgJ4OcMkWJHEBAckmU6Cj-EHTMqHlIm-QDE4MNZo2BNZ9GCSLKZT3vdd46oTJcRviZd5l06UYaTtqop6BcPo3zp">Inscription newsletter</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
        </nav>
        <div class="right">
          <nav class="social-media">
            <ul>
              <li>
                <a href="https://www.facebook.com/kozeagroup/">
                  <img src="{{ url_for('static', filename='images/social/facebook.svg') }}" alt="Facebook">
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/kozea/">
                  <img src="{{ url_for('static', filename='images/social/instagram.svg') }}" alt="Instagram">
                </a>
              </li>
              <li>
                <a href="https://twitter.com/Kozeagroup">
                  <img src="{{ url_for('static', filename='images/social/twitter.svg') }}" alt="Twitter">
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/kozeagroup">
                  <img src="{{ url_for('static', filename='images/social/linkedin.svg') }}" alt="LinkedIn">
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCx5VGRSsjpRWhc55EpI_gEw">
                  <img src="{{ url_for('static', filename='images/social/youtube.svg') }}" alt="YouTube">
                </a>
              </li>
              <li>
                <a href="https://github.com/Kozea">
                  <img src="{{ url_for('static', filename='images/social/github.svg') }}" alt="GitHub">
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <hr>
      <div class="lower columns2-right-expanded">
        <p class="left">© Copyright {{ datetime.date.today().year }}. Made with ♥ by Kozea group</p>
        <nav class="alternative right">
          <ul>
            <li><a href="{{ url_for('legal') }}">Mentions légales</a></li>
            <li><a href="#">Conformité RGPD</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <!-- <call-us
      style="position: fixed; right: 20px; bottom: 20px;
             font-family: Arial;
             z-index: 99999;
             --call-us-form-header-background:#373737;
             --call-us-main-button-background:#0596d4;
             --call-us-client-text-color:#d4d4d4;
             --call-us-agent-text-color:#eeeeee;
             --call-us-form-height:330px;"
      id="wp-live-chat-by-3CX"
      channel-url="https://kozea.my3cx.fr"
      files-url="https://kozea.my3cx.fr"
      minimized="true"
      animation-style="none"
      party="oliviadenunzio"
      minimized-style="BubbleRight"
      allow-call="true"
      allow-video="false"
      allow-soundnotifications="true"
      enable-onmobile="true"
      offline-enabled="true"
      enable="true"
      ignore-queueownership="false"
      authentication="name"
      operator-name="Support"
      show-operator-actual-name="true"
      channel="phone"
      aknowledge-received="true"
      gdpr-enabled="true"
      gdpr-message="Dans le cadre de la fonctionnalité de chat, j'accepte que les données communiquées et les cookies nécessaires soient traités par Kozea pendant une durée de 30 jours conformément au RGPD."
      message-userinfo-format="both"
      message-dateformat="both"
      start-chat-button-text="Chat"
      window-title="Chat en direct et discussion"
      button-icon-type="Default"
      invite-message="Bienvenue chez Kozea. Comment pouvons-nous vous aider ? Vous pouvez écrire ou nous appeler en cliquant sur le bouton téléphone."
      authentication-message="Pouvez-vous nous indiquer votre nom ?"
      unavailable-message="Nous sommes absents ! Laissez-nous un message."
      offline-finish-message="We received your message and we'll contact you soon."
      ending-message="Le chat est terminé. N'hésitez pas à nous recontacter !"
      greeting-visibility="none"
      greeting-offline-visibility="none"
      chat-delay="2000"
      offline-name-message="Could we have your name?"
      offline-email-message="Could we have your email?"
      offline-form-invalid-name="I'm sorry, the provided name is not valid."
      offline-form-maximum-characters-reached="Maximum characters reached"
      offline-form-invalid-email="I'm sorry, that doesn't look like an email address. Can you try again?"
      >
    </call-us> -->
    <!-- <script defer src="https://cdn.3cx.com/livechat/v1/callus.js" id="tcx-callus-js"></script> -->

  </body>
</html>

