{% extends '_layout.html' %}

{% block title %}
{{ article['title'] }}
{% endblock %}

{% block content %}
<div class="page-banner light-text">
  <div class="wide-content">
    <h1 class="big-text">{{ article['title'] }}</h1>
  </div>
</div>

<section>
  <div class="narrow-content">
    <img src="{{ url_for('blog.download_file', filename= '/'.join([article['url'], article['caption']])) }}">
    {% for tag in article['tags'] %}
    <p>{{ tag }}</p>
    {% endfor %}
    {% if article['date'] != None %}
    <b>Date : {{ article['date'] }}</b>
    {% endif %}
    <b>Time : {{ article['time'] }} min</b>
    <hr>
    {{ article['html_content'] | safe }}
  </div>
</section>

<section class="h-centered wide-content">
  <div class="grid-wrapper">
    {% if previous_article != None %}
    <figure class="card2 card2--filled">
      <p class="card2__body">

      <p>
        {{ previous_article['title'] }}
      </p>

      </p>
      <p class="card2__cta">
        <a href="{{ url_for('blog.article', url=previous_article['url']) }}">Article précédent</a>
      </p>
    </figure>
    {% endif %}
    {% if next_article != None %}
    <figure class="card2 card2--filled">
      <p class="card2__body">

      <p>
        {{ next_article['title'] }}
      </p>

      </p>
      <p class="card2__cta">
        <a href="{{ url_for('blog.article', url=next_article['url']) }}">Article suivant</a>
      </p>
    </figure>
    {% endif %}

  </div>
</section>

<section class="h-centered wide-content">
  <div class="grid-wrapper">
    {% for article in same_tag_articles %}
    <figure class="card2 card2--filled">
      {% if article['caption'] %}
      <img src="{{ url_for('blog.download_file', filename= '/'.join([article['url'], article['caption']])) }}">
      {% endif %}
      <p class="card2__title">
        {{ article["title"] }}
      </p>
      <p class="card2__body">
        {% if article['date'] != None %}
      <p>
        Date : {{ article['date'] }}
      </p>
      {% endif %}
      <p>
        Time : {{ article['time'] }} min
      </p>
      <p>
        Tags :
        {% for tag in article['tags'] %}
        {{ tag }},
        {% endfor %}
      </p>
      </p>
      <p class="card2__cta">
        <a href="{{ url_for('blog.article', url=article['url']) }}">Lire</a>
      </p>
    </figure>
    {% endfor %}
  </div>
</section>

{% endblock %}