{% extends '_layout.html' %}

{% block title %}
{{ article['title'] }}
{% endblock %}

{% block content %}
<div class="page-banner light-text">
  <div class="wide-content">
    <h1 class="big-text">{{ article['title'] }}</h1>
  </div>
</div>

<div class="h-centered wide-content">
  <img src="{{ url_for('blog.download_file', filename= '/'.join([article['url'], article['caption']])) }}">
</div>

<section class="grid-wrapper grid-wrapper--services ">
  <div class="narrow-content">
    {% if article['toc'] | safe | length > 35 %}
    <h1>Sommaire</h1>
    <div>
      {{ article['toc'] | safe }}
    </div>
    {% endif %}
    <hr>
    <h1>Partager l'article</h1>
    <p class="card2__cta">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{article_full_url}}" target="_blank">Facebook</a>

      <a href="https://twitter.com/intent/tweet?url={{article_full_url}}" target="_blank">Twitter</a>

      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{article_full_url}}" target="_blank">Linkedin</a>
    </p>
  </div>

  <div class="narrow-content">
    {% for tag in article['tags'] %}
      <p>{{ tag }}</p>
    {% endfor %}
    {% if article['date'] != None %}
      <b>{{ article['date'] }},</b>
    {% endif %}
      <b>{{ article['time'] }} min</b>
    <hr>
    {{ article['html_content'] | safe }}
  </div>
</section>

<section>
  <div class="grid-wrapper wide-content">
    {% if previous_article != None %}
    <figure class="card2 card2--filled">
      <p class="card2__body">
        {{ previous_article['title'] }}
      </p>
      <p class="card2__cta">
        <a href="{{ url_for('blog.article', url=previous_article['url']) }}">Article précédent</a>
      </p>
    </figure>
    {% endif %}
    {% if next_article != None %}
    <figure class="card2 card2--filled">
      <p class="card2__body">
        {{ next_article['title'] }}
      </p>
      <p class="card2__cta">
        <a href="{{ url_for('blog.article', url=next_article['url']) }}">Article suivant</a>
      </p>
    </figure>
    {% endif %}
  </div>
</section>

<section>
  <div class="grid-wrapper wide-content">
    {% for article in same_tag_articles %}
    <figure class="card">
      {% if article['caption'] %}
      <img src="{{ url_for('blog.download_file', filename= '/'.join([article['url'], article['caption']])) }}">
      {% endif %}
      <div class="grid-wrapper grid-wrapper--services wide-content">
        {% for tag in article['tags'] %}
        <figure class="card2 card2--filled ">
          {{ tag }}
        </figure>
        {% endfor %}
      </div>
      <figcaption>
        <p class="card__title">{{ article['title'] }}</p>
        <div class="card__body">
          <hr>
          <p>
            {% if article['date'] != None %}
            {{ article['date'] }} ,
            {% endif %}
            {{ article['time'] }} min
          </p>
        </div>
        <div class="big-cta-card__cta">
          <p><a class="big-link left" href="{{ url_for('blog.article', url=article['url'])}}"></a></p>
        </div>
      </figcaption>
    </figure>
    {% endfor %}
  </div>
</section>

{% endblock %}