{% extends '_layout.html' %}

{% block title %}
Backoffice
{% endblock %}

{% block content %}
  <div class="product-banner product-banner--dark product-banner--head">
    <div class="product-banner--dark--container">
      <div class="product-banner__descriptive">
        <span class="product-banner__name">Backoffice</span>
        <p class="product-banner__catchphrase">Votre tiers-payant géré de A à Z</p>
        <p class="product-banner__description">Backoffice regroupe un ensemble de services essentiels à la gestion du tiers-payant pour les professionnels de santé.</p>
        <div class="cta-button">
          <a class="cta-button__inner" href="{{ url_for('contact') }}">Mon diagnostic</a>
        </div>
      </div>
      <div class="product-banner__illustrative">
        <img class="product-banner__image" src="{{ url_for('static', filename='images/backoffice-header.png') }}">
      </div>
    </div>
  </div>

  <section class="wide-content">
    <div class="fact">
      <div class="fact__illustration fact__illustration--backoffice">
      </div>
      <div class="fact__content">
        <span class="fact__figure">96%</span> des pharmaciens souhaitent réduire le
        temps passé à la gestion du tier-payant. Et vous ?
      </div>
    </div>
  </section>

  <section class="wide-content">
    <p class="h-centered large-p narrow-content">
      La gestion de votre tiers-payant
    </p>
    <div class="grid-wrapper">
      {% for card in data['cards'] %}
      <figure class="card2">
        <p>
          <img class="card2__icon" src="{{ url_for('static', filename=card['icon']) }}" alt="">
        </p>
        <p class="card2__title">
        {{ card['title'] }}
        </p>
        <p class="card2__body">
        {{ card['body'] }}
        </p>
      </figure>
      {% endfor %}
    </div>
  </section>

  <section class="h-centered">
    <iframe
           width="560"
           height="315"
           src="https://www.youtube-nocookie.com/embed/Xhf10RkEvwY"
           title="YouTube video player"
           frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen>
    </iframe>
  </section>

  <section class="wide-content">
    <div class="product-banner product-banner--flipped">
      <div class="product-banner__descriptive">
        <p class="product-banner__catchphrase">Pourquoi faire appel à Backoffice ?</p>
        <ul class="feature-list product-banner__description">
          <li>Gain de temps et optimisation au comptoir</li>
          <li>Récupération rapide de la trésorerie (98% de taux de recouvrement)</li>
          <li>Accélération des délais d'encaissement</li>
          <li>Simplification du suivi des impayés</li>
          <li>Suivi statistique pour aider à réduire le nombre de rejets</li>
        </ul>
        <div class="cta-button">
          <a class="cta-button__inner" href="https://lagestiondutierspayant.fr/">Plus d'informations sur le site dédié</a>
        </div>
      </div>
      <div class="product-banner__illustrative">
        <img class="product-banner__image" src="{{ url_for('static', filename='images/backoffice-avantages.jpg') }}">
      </div>
    </div>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Pour un diagnostic rapide et sans engagement de vos rejets et impayés, contactez nous !</h1>
    </div>
    <div class="big-cta-card__cta" >
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Mon diagnostic</a>
      </div>
    </div>
  </section>

  <section>
    <div class="grid-wrapper wide-content">
      <figure class="card">
        <figcaption>
          <p class="card__headline">Services associés</p>
          <p class="card__title">Focus sur la gestion de votre tiers-payant</p>
          <div class="card__body">
            <p>
            La gestion du tiers-payant vous semble chronophage ? Déléguez l'ensemble
            de ces tâches à un expert de ce domaine.
            </p>
            <p>
            La gestion du tiers-payant représente en moyenne 2038 € de coût de gestion
            et 12 heures de travail par mois pour le suivi et le traitement des contentieux.
            Avec une équipe de gestionnaires Backoffice, gagnez du temps et de l'argent, et
            bénéficiez d'un accompagnement régulier et personnalisé pour vous aider à
            réduire le nombre de rejets.
            </p>
          </div>
          <div class="card__cta">
            <div class="cta-button">
              <a class="cta-button__inner" href="{{ url_for('contact') }}">En savoir plus</a>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
{% endblock %}
