{% extends '_layout.html' %}

{% block title %}
Backoffice
{% endblock %}

{% block content %}
  <div class="product-banner product-banner--dark">
    <div class="product-banner__descriptive">
      <span class="product-banner__name">Backoffice</span>
      <p class="product-banner__catchphrase">Votre tiers-payant géré de A à Z</p>
      <p class="product-banner__description">Backoffice regroupe un ensemble de services essentiels à la gestion du tiers-payant pour les professionnels de santé.</p>
      <div class="cta-button">
        <a class="cta-button__inner" href="#">Mon diagnostic</a>
      </div>
    </div>
    <div class="product-banner__illustrative">
      <img class="product-banner__image" src="{{ url_for('static', filename='images/backoffice-header.png') }}">
    </div>
  </div>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Pour un diagnostic rapide et sans engagement de vos rejets et impayés, contactez nous !</h1>
    </div>
    <div class="big-cta-card__cta" >
      <div class="cta-button">
        <a class="cta-button__inner" href="#">Mon diagnostic</a>
      </div>
    </div>
  </section>
{% endblock %}
