{% extends '_layout.html' %}

{% block title %}
Blog
{% endblock %}

{% block content %}
<div class="big-card gradient-filled ">
  <div class="product-banner product-banner--dark product-banner--head product-banner--flipped wide-content">
    <div class="product-banner__descriptive">
      <div class="grid-wrapper grid-wrapper--services ">
        {% for tag in pinned_article['tags'] %}
        <figure class="card2 card2--filled">
          <div>
            <p class="card2__title">
              {{ tag }}
            </p>
          </div>
        </figure>
        {% endfor %}
      </div>
      <p class="product-banner__catchphrase">{{pinned_article['title']}}</p>
      <p class="product-banner__description">{{pinned_article['description']}}</p>
      <hr>
      <span class="product-banner__name">{{pinned_article['date']}}, {{pinned_article['time']}} min</span>
      <div class="big-cta-card__cta">
        <p><a class="big-link left" href="{{ url_for('blog.article', url=pinned_article['url'])}}"></a></p>
      </div>
    </div>

    <div class="product-banner__illustrative">
      <img class="product-banner__image"
        src="{{ url_for('blog.download_file', filename= '/'.join([pinned_article['url'], pinned_article['caption']])) }}">
    </div>
  </div>
</div>

<section>
  <div class="grid-wrapper wide-content">
    <div class="col-4">
      <figure class="card" style="width: 18rem;">
        <figcaption>
          <p class="card__title">Filtrer les sujets</p>
          <div class="card__body">
            <p>
              <a href="{{ url_for('blog.blog') }}">Tous</a>
            </p>
            {% for tag in tag_list %}
            <p>
              <a href="{{ url_for('blog.blog', tag = tag) }}">{{ tag }}</a>
            </p>
            {% endfor %}
          </div>
        </figcaption>
      </figure>
    </div>


    {% for article in articles %}
      <figure class="card">
        <figcaption>
          {% if article['caption'] %}
          <img src="{{ url_for('blog.download_file', filename= '/'.join([article['url'], article['caption']])) }}">
          {% endif %}

          <p class="card__title">{{ article['title'] }}</p>
          <div class="card__body">

            {% if article['date'] != None %}
            <p>
              Date : {{ article['date'] }}
            </p>
            {% endif %}
            <p>
              Time : {{ article['time'] }} min
            </p>
            <p>
              Tags :
              {% for tag in article['tags'] %}
              {{ tag }},
              {% endfor %}
            </p>
          </div>
          <div class="card__cta">
            <div class="cta-button">
              <a class="cta-button__inner" href="{{ url_for('blog.article', url=article['url'])}}">Lire</a>
            </div>
          </div>
        </figcaption>
      </figure>
    {% endfor %}
  </div>
  {{ pagination.links }}
</section>

{% endblock %}