{% extends '_layout.html' %}

{% block title %}
article
{% endblock %}

{% block content %}
<div class="page-banner light-text">
  <div class="container">
    <h1>article</h1>
  </div>
</div>

<dl>
  {% if article['author'] != None %}
  <dt>Auteur</dt>
  <dd>{{ article['author'] }}</dd>
  {% endif %}
  <dt>Date</dt>
  <dd>{{ article['date'] }}</dd>
  <dt>Catégories</dt>
  <dd>
    <ul>
      {% for tag in article['tags'] %}
      <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </dd>
</dl>
<section>
  {{ article['html_content'] | safe }}
</section>

{% endblock %}