{% extends '_layout.html' %}

{% block title %}
Groupement
{% endblock %}

{% block content %}
  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Une autre idée de projet en tête ? Échangeons ensemble sur vos besoins !</h1>
    </div>
    <div class="big-cta-card__cta" >
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Contactez-nous !</a>
      </div>
    </div>
  </section>
{% endblock %}
