{% extends '_layout.html' %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Vous êtes un groupement ?</h1>
      <p>Découvrez nos solutions et offres adaptées pour vous, vos adhérents et leurs patients.</p>
    </div>
    <p class="big-cta-card__cta" >
      <a class="cta-button" href="#">→ C'est par ici !</a>
    </p>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Optimisez votre présence digitale et suivez nos actualités !</h1>
      <p>Tous les mois, recevez des conseils faciles à mettre en place pour développer votre pharmacie en ligne !</p>
    </div>
    <p class="big-cta-card__cta" >
      <a class="cta-button" href="#">→ M'inscrire à la newsletter</a>
    </p>
  </section>
{% endblock %}
