{% extends '_layout.html' %}

{% block title %}
Accueil
{% endblock %}

{% block content %}
  <section class="h-centered wide-content">
    <p class="big-text">Des solutions adaptées à vos besoins</p>
    <p>Libérez-vous du temps pour être au plus proche de vos patients, avec les services complémentaires Kozea group.</p>
    <div class="grid-wrapper">
      {% for card in data['cards'] %}
      <figure class="card2">
        <p>
          <img class="card2__icon" src="{{ url_for('static', filename=card['icon']) }}" alt="">
        </p>
        <p class="card2__title">
        {{ card['title'] }}
        </p>
        <p class="card2__body">
        {{ card['body'] }}
        </p>
        <p class="card2__cta">
          <a href="{{ url_for(card['page']) }}">→ En savoir plus</a>
        </p>
      </figure>
      {% endfor %}
    </div>
    <section>
      <a class="cta-button" href="{{ url_for('solutions') }}">→ Toutes nos solutions</a>
    </section>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Vous êtes un groupement ?</h1>
      <p>Découvrez nos solutions et offres adaptées pour vous, vos adhérents et leurs patients.</p>
    </div>
    <p class="big-cta-card__cta" >
      <a class="cta-button" href="{{ url_for('groupement') }}">→ C'est par ici !</a>
    </p>
  </section>

  <section class="wide-content">
    <div class="product-banner">
      <div class="product-banner__descriptive">
        <span class="product-banner__name">Qui sommes-nous</span>
        <p class="product-banner__catchphrase">Faire de notre partenariat un facteur de votre réussite</p>
        <p class="product-banner__description">
        Depuis plus de 10 ans, nous accompagnons les groupements et professionnels de santé dans leurs missions
        du quotidien, à travers des solutions digitales innovantes. Notre objectif : vous faire gagner du temps
        pour vous recentrer sur votre cœur de métier (la vente et le conseil) et vous donner les clés pour acquérir
        de nouvelles parts de marché.
        </p>
        <a href="{{ url_for('à-propos') }}" class="cta-button">→ En savoir plus</a>
      </div>
      <div class="product-banner__illustrative">
        <img class="product-banner__image" src="{{ url_for('static', filename='images/accueil-equipe.png') }}">
      </div>
    </div>
  </section>

  <section class="dark-filled light-text">
    <ul class="key-figures">
      <li class="key-figure key-figures__figure">
        <span class="key-figure__number">96%</span> de satisfaction clients
      </li>
      <li class="key-figure key-figures__figure">
        <span class="key-figure__number">2700</span> clients
      </li>
      <li class="key-figure key-figures__figure">
        <span class="key-figure__number">20</span> collaborateurs dévoués
      </li>
      <li class="key-figure key-figures__figure">
        <span class="key-figure__number">37+</span> projets développés
      </li>
    </ul>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Optimisez votre présence digitale et suivez nos actualités !</h1>
      <p>Tous les mois, recevez des conseils faciles à mettre en place pour développer votre pharmacie en ligne !</p>
    </div>
    <p class="big-cta-card__cta" >
      <a class="cta-button" href="#">→ M'inscrire à la newsletter</a>
    </p>
  </section>
  <section class="h-centered wide-content">
    <p class="big-text">Un projet ? Une collaboration ? Des questions ?</p>
    <p><a class="big-link" href="#">Échangeons !</a></p>
  </section>
{% endblock %}
