{% extends '_layout.html' %}

{% block title %}
Le digital, c'est la santé
{% endblock %}

{% block meta %}
<meta property="og:title" content="Kozea - Le digital, c'est la santé" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.kozea.fr/" />
<meta property="og:image" content="https://www.kozea.fr/static/images/logo-kozea.png" />
{% endblock %}

{% block header_content %}
  <div class="hero-text hero__hero-text">
    <p class="hero-text__title">Recentrez-vous sur votre cœur de métier</p>
    <p class="hero-text__catchphrase">Des solutions digitales pour améliorer la performance de votre officine</p>
    <div class="cta-button">
      <a class="cta-button__inner" href="{{ url_for('solutions') }}">Nos solutions</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <section class="h-centered wide-content">
    <p class="big-text">Des solutions adaptées à vos besoins</p>
    <p>Libérez-vous du temps pour être au plus proche de vos patients, avec les services complémentaires Kozea group.</p>
    <div class="grid-wrapper">
      {% for card in data['cards'] %}
      <figure class="card2">
        <p>
          <img class="card2__icon" src="{{ url_for('static', filename=card['icon']) }}" alt="">
        </p>
        <p class="card2__title">
        {{ card['title'] }}
        </p>
        <p class="card2__body">
        {{ card['body'] }}
        </p>
        <p class="card2__cta">
          <a href="{{ url_for(card['page']) }}">En savoir plus</a>
        </p>
      </figure>
      {% endfor %}
    </div>
    <section>
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('solutions') }}">Toutes nos solutions</a>
      </div>
    </section>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Vous êtes un groupement&nbsp;?</h1>
      <p>Découvrez nos solutions et offres adaptées pour vous, vos adhérents et leurs patients.</p>
    </div>
    <div class="big-cta-card__cta" >
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('groupement') }}">C'est par ici&nbsp;!</a>
      </div>
    </div>
  </section>

  <section class="wide-content">
    <div class="product-banner">
      <div class="product-banner__descriptive">
        <span class="product-banner__name">Qui sommes-nous</span>
        <p class="product-banner__catchphrase">Faire de notre partenariat un facteur de votre réussite</p>
        <p class="product-banner__description">
        Depuis plus de 10 ans, nous accompagnons les groupements et professionnels de santé dans leurs missions
        du quotidien, à travers des solutions digitales innovantes. Notre objectif : vous faire gagner du temps
        pour vous recentrer sur votre cœur de métier (la vente et le conseil) et vous donner les clés pour acquérir
        de nouvelles parts de marché.
        </p>
        <div class="cta-button">
          <a class="cta-button__inner" href="{{ url_for('à-propos') }}">En savoir plus</a>
        </div>
      </div>
      <div class="product-banner__illustrative">
        <img class="product-banner__image" src="{{ url_for('static', filename='images/accueil-equipe.jpg') }}">
      </div>
    </div>
  </section>

  <section class="dark-filled light-text">
    <ul class="key-figures">
      <li class="key-figure key-figures__figure">
        <span class="key-figure__number">96%</span> de satisfaction clients
      </li>
      <li class="key-figure key-figures__figure">
        <span class="key-figure__number">2700</span> clients
      </li>
      <li class="key-figure key-figures__figure">
        <span class="key-figure__number">20</span> collaborateurs dévoués
      </li>
      <li class="key-figure key-figures__figure">
        <span class="key-figure__number">37+</span> projets développés
      </li>
    </ul>
  </section>

  <section class="h-centered light-filled">
    <p class="big-text">Témoignages clients</p>
    <div class="grid-wrapper grid-wrapper--testimonials">
      <div class="testimony">
        <p class="testimony__content">
        « Avec Backoffice, j'ai diminué le dû de mon tiers-payant et les rejets
        sont en nette régression. J'apprécie la fiabilité de l'équipe grâce à son
        professionnalisme, et je suis très satisfait de leur travail et des services
        proposés par Backoffice ! »
        </p>
        <div class="testimony__author">
          <div class="testimony__pp">
            <img src="{{ url_for('static', filename='images/temoignages-pharmacie-abisror.png') }}">
          </div>
          <div class="testimony__label">
            <div class="testimony__author-name">Thierry ABISROR</div>
            <div class="testimony__author-desc">Titulaire de la Pharmacie du Val d'Yerres</div>
          </div>
        </div>
      </div>
      <div class="testimony">
        <p class="testimony__content">
        « J'avais trouvé leurs sites agréables et ergonomiques et je me suis laissé convaincre.
        J'ai été accompagné tout au long des démarches nécessaires au démarrage du site web, et
        j'ai toujours pu compter sur une réaction rapide et appropriée à chaque sollicitation.»
        </p>
        <div class="testimony__author">
          <div class="testimony__pp">
            <img src="{{ url_for('static', filename='images/temoignages-benjamin-hotin.png') }}">
          </div>
          <div class="testimony__label">
            <div class="testimony__author-name">Benjamin HOTIN</div>
            <div class="testimony__author-desc">Titulaire de la Pharmacie du Transvaal</div>
          </div>
        </div>
      </div>
      <div class="testimony">
        <p class="testimony__content">
        « Je suis très satisfait des services de Kozea media. La page Facebook de la pharmacie
        fonctionne très bien et nos clients sont bien informés. La personne avec qui je suis en
        contact est très réactive, autonome et son contenu est pertinent.»
        </p>
        <div class="testimony__author">
          <div class="testimony__pp">
            <img src="">
          </div>
          <div class="testimony__label">
            <div class="testimony__author-name">D.</div>
            <div class="testimony__author-desc">Pharmacie du Casino</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="h-centered wide-content">
    <p class="big-text">Ils nous font confiance</p>
    <ul class="carousel">
      <li><img class="carousel__item" src="{{ url_for('static', filename='images/eg-labo-logo.jpg') }}"></li>
      <li><img class="carousel__item" src="{{ url_for('static', filename='images/elsie-sante-logo.png') }}"></li>
      <li><img class="carousel__item" src="{{ url_for('static', filename='images/gfc-logo.png') }}"></li>
      <li><img class="carousel__item" src="{{ url_for('static', filename='images/hello-pharmacie-logo.png') }}"></li>
      <li><img class="carousel__item" src="{{ url_for('static', filename='images/krka-logo.png') }}"></li>
    </ul>
  </section>

  <section>
    <div class="product-banner product-banner--dark product-banner--padded">
      <div class="product-banner__descriptive">
        <span class="product-banner__name">Livre blanc</span>
        <p class="product-banner__catchphrase">Comment développer vos ventes grâce à votre site internet ?</p>
        <p class="product-banner__description">
        Ce document est à destination des pharmaciens d'officine propriétaires d'un site internet de vente
        en ligne de médicaments et de produits de parapharmacie. Il vous permettra d'identifier les solutions à
        mettre en œuvre pour accélérer les ventes sur votre site internet.
        </p>
        <div class="cta-button">
          <a class="cta-button__inner" href="https://3a99a3e5.sibforms.com/serve/MUIEAIB1GiFexNvTNs4GXz69RhG-YxXdCZwlj9fH6WZbvYqcT52sNzrvTsvgsP7qIW-Ows15p8z24pU2VV-vd7lMYV4_OUtcfuLH13q5ZLwN_Iuu3dPI-81BZ3gYlpRNsNM_11J0yzRLcarVI-yEn4F4h_YipYrV1ucCR7NQgeBesZm-emCF-RYDQIcn9vlDcaZikfNX-J5HqUz3">Télécharger</a>
        </div>
      </div>
      <div class="product-banner__illustrative">
        <img class="product-banner__image" src="{{ url_for('static', filename='images/accueil-livre-blanc.jpg') }}">
      </div>
    </div>
  </section>

  <section class="h-centered wide-content">
    <div class="cta-button">
      <a class="cta-button__inner" href="{{ url_for('blog.blog') }}">Notre blog</a>
    </div>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Optimisez votre présence digitale et suivez nos actualités&nbsp;!</h1>
      <p>Tous les mois, recevez des conseils faciles à mettre en place pour développer votre pharmacie en ligne !</p>
    </div>
    <div class="big-cta-card__cta">
      <div class="cta-button">
        <a class="cta-button__inner" href="https://3a99a3e5.sibforms.com/serve/MUIEAMliWFdHXgDn1V8zASAK2tVyNzu3IMDoYlFSpsGCXf84ZgTIV0iO2nCOMEU77n_8CYFLsHCGR0dhsAz0CMLSkHbtMW9MBe22nVkPhqyzAN5LVR6jrmBjEmgJ4OcMkWJHEBAckmU6Cj-EHTMqHlIm-QDE4MNZo2BNZ9GCSLKZT3vdd46oTJcRviZd5l06UYaTtqop6BcPo3zp">M'inscrire à la newsletter</a>
      </div>
    </div>
  </section>
  <section class="h-centered wide-content">
    <p class="big-text">Un projet ? Une collaboration ? Des questions ?</p>
    <p><a class="big-link" href="{{ url_for('contact') }}">Échangeons !</a></p>
  </section>
{% endblock %}
