{% extends '_layout.html' %}

{% block title %}
Kozea Media
{% endblock %}

{% block content %}
  <div class="product-banner product-banner--dark">
    <div class="product-banner__descriptive">
      <span class="product-banner__name">Kozea media</span>
      <p class="product-banner__catchphrase">Optimisez votre communication et votre visibilité en ligne</p>
      <p class="product-banner__description">Kozea media conseille et accompagne les acteurs de santé dans leur communication digitale.</p>
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Contactez-nous !</a>
      </div>
    </div>
    <div class="product-banner__illustrative">
      <img class="product-banner__image" src="{{ url_for('static', filename='images/kozea-media-header.png') }}">
    </div>
  </div>

  <section class="wide-content">
    <div class="fact">
      <div class="fact__illustration fact__illustration--kozea-media">
      </div>
      <div class="fact__content">
        <span class="fact__figure">80%</span> des patients estiment que la présence de leur pharmacie
        sur les réseaux sociaux renforce leur relation et les rapproche. Alors pourquoi pas vous ?
      </div>
    </div>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Échangeons ensemble sur vos besoins et vos projets !</h1>
    </div>
    <div class="big-cta-card__cta" >
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Contactez-nous !</a>
      </div>
    </div>
  </section>
{% endblock %}
