<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Kozea group est un expert du web qui vous apporte des solutions digitales performantes pour simplifier la gestion de votre back office.">
    <title>Kozea - Mentions légales</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/legal.scss.css') }}">
    <link type="image/png" rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
  </head>
  <body>
    <h1>
      Informations sur ce site Internet
    </h1>

    <dl>
      <dt>
        Hébergeur
      </dt>
      <dd>
        Online, BP 438, 75366 Paris CEDEX 08, 01 84 13 00 00
      </dd>

      <dt>
        Responsable de la publication
      </dt>
      <dd>
        Philippe Donadieu
      </dd>
    </dl>

    <h2>
      Kozea group
    </h2>

    <dl>
      <dt>
        Raison sociale
      </dt>
      <dd>
        Pegasus Network
      </dd>

      <dt>
        Forme juridique
      </dt>
      <dd>
        S.A.S.
      </dd>

      <dt>
        SIREN
      </dt>
      <dd>
        813 145 455
      </dd>

      <dt>
        Adresse
      </dt>
      <dd>
        107 boulevard Stalingrad, 69100 Villeurbanne
      </dd>

      <dt>
        Capital social
      </dt>
      <dd>
        664 400 €
      </dd>

      <dt>
        Numéro de TVA intracommunautaire
      </dt>
      <dd>
        FR61 813145455
      </dd>
    </dl>


    <h1>
      Pratiques en matière de respect de la vie privée
    </h1>

    <p>
      Le Règlement Général de Protection des données (RGPD) entré en vigueur le 25 mai 2018, définit les principes à respecter lors de la collecte, du traitement et de la conservation de données personnelles. Il garantit aussi les droits pour les personnes concernées.
    </p>
    <p>
    Pegasus Network recueille des statistiques anonymes de visites ne nécessitant pas de consentement explicite. Si vous souhaitez ne pas être comptabilisé dans ces données statistiques, vous pouvez vous <a href="https://pharminfo.matomo.cloud/index.php?module=CoreAdminHome&action=optOut&language=fr">exclure de ces statistiques</a>.
    </p>
    <p>
      Les informations récoltées peuvent être utilisées par Pegasus Network et par toute autre structure liée à la holding Pegasus Network.
    </p>
    <p>
      Plusieurs formulaires sont présents sur le site www.kozea.fr afin de collecter les données d’un visiteur, comme celui de l’inscription à la newsletter, de prise de contact ou de téléchargement d’un livre blanc.
    </p>

    <h2>
      Objectifs
    </h2>

    <p>
      Le recueil des données sur le site www.kozea.fr a pour objectif de constituer un fichier de gestion des prospects et clients pour la société Pegasus Network. Ce fichier est utilisé pour contacter et/ou proposer des offres adaptées aux contacts.
    </p>

    <h2>
      Données à caractère personnel
    </h2>

    <p>
      Afin de suivre au mieux l’intérêt porté par les prospects et clients de Pegasus Network, le fichier recueille toutes informations des visiteurs du site www.kozea.fr relatives à l’identité et aux informations professionnelles.
    </p>

    <h2>
      Licéité du traitement et conditions applicables au consentement (art. 8 et art. 9 du RGPD)
    </h2>

    <p>
      Le consentement du traitement de données à caractère personnel d’un visiteur est systématiquement obtenu dans le but de faire partie de notre base de prospection pour lui proposer des informations susceptibles de l’intéresser.
    </p>

    <h2>
      Conservation des données
    </h2>

    <p>
      Les données recueillies sur le site www.kozea.fr sont conservées pour une durée maximale de 3 ans pour les contacts prospects après leur dernière activité sur le site web par la personne. À l’issue de ces périodes, toutes les données relatives à la personne sont automatiquement supprimées.
    </p>

    <h2>
      Droits des personnes (art. 14 à art. 18 du RGPD)
    </h2>

    <p>
    Conformément à la loi informatique et libertés et au RGPD, toute personne peut exercer son droit d’accès, de rectification, d’opposition, à la limitation des traitements, à la suppression et la portabilité des données le concernant en faisant une demande signée et accompagnée de la copie d’un titre d’identité par mail à l’adresse <a href="mailto:rgpd@kozea.fr">rgpd@kozea.fr</a> ou par courrier à l’adresse du siège social de Pegasus Network à l’adresse suivante : 107 boulevard Stalingrad 69100 Villeurbanne. Le responsable du fichier, effectuera une réponse au plus tard dans le mois suivant la demande d’accès ou de rectification.
    </p>

    <h2>
      Sécurité des données et traitements (art. 29 du RGPD)
    </h2>

    <p>
      Les données recueillies sur le site www.kozea.fr et les traitements associés sont hébergés par la société Kozea SARL.
    </p>
    <p>
      Seules les personnes liées au service technique, marketing et commercial de la société Pegasus Network ont accès aux informations recueillies sur le site www.kozea.fr.
    </p>

    <h2>
      Atteinte aux données et communication sous 72h (art. 30 et art. 31 du RGPD)
    </h2>

    <p>
      En cas de violation ou suspicion de violation de données à caractères personnels, Pegasus Network notifiera la CNIL, 72h au plus tard, après en avoir pris connaissance. Enfin, le cas échéant, l’utilisateur sera informé de la nature de la violation ainsi que sa portée et les moyens mis en œuvre pour résoudre l’incident.
    </p>

    <h2>
      À propos des cookies
    </h2>

    <p>
      Nous utilisons différents cookies sur le site pour améliorer l’interactivité du site et nos services.
    </p>

    <h3>
      Qu’est-ce qu’un « cookie » ?
    </h3>

    <p>
      Un « cookie » est un fichier de taille limitée, généralement constitué de lettres et de chiffres, envoyé par le serveur internet au fichier cookie du navigateur situé sur le disque dur de votre ordinateur.
    </p>

    <h3>
      Liste des cookies utilisés sur le site
    </h3>

    <h4>
      Matomo
    </h4>

    <p>
      Nous utilisons Matomo pour collecter de l’information sur la façon dont les visiteurs utilisent le site, et ainsi mieux connaître leurs attentes. Cela nous permet d’améliorer constamment le site.
    </p>
    <p>
      Matomo enregistre de l’information sur les pages que vous visitez, la durée de la visite, les pages de provenance, etc. Nous ne recevons, ni n’enregistrons aucune information personnelle : ce cookie ne peut donc pas être utilisé pour vous identifier.
    </p>

    <h1>
      Liens externes
    </h1>

    <p>
      Le site www.kozea.fr pointe vers de nombreux autres sites webs. Pegasus Network ne peut en aucun cas être tenu pour responsable des contenus et politique de confidentialité de ces sites. Kozea ne saurait non plus être tenu pour responsable d’éventuels dommages directs ou indirects qui découleraient de leur utilisation : en particulier de l’accès à ces sites et aux sites liés à ces sites, et des dommages, non limitatifs, préjudices financier ou commercial, perte d’exploitation, perte de données, et cela même si nous avons pu en être avisé préalablement.
    </p>
  </body>
</html>
