{% extends '_layout.html' %}

{% block title %}
Pharminfo
{% endblock %}

{% block content %}
  <div class="product-banner product-banner--dark product-banner--head">
    <div class="product-banner__descriptive">
      <span class="product-banner__name">Pharminfo.fr</span>
      <p class="product-banner__catchphrase">Le site internet de votre pharmacie pour rester connecté à vos patients</p>
      <p class="product-banner__description">Simple d'utilisation, il assure à votre pharmacie une meilleure visibilité en ligne et des services adaptés pour vous et vos patients.</p>
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Réservez une démonstration</a>
      </div>
    </div>
    <div class="product-banner__illustrative">
      <img class="product-banner__image" src="{{ url_for('static', filename='images/pharminfo-header.png') }}">
    </div>
  </div>

  <section class="wide-content">
    <div class="fact">
      <div class="fact__illustration fact__illustration--pharminfo">
      </div>
      <div class="fact__content">
        <span class="fact__figure">72%</span> des patients seraient intéressés par la mise en place d'un
        service de Click and Collect en pharmacie. N'attendez plus !
      </div>
    </div>
  </section>

  <section class="wide-content">
    <p class="h-centered large-p narrow-content">
      L'objectif de Pharminfo.fr est de prolonger sur le web la relation entre le pharmacien
      et ses patients, à travers un site internet clé en main à personnaliser.
    </p>
    <div class="grid-wrapper">
      {% for card in data['cards'] %}
      <figure class="card2">
        <p>
          <img class="card2__icon" src="{{ url_for('static', filename=card['icon']) }}" alt="">
        </p>
        <p class="card2__title">
        {{ card['title'] }}
        </p>
      </figure>
      {% endfor %}
    </div>
  </section>

  <section class="big-card big-text light-text gradient-filled h-centered rounded-corner wide-content">
    Aujourd'hui, plus de 2500 pharmacies font confiance à Pharminfo.fr, pourquoi pas vous ?
  </section>

  <section class="wide-content">
    <p class="h-centered large-p narrow-content">
      Pharminfo.fr propose 4 offres dédiées aux pharmacies d'officine
    </p>
    <div class="grid-wrapper">
      {% for card in data['cards_alt'] %}
        <figure class="card2 card2--filled">
          <div>
            <p class="card2__title">
              {{ card["title"] }}
            </p>
            <p class="card2__body">
              {{ card["body"] }}
            </p>
          </div>
        </figure>
      {% endfor %}
    </div>
  </section>

  <section class="h-centered wide-content">
    <p class="large-p narrow-content">
      Et une offre dédiée pour les groupements !
    </p>
    <div class="cta-button">
      <a class="cta-button__inner" href="{{ url_for('groupement') }}">En savoir plus</a>
    </div>
  </section>

  <section class="h-centered">
    <iframe
           width="560"
           height="315"
           src="https://www.youtube-nocookie.com/embed/fSRU--88LY4"
           title="YouTube video player"
           frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen>
    </iframe>
  </section>

  <section class="wide-content">
    <div class="product-banner product-banner--flipped">
      <div class="product-banner__descriptive">
        <p class="product-banner__catchphrase">Le service Pharminfo c'est</p>
        <ul class="feature-list product-banner__description">
          <li>Votre pharmacie disponible 24h/24 et 7j/7</li>
          <li>Une nouvelle opportunité de développer votre chiffre d'affaires</li>
          <li>Un moyen de fidéliser votre clientèle</li>
          <li>Un service client à votre écoute</li>
          <li>Le respect des règles juridiques et déontologiques</li>
        </ul>
        <div class="cta-button">
          <a class="cta-button__inner" href="https://www.pharminfo.fr/">Plus d'informations sur le site dédié</a>
        </div>
      </div>
      <div class="product-banner__illustrative">
        <img class="product-banner__image" src="{{ url_for('static', filename='images/pharminfo-avantages.png') }}">
      </div>
    </div>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="big-text stacking-block">
      <h1>Aujourd'hui, avoir un site internet est indispensable !</h1>
      <p>Lancez-vous !</p>
    </div>
    <div class="big-cta-card__cta">
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Réservez une démonstration</a>
      </div>
    </div>
  </section>

  <section>
    <div class="grid-wrapper wide-content">
      <figure class="card">
        <figcaption>
          <p class="card__headline">Services associés</p>
          <p class="card__title">Vous manquez de temps ou de ressources pour gérer votre site internet ?</p>
          <div class="card__body">
            <p>
            Laissez l'équipe Pharminfo.fr vous aider !
            </p>
            <p>
            Avec l'intégration de vos produits, promotions, nouveautés, actualités… Améliorez votre référencement
            sur les moteurs de recherche, la communication auprès de vos patients et le trafic en pharmacie !
            </p>
            <p>
            Bénéficiez d'un accompagnement personnalisé avec une personne dédiée, pour échanger avec vous sur
            vos besoins de façon régulière.
            </p>
          </div>
          <div class="card__cta">
            <div class="cta-button">
              <a class="cta-button__inner" href="#">En savoir plus</a>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
{% endblock %}
