{% extends '_layout.html' %}

{% block title %}
Pharminfo
{% endblock %}

{% block content %}
  <div class="product-banner product-banner--dark">
    <div class="product-banner__descriptive">
      <span class="product-banner__name">Pharminfo.fr</span>
      <p class="product-banner__catchphrase">Le site internet de votre pharmacie pour rester connecté à vos patients</p>
      <p class="product-banner__description">Simple d'utilisation, il assure à votre pharmacie une meilleure visibilité en ligne et des services adaptés pour vous et vos patients.</p>
      <a href="#" class="cta-button">→ Réservez une démonstration</a>
    </div>
    <div class="product-banner__illustrative">
      <img class="product-banner__image" src="{{ url_for('static', filename='images/pharminfo-header.png') }}">
    </div>
  </div>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Aujourd'hui, avoir un site internet est indispensable !</h1>
      <p>Lancez-vous !</p>
    </div>
    <p class="big-cta-card__cta" >
      <a class="cta-button" href="#">→ Réserver une démonstration</a>
    </p>
  </section>
{% endblock %}
