{% extends '_layout.html' %}

{% block title %}
Pharminfo
{% endblock %}

{% block content %}
  <div class="product-banner product-banner--dark">
    <div class="product-banner__descriptive">
      <span class="product-banner__name">Pharminfo.fr</span>
      <p class="product-banner__catchphrase">Le site internet de votre pharmacie pour rester connecté à vos patients</p>
      <p class="product-banner__description">Simple d'utilisation, il assure à votre pharmacie une meilleure visibilité en ligne et des services adaptés pour vous et vos patients.</p>
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Réservez une démonstration</a>
      </div>
    </div>
    <div class="product-banner__illustrative">
      <img class="product-banner__image" src="{{ url_for('static', filename='images/pharminfo-header.png') }}">
    </div>
  </div>

  <section class="wide-content">
    <div class="fact">
      <div class="fact__illustration fact__illustration--pharminfo">
      </div>
      <div class="fact__content">
        <span class="fact__figure">72%</span> des patients seraient intéressés par la mise en place d'un
        service de Click and Collect en pharmacie. N'attendez plus !
      </div>
    </div>
  </section>

  <section class="wide-content">
    <p class="h-centered large-p narrow-content">
      L'objectif de Pharminfo.fr est de prolonger sur le web la relation entre le pharmacien
      et ses patients, à travers un site internet clé en main à personnaliser.
    </p>
    <div class="grid-wrapper">
      {% for card in data['cards'] %}
      <figure class="card2">
        <p>
          <img class="card2__icon" src="{{ url_for('static', filename=card['icon']) }}" alt="">
        </p>
        <p class="card2__title">
        {{ card['title'] }}
        </p>
      </figure>
      {% endfor %}
    </div>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="big-text stacking-block">
      <h1>Aujourd'hui, avoir un site internet est indispensable !</h1>
      <p>Lancez-vous !</p>
    </div>
    <div class="big-cta-card__cta">
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Réservez une démonstration</a>
      </div>
    </div>
  </section>
{% endblock %}
