{% extends '_layout.html' %}

{% block title %}
Promomaker
{% endblock %}

{% block content %}
  <div class="product-banner">
    <div class="product-banner__descriptive">
      <span class="product-banner__name">Promomaker</span>
      <p class="product-banner__catchphrase">Créez vos affiches promotionnelles automatiquement en quelques clics</p>
      <p class="product-banner__description">Promomaker est un outil qui vous permet de créer des affiches promotionnelles automatiquement pour les pharmacies.</p>
      <a href="#" class="cta-button">→ Contactez-nous</a>
    </div>
    <div class="product-banner__illustrative">
      <img class="product-banner__image" src="{{ url_for('static', filename='images/promomaker-header.png') }}">
    </div>
  </div>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Intéressé(e) par ce projet ?</h1>
    </div>
    <p class="big-cta-card__cta" >
      <a class="cta-button" href="#">→ Contactez-nous</a>
    </p>
  </section>
{% endblock %}
