{% extends '_layout.html' %}

{% block title %}
Promomaker
{% endblock %}

{% block content %}
  <div class="product-banner product-banner--dark product-banner--head">
    <div class="product-banner__descriptive">
      <span class="product-banner__name">Promomaker</span>
      <p class="product-banner__catchphrase">Créez vos affiches promotionnelles automatiquement en quelques clics</p>
      <p class="product-banner__description">Promomaker est un outil qui vous permet de créer des affiches promotionnelles automatiquement pour les pharmacies.</p>
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Contactez-nous !</a>
      </div>
    </div>
    <div class="product-banner__illustrative">
      <img class="product-banner__image" src="{{ url_for('static', filename='images/promomaker-header.png') }}">
    </div>
  </div>

  <section class="wide-content">
    <div class="fact">
      <div class="fact__illustration fact__illustration--promomaker">
      </div>
      <div class="fact__content">
        <span class="fact__figure">47%</span> des pharmaciens manquent de temps pour créer
        des PLV (Publicité sur le Lieu de Vente) de qualité, ou n'ont pas les compétences
        requises. C'est votre cas ?
      </div>
    </div>
  </section>

  <section class="h-centered narrow-content">
      <p class="small-p">
      Cet outil est particulièrment adapté pour les groupements de pharmacies, qui peuvent
      ainsi diffuser simplement et de façon harmonisée les supports de publicité à l'ensemble
      de leurs adhérents.
      </p>
      <p class="large-p">
      Promomaker permet aussi à chaque pharmacie indépendante de créer sa propre campagne de communication.
      </p>
  </section>

  <section class="wide-content">
    <div class="product-banner product-banner--flipped">
      <div class="product-banner__descriptive">
        <p class="product-banner__catchphrase">Pourquoi utiliser le générateur de PLV Promomaker ?</p>
        <ul class="feature-list product-banner__description">
          <li>Une interface claire et simple d'utilisation</li>
          <li>L'automatisation des campagnes publicitaires</li>
          <li>Un outil disponible sur le web</li>
          <li>Un accès personnalisé pour les groupements ou les officines (adhérentes ou individuelles)</li>
          <li>Des données chiffrées et sécurisées</li>
        </ul>
        <div class="cta-button">
          <a class="cta-button__inner" href="https://www.promomaker.fr/">Plus d'informations sur le site dédié</a>
        </div>
      </div>
      <div class="product-banner__illustrative">
        <img class="product-banner__image" src="{{ url_for('static', filename='images/promomaker-avantages.png') }}">
      </div>
    </div>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Intéressé(e) par ce projet ?</h1>
    </div>
    <p class="big-cta-card__cta" >
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Contactez-nous !</a>
      </div>
    </p>
  </section>
{% endblock %}
