{% extends '_layout.html' %}

{% block title %}
Solutions
{% endblock %}

{% block content %}
  <div class="bg-gray-500 text-white text-center">
    <h1 class="uppercase">Nos solutions</h1>
    <h2 class="text-3xl">Vous souhaitez vous recentrer sur votre cœur de métier ?</h2>
    <p>↓</p>
  </div>
  <nav>
    <ul class="bg-gray-200 flex justify-center gap-4">
      <li><a href="#">Site internet</a></li>
      <li><a href="#">Communication</a></li>
      <li><a href="#">Tiers-payant</a></li>
      <li><a href="#">PLV</a></li>
      <li><a href="#">Innovation</a></li>
    </ul>
  </nav>
  <section class="p-8">
    <header class="px-96 py-8 space-y-8 text-justify">
      <p class="">
      Face à la transformation du système de santé, le métier de pharmacien ne cesse d’évoluer avec
      l'attribution de nouvelles missions. Aujourd’hui, plus que jamais, les patients comptent sur vous.
      </p>
      <p class="font-bold">
      Les solutions complémentaires Kozea group ont été créées par et
      des pharmaciens, dans le but de vous libérer du temps pour
      être plus proche de vos patients.
      </p>
    </header>
    <div class="grid grid-cols-4 px-8 gap-1">
      <figure class="flex flex-col border border-gray-200 shadow-md rounded">
        <img src="https://picsum.photos/300/200">
        <figcaption class="p-8">
          <p class="uppercase text-gray-400 font-bold text-xs">pharminfo.fr</p>
          <p class="font-bold">Votre pharmacie disponible 24h/24 et 7j/7</p>
          <p>
          Des services adaptés pour vous et vos patients :
          </p>
          <ul class="list-disc list-inside">
            <li>Envoi d'ordonnance</li>
            <li>Click and Collect</li>
            <li>Vente en ligne</li>
            <li>Prise de rendez-vous</li>
          </ul>
          <button class="border border-blue-400 text-blue-400 p-3">→ En savoir plus</button>
        </figcaption>
      </figure>
      <figure class="bg-green-400">
        <img src="https://picsum.photos/300/200">
      </figure>
    </div>
  </section>
  <section class="bg-gray-200 p-8">
    <div class="container mx-auto text-center">
      <h1 class="font-bold">Vous êtes un groupement ?</h1>
      <p>Découvrez nos solutions et offres adaptées pour vous, vos adhérents et leurs patients.</p>
      <button class="p-3 bg-black text-white font-bold">→ C'est par ici !</button>
    </div>
  </section>
  <section>
    <div class="container mx-auto text-center">
      <h1 class="font-bold">Services associés</h1>
      <h2>Nos compétences à votre service</h2>
      <p>Même avec les meilleurs outils utilisés en pharmacie, il se peut que vous manquiez de temps ou de
      ressources pour vous en occuper régulièrement et maximiser les résultats.</p>
      <p>Laissez faire l’équipe Kozea group !</p>
    </div>
  </section>
{% endblock %}
