{% extends '_layout.html' %}

{% block title %}
Solutions
{% endblock %}

{% block content %}
  <div class="page-banner light-text">
    <div class="container">
      <h1>Nos solutions</h1>
      <h2 class="big-text">Vous souhaitez vous recentrer sur votre cœur de métier ?</h2>
    </div>
  </div>
  <!--
  <nav class="secondary">
    <ul>
      <li><a href="#">Site internet</a></li>
      <li><a href="#">Communication</a></li>
      <li><a href="#">Tiers-payant</a></li>
      <li><a href="#">PLV</a></li>
      <li><a href="#">Innovation</a></li>
    </ul>
  </nav>
  -->
  <section>
    <header>
      <div class="narrow-content">
        <p class="small-p">
        Face à la transformation du système de santé, le métier de pharmacien ne cesse d’évoluer avec
        l'attribution de nouvelles missions. Aujourd’hui, plus que jamais, les patients comptent sur vous.
        </p>
        <p class="large-p">
        Les solutions complémentaires Kozea group ont été créées par et
        des pharmaciens, dans le but de vous libérer du temps pour
        être plus proche de vos patients.
        </p>
      </div>
    </header>
    <div>
      <figure>
        <img src="https://picsum.photos/300/200">
        <figcaption>
          <p>pharminfo.fr</p>
          <p>Votre pharmacie disponible 24h/24 et 7j/7</p>
          <p>
          Des services adaptés pour vous et vos patients :
          </p>
          <ul>
            <li>Envoi d'ordonnance</li>
            <li>Click and Collect</li>
            <li>Vente en ligne</li>
            <li>Prise de rendez-vous</li>
          </ul>
          <button>→ En savoir plus</button>
        </figcaption>
      </figure>
      <figure>
        <img src="https://picsum.photos/300/200">
      </figure>
    </div>
  </section>
  <section class="h-centered gradient-filled light-text wide-content">
    <div class="narrow-content stacking-block">
      <h1 class="big-text">Vous êtes un groupement ?</h1>
      <p class="small-text">Découvrez nos solutions et offres adaptées pour vous, vos adhérents et leurs patients.</p>
      <button>→ C'est par ici !</button>
    </div>
  </section>
  <section>
    <div>
      <h1>Services associés</h1>
      <h2>Nos compétences à votre service</h2>
      <p>Même avec les meilleurs outils utilisés en pharmacie, il se peut que vous manquiez de temps ou de
      ressources pour vous en occuper régulièrement et maximiser les résultats.</p>
      <p>Laissez faire l’équipe Kozea group !</p>
    </div>
  </section>
{% endblock %}
