{% extends '_layout.html' %}

{% block title %}
Solutions
{% endblock %}

{% block content %}
  <div class="page-banner light-text">
    <div class="container">
      <h1>Nos solutions</h1>
      <h2 class="big-text">Vous souhaitez vous recentrer sur votre cœur de métier ?</h2>
    </div>
  </div>
  <!--
  <nav class="secondary">
    <ul>
      <li><a href="#">Site internet</a></li>
      <li><a href="#">Communication</a></li>
      <li><a href="#">Tiers-payant</a></li>
      <li><a href="#">PLV</a></li>
      <li><a href="#">Innovation</a></li>
    </ul>
  </nav>
  -->
  <section>
    <header>
      <div class="justified narrow-content">
        <p class="small-p">
        Face à la transformation du système de santé, le métier de pharmacien ne cesse d’évoluer avec
        l'attribution de nouvelles missions. Aujourd’hui, plus que jamais, les patients comptent sur vous.
        </p>
        <p class="large-p">
        Les solutions complémentaires Kozea group ont été créées par et pour
        des pharmaciens, dans le but de vous libérer du temps pour
        être plus proche de vos patients.
        </p>
      </div>
    </header>
    <div class="grid-wrapper wide-content">
      {% for card in data['cards'] %}
        <figure class="card">
          <img src="{{ url_for('static', filename=card['cover']) }}">
          <figcaption>
            <p class="card__headline">{{ card['headline'] }}</p>
            <p class="card__title">{{ card['title'] }}</p>
            <div class="card__body">
              <p>
                {{ card['body'] }}
              </p>
              <ul class="card__list">
                {% for feature in card['features'] %}
                  <li>{{ feature }}</li>
                {% endfor %}
              </ul>
            </div>
            <div class="card__cta">
              <div class="cta-button">
                <a class="cta-button__inner" href="{{ url_for(card['page']) }}">En savoir plus</a>
              </div>
            </div>
          </figcaption>
        </figure>
      {% endfor %}
    </div>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Vous êtes un groupement ?</h1>
      <p>Découvrez nos solutions et offres adaptées pour vous, vos adhérents et leurs patients.</p>
    </div>
    <div class="big-cta-card__cta" >
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('groupement') }}">C'est par ici !</a>
      </div>
    </div>
  </section>

  <section class="h-centered narrow-content">
    <div>
      <p class="grey-text">Services associés</p>
      <p class="big-text">Nos compétences à votre service</p>
      <p>Même avec les meilleurs outils utilisés en pharmacie, il se peut que vous manquiez de temps ou de
      ressources pour vous en occuper régulièrement et maximiser les résultats.</p>
      <p>Laissez faire l’équipe Kozea group !</p>
    </div>
  </section>

  <section class="h-centered wide-content">
    <div class="grid-wrapper">
      {% for card in data['cards_alt'] %}
        <figure class="card2">
          <p class="card2__title">
            {{ card["title"] }}
          </p>
          <p class="card2__body">
            {{ card["body"] }}
          </p>
          <p class="card2__cta">
            <a href="{{ url_for(card['page']) }}">→ En savoir plus</a>
          </p>
        </figure>
      {% endfor %}
    </div>
  </section>

  <section class="big-cta-card dark-filled light-text rounded-corner wide-content">
    <div class="stacking-block">
      <h1 class="big-text">Besoin d'aide ?</h1>
      <p>Vous ne savez pas vers quelle(s) offre(s) ou service(s) vous tourner ? Suivez notre guide !</p>
    </div>
    <div class="big-cta-card__cta" >
      <div class="cta-button">
        <a class="cta-button__inner" href="{{ url_for('contact') }}">Mon diagnostic</a>
      </div>
    </div>
  </section>
  <section class="wide-content">
    <p class="big-text">Plus de 2700 clients font confiance à Kozea group, pourquoi pas vous ?</p>
  </section>
  <section class="h-centered wide-content">
    <p><a class="big-link" href="{{ url_for('contact') }}">Contactez-nous !</a></p>
  </section>
{% endblock %}
