{%- from "_utils.jinja2" import static -%}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ static('images/favicon.png') }}">
    {%- include "_ie.jinja2" -%}

    <link rel="stylesheet" href="{{ static('stylesheets/jquery-ui.css') }}"/>
    <link href="{{ static('stylesheets/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static('stylesheets/main.css') }}" rel="stylesheet">
    <link href="{{ static('stylesheets/bxslider/jquery.bxslider.css') }}" rel="stylesheet">
    <!--[if lte IE 8]>
      <link href="{{ static('stylesheets/ie.css') }}" rel="stylesheet">
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->

    <title>Kozea</title>
  </head>

  <body data-spy="scroll" data-target="#main-menu" data-offset="85">
      <header id="main-header">
        <h1 id="header-title">Kozea</h1>
        <hr id="switch" />
      </header>

      <nav id="main-menu">
        <button id="navigation-dropdown"></button>
        <ul class="nav menu">
          <li id="main-header-link"><a href="#main-header" id="main-header-link-icon">Kozea</a></li>
          <li><a href="#web">Web</a></li>
          <li><a href="#libre">Open Source</a></li>
          <li><a href="#team">Équipe</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#reference">Références</a></li>
        </ul>
      </nav>

      <section id="banner">
        <h2>Kozea
          <span class="slogan">Vos projets, Notre expertise</span>
        </h2>
        <p>Kozea regroupe un ensemble d'experts (informaticiens et graphistes) qui développe des solutions Web adaptées à vos besoins. Kozea se distingue par sa volonté de travailler en Open source. </p>
        <p>L'utilisation de logiciels libres est au cœur de notre métier car il permet de fournir un grand nombre de softs performants et de qualité.</p>
      </section>

    <ul class='bxslider'>
      <li>
      <section id="web" class="fullpage-item horizontal-slider">
        <h2>Web</h2>
        <p>Toutes nos compétences reposent sur la mutualisation des données. Nos outils web ont, selon leurs fonctions, les mêmes services pour une gestion simplifiée et de qualité.</p>
        <article id="website">
          <h3 class="website-title-h3">Site Internet</h3>
          <h4>Notre expertise </h4>
          <p>Proposez des sites Internet à moindre coût avec un maximum de fonctionnalités<br/><br/><br/></p>
          <a href="#website-slide-link" class="more" data-slide='1'>En savoir plus</a>
        </article>
        <article id="elearning">
          <h3 class="elearning-title-h3">E-learning</h3>
          <h4>Notre expertise</h4>
          <p>Proposez librement des formations accessibles pour tous et par tous<br/><br/><br/><br/></p>
          <a href="#elearning-slide-link" class="more" data-slide='2'>En savoir plus</a>
        </article>
        <article id="questionnary">
          <h3 class="questionnary-title-h3">Enquêtes et Statistiques</h3>
          <h4>Notre expertise</h4>
          <p>Proposer une plateforme de création ou d'administration de questionnaires et gérer les analyses statistiques des données collectées</p>
          <a href="#questionnary-slide-link" class="more" data-slide='3'>En savoir plus</a>
        </article>
        <article id="webdesign">
          <h3 class="webdesign-title-h3">Création graphique</h3>
          <h4>Notre expertise</h4>
          <p>Vous apporter un outil qualitatif, adapté à vos besoins et à votre charte graphique<br/><br/><br/></p>
          <a href="#webdesign-slide-link" class="more" data-slide='4'>En savoir plus</a>
        </article>
      </section>
      </li>

      <li>
        <section class='horizontal-slider' id='website-slide'>
          <a href="#" class="backToFirstSlide">Retour</a>
          <div>
            <h2 class="website-title">Site Internet</h2>
            <p>Kozea développe des sites Internet pour les professionnels de santé. Nous nous engageons à fournir :</p>
            <ul>
              <li>Des vrais services + pour les patients : <br/>- contenu pertinent sur la santé mis à jour régulièrement pour une information continue,<br/> - possibilité de prises de rendez-vous en ligne, <br/>- commande, <br/>- réservation d'ordonnances en ligne*....</li>
              <li>Des outils de gestion adaptés aux professionnels de santé :<br/>- gestion de commandes*,<br/>- des patients inscrits sur les sites,<br/>- accès aux statistiques de vente*,<br/>- accès à des formations e-learning.</li>
              <li>Des sites avec un module intégré de gestion des droits d’accès. Les professionnels de santé ont accès à tous les modules et à toutes les rubriques du site. Ils peuvent les consulter et/ou les modifier en toute autonomie.</li>
              <li>Le respect des différentes règles des conseils de l'ordre selon les professions</li>
            </ul>
            <p>Ces sites sont commercialisés sous les marques Medsite.fr et Pharminfo.fr. </p>
            <article class="pharminfo">
              <h3 class="pharmacy">Pharminfo.fr</h3>
              <p><strong>Pharminfo.fr</strong> proposent aux pharmaciens d'officine des sites Internet de la simple vitrine au site Internet e-commerce.</p>
              <p><strong>Retrouvez toutes les informations sur <a href="http://www.pharminfo.fr/">Pharminfo.fr</a></strong></p>
            </article>
            <article class="medsite">
              <h3 class="doctor">Medsite.fr</h3>
              <p><strong>Medsite.fr</strong> proposent aux médecins des sites Internet vitrine au site avec réservation en ligne de rendez-vous.</p>
              <p><strong>Retrouvez toutes les informations sur <a href="http://www.medsite.fr/">Medsite.fr.</a></strong></p>
            </article>
            <p>Aujourd'hui, plus de 2000 professionnels de santé font confiance à nos solutions de site Internet.</p>
            <pc lass="note"><sup>*</sup> Pour les pharmaciens d'officine.</p>
          </div>
        </section>
      </li>

      <li>
      <section class='horizontal-slider' id='elearning-slide'>
        <a href="#" class="backToFirstSlide">Retour</a>
        <div>
          <h2 class="elearning-title"-title>Plateforme e-learning</h2>
          <p>Kozea est le premier éditeur e-learning qui propose une plateforme de formation en ligne.</p>
          <article class="lcms">
            <h3 class"lcms-title">Plateforme LCMS</h3>
            <p>Les administrateurs créent et gèrent les contenus de la formation e-learning.</p>
            <p>La formation est accessible en ligne par les apprenants et les administrateurs. La création et la mise en ligne d'une formation se fait en toute autonomie.</p>
          </div>
          </article>
          <article class="gear">
            <h3>Gestion administrative</h3>
            <p>La plateforme e-learning, propose des outils  pour la gestion des inscriptions et des abonnées de formations, ainsi que des statistiques de suivi du parcours des formations.</p>
          </article>
          <article class="evaluation">
            <h3>Évaluation des formations</h3>
            <p>Chaque apprenant peut être évalué à l'aide de questionnaires de connaissances ou d'évaluation avec des résultats statistiques à l'appui.</p>
          </article>
          <article class="organism">
            <h3>Vous êtes organisme de formation spécialisé dans la santé ?</h3>
            <p>Les plateformes vitalesoft.fr/ vitaleform.fr sont faites pour vous.</p>
            <div class="vitale-soft">
              <h4 class="vitalesoft">Vitalesoft.fr</h4>
              <p>Plateforme de création de formation en ligne dédiée aux organismes de formation et autres utilisateurs susceptibles d'entrer du contenu. </p>
            </div>
            <div class="vitale-form">
              <h4 class="vitaleform">Vitaleform.fr</h4>
              <p>Plateforme multimédia pour suivre des formations e-learning avec diaporamas commentés, vidéos et consultation des cours en ligne.</p>
            </div>
            <p>Pour plus d'informations téléchargez nos plaquettes : <a href="static/stylesheets/bootstrap/documents/vitale-form.pdf">Vitale-Form</a> / <a href="static/stylesheets/bootstrap/documents/vitale-soft.pdf">Vitale-Soft</a></p>
          </article>
          <article class="organism">
             <h3>Vous êtes une entreprise ?</h3>
             <div class="krea-soft">
               <h4>Krea-soft.fr</h4>
               <p>Plateforme de création de formation en ligne pour les entreprises désireuses de créer des formations pour leurs équipes en interne ou leurs clients.</p>
             </div>
             <div class="krea-form">
               <h4>Krea-form.fr</h4>
               <p>Plateforme multimédia pour suivre des formations e-learning avec diaporamas commentés, vidéos et consultation des cours en ligne pour les équipes interne ou leurs clients.</p>
             </div>
             <p>Pour plus d'informations téléchargez nos plaquettes :  <a href="static/stylesheets/bootstrap/documents/krea-soft.pdf">Krea-soft</a> / <a href="static/stylesheets/bootstrap/documents/krea-form.pdf">Krea-form</a></p>
           </article>
         </div>
      </section>
      </li>

      <li>
      <section class='horizontal-slider' id='stat-slide'>
        <a href="#" class="backToFirstSlide">Retour</a>
        <div>
          <h2 class="questionnary-title">Enquêtes et Statistiques</h3>
          <article class="question-360">
            <h3>360°</h3>
            <p>Nous proposons des questionnaires 360° Feedback pour évaluer les compétences des cadres ou employés d'une entreprise. L'intérêt et de fournir une auto-évaluation d'un employé et le feedback de son entourage.</P>
            <P>Nous fournissons également les données statistiques des 360° effectués.</P>
          </article>
          <article class="labsharing">
            <h3>Test de lisibilité : Labsharing</h3>
            <p>Nous réalisons une application permettant d'effectuer des tests de lisibilité dans le cadre de l'amélioration de la qualité des notices de médicaments . Ces tests consistent à interviewer des personnes recrutées aléatoirement, sur la compréhension d'une notice à l'aide d'un questionnaire portant sur différentes de celle-ci.</p>
            <p>Des rapports d'analyses des données sont ensuite générés semi-automatiquement par notre équipe d'experts (dont des pharmaciens)</p>
            <p>Plus d’informations sur <a href="http://www.labsharing.fr">www.labsharing.fr</a></p>
          </article>
          <article class="questions">
            <h3>Questionnaires quantitatifs</h3>
            <p>Vous souhaitez collecter des informations sur un échantillon de population important ? Nous sommes en mesure de créer les questionnaires, les envoyer aux personnes concernées et d'établir les statistiques globales et individuelles des réponses collectées.</p>
          </article>
          <article class="stats">
            <h3>Et tout autre questionnaire... avec rapport statistique</h3>
            <p>Questions fermées, questions multichotomiques, questions multichotomiques à choix multiple, questions avec échelle d'attitude, échelle de Lickert, échelle à supports sémantiques de Thurstone, échelle sémantique différentielle d'Osgood etc...</p>
            <p>Présentez-nous votre cahier des charges et nous répondrons à votre besoin.</p>
          </article>
          <article class="extraction">
            <h3>Extraction de données statistiques</h3>
            <p>Grâce aux sites Internet Pharminfo.fr, nous sommes capables d'extraire les données statistiques de vente en sell-out en prenant en compte différentes variables (région, taux de remboursement, taux de TVA...).</p>
          </article>
        </div>
      </section>
      </li>

    <li>
      <section class='horizontal-slider' id='art-slide'>
        <a href="#" class="backToFirstSlide">Retour</a>
        <div>
          <h2 class="design-title">Création graphique</h2>
          <article class="design">
            <h3>HTML5</h3>
            <p>Notre équipe graphique est à votre disposition pour vous accompagner de la conception à la réalisation de vos projets.</p>
            <p>L'utilisation de HTML5 nous permet de créer des sites responsives : ils sont adaptables à tous supports numériques (tablettes, smartphones, ordinateurs).</p>
          </article>
          <ul>
            <li><a href="#theme1" role="button" data-toggle="modal"><img src="static/stylesheets/bootstrap/images/theme1.png" /></a></li>
            <li><a href="#theme2" role="button" data-toggle="modal"><img src="static/stylesheets/bootstrap/images/theme2.png" /></a></li>
            <li><a href="#theme3" role="button" data-toggle="modal"><img src="static/stylesheets/bootstrap/images/theme3.png" /></a></li>
            <li><a href="#theme4" role="button" data-toggle="modal"><img src="static/stylesheets/bootstrap/images/theme4.png" /></a></li>
            <li><a href="#theme5" role="button" data-toggle="modal"><img src="static/stylesheets/bootstrap/images/theme5.png" /></a></li>
            <li><a href="#theme6" role="button" data-toggle="modal"><img src="static/stylesheets/bootstrap/images/theme6.png" /></a></li>
            <li><a href="#theme7" role="button" data-toggle="modal"><img src="static/stylesheets/bootstrap/images/theme7.png" /></a></li>
            <li><a href="#theme8" role="button" data-toggle="modal"><img src="static/stylesheets/bootstrap/images/theme8.png" /></a></li>
          </ul>
        </div>
      </section>
     </li>
</ul>

<div class="modal fade bs-modal-sm" role="dialog" id="theme1" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <img src="static/images/theme1.jpg" alt="" />
      <img src="static/images/cross.png" alt="" class="closeModal"/>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" id="theme2" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <img src="static/images/theme2.jpg" alt="" />
      <img src="static/images/cross.png" alt="" class="closeModal"/>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" id="theme3" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <img src="static/images/theme3.jpg" alt="" />
      <img src="static/images/cross.png" alt="" class="closeModal"/>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" id="theme4" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <img src="static/images/theme4.jpg" alt="" />
      <img src="static/images/cross.png" alt="" class="closeModal"/>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" id="theme6" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <img src="static/images/theme6.jpg" alt="" />
      <img src="static/images/cross.png" alt="" class="closeModal"/>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" id="theme7" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <img src="static/images/theme7.jpg" alt="" />
      <img src="static/images/cross.png" alt="" class="closeModal"/>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" id="theme8" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <img src="static/images/theme8.jpg" alt="" />
      <img src="static/images/cross.png" alt="" class="closeModal"/>
    </div>
  </div>
</div>
<div class="modal fade" role="dialog" id="theme5" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <img src="static/images/theme5.jpg" alt="" />
      <img src="static/images/cross.png" alt="" class="closeModal"/>
    </div>
  </div>
</div>

      <section id="libre" class="fullpage-item">
        <h2>Open Source</h2>
        <p>La philosophie de Kozea a toujours été d'utiliser et de créer des logiciels libres. Le développement des applications sont faites en <a href="http://www.python.org">Python.</a></p>
        <p>Chaque logiciel libre s'adapte à nos besoins selon les différentes activités de Kozea.</p>
        <p>Logiciels créés par Kozea :</p>
        <ul>
          <li>
            <a title="CalDAV Serveur de calendrier et de carnets d'adresse" class="radicale" href="http://www.radicale.org"/>Radical</a>
          </li>
          <li>
            <a class="pygal" title="Création de graphiques au format vectoriel (SVG)" class="pygal" href="http://www.pygal.org/">Pygal</a>
          </li>
          <li>
            <a class="weasyprint" title="Convertion de fichiers HTML/CSS en PDF, PS, PNG." href="http://www.weasyprint.org/">WeasyPrint</a>
          </li>
          <li><a class="cairo"title="Conversion de fichiers au format SVG en PDF, PS, PN" href="http://www.cairosvg.org">CairoSVG</a>
          </li>
          <li>
            <a class="umlaut" title="Application Web de création de diagrammes" href="http://kozea.github.io/umlaut/">Umlaut</a>
          </li>
          <li>
            <a class="wdb" title="Débugeur web pour python" href="https://github.com/Kozea/wdb">Wdb</a>
          </li>
          <li>
            <a class="pyphen" title="Bibliothèque de césure de mots" href="http://pyphen.org/">Pyphen</a>
          </li>
        </ul>
      </section>


      <section id="team" class="fullpage-item">
        <h2>Équipe Web</h2>
        <p>Une équipe web de passionnés !</p>
        <ul class="team-kozea">
          <li class="guillaume" title="Guillaume">Guillaume<span>Directeur Associé<br> Développeur</span></li>
          <li class="annabelle" title="Annabelle">Annabelle<span>Graphiste</span></li>
          <li class="jean-marc" title="Jean-Marc">Jean-Marc<span>Développeur</span</li>
          <li class="pauline" title="Pauline">Pauline<span>Graphiste</span></li>
          <li class="florian" title="Florian">Florian<span>Chef de projet</span</li>
          <li class="anaele" title="Anaèle">Anaèle<span>Graphiste</span></li>
          <li class="clement" title="Clément">Clément<span>Développeur</span></li>
        </ul>
      </section>

      <section id="contact">
        <h2>Contact</h2>

        <p>N'hésitez pas à nous contacter et nous faire part de vos idées et projets, nous serons heureux de répondre rapidement.</p>
        <article class="phone">
          <h3 class="phone-h3">Téléphone</h3>
          <dl>
            <dd>Standard</dd>
            <dt>+33 4 78 84 19 28</dt>
            <dd>Support technique</dd>
            <dt>+33 4 27 11 83 97</dt>
            <dd>Fax</dd>
            <dt>+33 4 27 11 83 98</dt>
          </dl>
        </article>

        <article class="email">
          <h3 class="email-h3">Email</h3>
           <dl>
            <dd>Contact commercial</dd>
            <dt><a href="mailto:contact@kozea.fr">contact@kozea.fr</a></dt>
            <dd>Support technique</dd>
            <dt><a href="mailto:support@kozea.fr">support@kozea.fr</a></dt>
            <dd> IRC ##kozea sur Freenode </dd>
          </dl>
        </article>

        <article class="address">
          <h3 class="address-h3">Adresse</h3>
          <blockquote>
           KOZEA<br/>
            1 rue Louis et Marie-Louis Baumer<br/>
            69120 Vaulx-en-Velin<br/>
            FRANCE
          </blockquote>

        </article>

      </section>


      <section id="reference">
        <h2>Références</h2>
        <p>Ils nous ont fait confiance</p>
        <ul>
          <li class="odialis">Odialis</li>
          <li class="safety-network">Safety Network</li>
          <li class="tpa">TPA</li>
          <li class="mylan">Mylan</li>
          <li class="bailly-creat">Bailly-Creat</li>
          <li class="sanofi">Sanofi pasteur</li>
          <li class="aepk">AEPK</li>
          <li class="kubitus">Kubitus</li>
          <li class="keleos">Keleos</li>
        </ul>
      </section>

      <footer>
        <ul>
          <li>© Copyright Kozea 2008 2014</li>
          <li><a href="http://community.kozea.fr">Kozea Projects</a></li>
          <li><a href="http://validator.w3.org/check?uri=referer">Optimized for Standards</a></li>
          <li><a href="http://www.w3.org"><img src="{{ static('images/w3cmember.png') }}" alt="W3C Member" /></a></li>
        </ul>
      </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ static('javascripts/jquery-ui.min.js') }}"></script>
    <script src="{{ static('javascripts/bootstrap.min.js') }}"></script>
    <script src="{{ static('javascripts/main.js') }}"></script>
    <script src="{{ static('javascripts/bxslider/jquery.bxslider.min.js') }}"></script>
    <script src="{{ static('javascripts/jquery.address.js') }}"></script>

  </body>
</html>
