{%- from "_utils.jinja2" import static -%}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ static('images/favicon.png') }}">
    {%- include "_ie.jinja2" -%}

    <link rel="stylesheet" href="{{ static('stylesheets/jquery-ui.css') }}"/>
    <link href="{{ static('stylesheets/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ static('stylesheets/main.css') }}" rel="stylesheet">

    <title>Kozea</title>
  </head>

  <body data-spy="scroll" data-target="#main-menu" data-offset="85">
      <header id="main-header">
        <h1 id="header-title">Kozea</h1>
        <hr id="switch" />
      </header>

      <nav id="main-menu">
        <ul class="nav">
          <li><a href="#main-header">Kozea</a></li>
          <li><a href="#web">Web</a></li>
          <li><a href="#libre">Libre</a></li>
          <li><a href="#community">Community</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

      <section id="banner">
        <h2>Kozea</h2>
        <span class="slogan">Your projects,<br/>our expertise</span>
        <small>{{ lipsum(1, False) }}</small>
      </section>
      <section id="web" class="fullpage-item">
        <h2>Web</h2>
        <article id="software">
          <h3>Software development</h3>
          <p>{{ lipsum(2, False) }}</p>
        </article>
        <article id="consulting">
          <h3>Consulting</h3>
          <p>{{ lipsum(3, False) }}</p>
        </article>
        <article id="webdesign">
          <h3>Webdesign</h3>
          <p>{{ lipsum(2, False) }}</p>
        </article>
      </section>
      <section id="libre" class="fullpage-item">
        <h2>Libre</h2>
        <p>{{ lipsum(10, False) }}</p>
      </section>
      <section id="community" class="fullpage-item">
        <h2>Community</h2>
        <p>{{ lipsum(10, False) }}</p>
      </section>

      <section id="contact">
        <h2>Contact</h2>

        <article class="phone">
          <h3>Telephone</h3>
          <dl>
            <dd>Standard</dd>
            <dt>+33 4 78 84 19 28</dt>
            <dd>Technical support</dd>
            <dt>+33 4 27 11 83 97</dt>
            <dd>Fax</dd>
            <dt>+33 4 27 11 83 98</dt>
          </dl>
        </article>

        <article class="email">
          <h3>Email</h3>
           <dl>
            <dd>Business contact</dd>
            <dt><a href="mailto:contact@kozea.fr">contact@kozea.fr</a></dt>
            <dd>Technical support</dd>
            <dt><a href="mailto:support@kozea.fr">support@kozea.fr</a></dt>
          </dl>
        </article>

        <article class="address">
          <h3>Postal address</h3>
          <p>Headquarters:</p>
          <blockquote>
            KOZEA<br/>
            1 rue Louis et Marie-Louis Baumer<br/>
            69120 Vaulx-en-Velin<br/>
            FRANCE
          </blockquote>

        </article>
      </section>

      <footer>
        <ul>
          <li>© Copyright Kozea 2008 2014</li>
          <li><a href="http://community.kozea.fr">Kozea Projects</a></li>
          <li><a href="http://validator.w3.org/check?uri=referer">Optimized for Standards</a></li>
          <li><a href="http://www.w3.org"><img src="{{ static('images/w3cmember.png') }}" alt="W3C Member" /></a></li>
        </ul>
      </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ static('javascripts/jquery-ui.min.js') }}"></script>
    <script src="{{ static('javascripts/bootstrap.min.js') }}"></script>
    <script src="{{ static('javascripts/main.js') }}"></script>

  </body>
</html>
